<div class="AnchorTabs" data-widget="anchortabs">
    <!-- This creates the row of tabs for navigation -->
    <div class="AnchorTabs-tabWrapper">
        {{#with tabs}}
            <ul class="AnchorTabs-tabs">
                {{#each this}}
                    <li>
                        <a class="AnchorTabs-tab" href="#{{id}}" data-tab>{{label}}</a>
                    </li>
                {{/each}}
            </ul>
        {{/with}}
    </div>
    <div class="AnchorTabs-content">
        {{#each tabs}}
            {{#with title}}
                <a class="AnchorTabs-title-panel" href="#{{../id}}" data-tab>{{this}}</a>
            {{/with}}
            <div class="AnchorTabs-panel" id="{{id}}" data-tab-panel>
                {{this}}
            </div>
        {{/each}}
    </div>
</div>
