<div class="BottomBorderTabs" data-widget="Tabs">
    {{#with title}}
        <a class="BottomBorderTabs-title-panel" href="#{{../id}}" data-tab>{{this}}</a>
    {{/with}}
    <!-- This creates the row of tabs for navigation -->
    {{#with tabs}}
        <ul class="BottomBorderTabs-tabs">
            {{#each this}}
                <li>
                    <a class="BottomBorderTabs-tab" href="#{{id}}" data-tab>{{label}}</a>
                </li>
            {{/each}}
        </ul>
    {{/with}}
    <div class="BottomBorderTabs-content">
        {{#each tabs}}
            {{#with title}}
                <a class="BottomBorderTabs-title-panel" href="#{{../id}}" data-tab>{{this}}</a>
            {{/with}}
            <div class="BottomBorderTabs-panel" id="{{id}}" data-tab-panel>
                {{render this [/core/tab/TabItem.hbs]="/core/tab/BottomBorderTabItem.hbs"}}
            </div>
        {{/each}}
    </div>
</div>
