<div class="FullWidthTabs" data-widget="Tabs">
    <!-- This creates the row of tabs for navigation -->
    <div class="FullWidthTabs-tabWrapper">
        {{#with tabs}}
            <ul class="FullWidthTabs-tabs">
                {{#each this}}
                    <li>
                        <a class="FullWidthTabs-tab" href="#{{id}}" data-tab>{{label}}</a>
                    </li>
                {{/each}}
            </ul>
        {{/with}}
    </div>
    <div class="FullWidthTabs-content">
        {{#each tabs}}
            {{#with title}}
                <a class="FullWidthTabs-title-panel" href="#{{../id}}" data-tab>{{this}}</a>
            {{/with}}
            <div class="FullWidthTabs-panel" id="{{id}}" data-tab-panel>
                {{this}}
            </div>
        {{/each}}
    </div>
</div>
