<{{#if countUpAnimation}}bsp-stat-list{{else}}div{{/if}} class="StatListB" data-module {{include "/page/list/includes/PageList-attributes.hbs" this}}>
    {{include "/global/ModuleHeader.hbs" this}}

    {{#if items}}
        <div class="StatList-items" data-column-count="{{items.length}}">
            {{#each items}}
                <div class="StatList-items-item">
                    {{#if ../countUpAnimation}}
                        {{include "/stat/StatPromo.hbs" this countUpAnimation=true statTitlePosition=false}}
                    {{else}}
                        {{include "/stat/StatPromo.hbs" this}}
                    {{/if}}
                    </div>
            {{/each}}
        </div>
    {{/if}}

    {{include "/page/list/includes/PageList-footer.hbs" this}}
</{{#if countUpAnimation}}bsp-stat-list{{else}}div{{/if}}>
