<div class="StatPromo">
    {{#if value}}
        <div class="StatPromo-content">
            {{#unless statTitlePosition}}
                {{#with title}}
                    <div class="StatPromo-title">
                        {{this}}
                    </div>
                {{/with}}
            {{/unless}}
            {{#eq statTitlePosition "left"}}
                {{#with title}}
                    <span class="StatPromo-title">
                        {{this}}
                    </span>
                {{/with}}
            {{/eq}}
            <span class="StatPromo-value" data-counter data-target="{{value}}">{{#if countUpAnimation}}0{{else}}{{value}}{{/if}}</span>
            {{#eq statTitlePosition "right"}}
                {{#with title}}
                    <span class="StatPromo-title">
                        {{this}}
                    </span>
                {{/with}}
            {{/eq}}
        </div>
        {{#with description}}
            <span class="StatPromo-description">
                {{this}}
            </span>
        {{/with}}
    {{/if}}
</div>
