<div id="googleAd{{adIndex}}" class="GoogleDfpAd"
    {{~#with slot}} data-slot-name="{{this}}"{{/with~}}
    {{~#with sizes}} data-slot-sizes="{{this}}"{{/with~}}
    {{~#with pos}} data-pos="{{this}}"{{/with~}}
    {{~#with ptype}} data-ptype="{{this}}"{{/with~}}
    {{~#with hideMobile}} data-hide-mobile="{{this}}"{{/with}}
    {{~#with hideDesktop}} data-hide-desktop="{{this}}"{{/with}}
    {{~#with adSizeMaps}} data-slot-adSizeMap="{{this}}"{{/with~}}
    {{~#with targeting}} data-module-targeting='{{this}}'{{/with~}}>
    <span class="GoogleDfpAd-placeholder"></span>
</div>