<figure class="Figure">
    {{#resize image (fallback (get "imageSize") "large-16x9")}}
    <amp-img layout="responsive" src="{{src}}" alt="{{../alt}}" {{~#with srcset}} srcset="{{this}}" {{/with~}} {{~#with width}} width="{{this}}" {{/with~}} {{~#with height}} height="{{this}}" {{/with~}}></amp-img>
    {{/resize}}
    {{!-- we do not have or yet, once we do, I'll convert this --}}
    {{#if caption}}
        <div class="Figure-content">
    {{else}}
        {{#if credit}}
            <div class="Figure-content">
        {{/if}}
    {{/if}}

        {{~#with caption~}}
            <figcaption class="Figure-caption">{{this}}</figcaption>
        {{~/with~}}
        {{~#with credit~}}
            <div class="Figure-credit">{{this}}</div>
        {{~/with~}}

    {{#if caption}}
        </div>
    {{else}}
        {{#if credit}}
            </div>
        {{/if}}
    {{/if}}
</figure>
