{{#if sponsorName}}
    <div class="PagePromo-byline">
        <div class="PagePromo-sponsoredBy">
            <span class="PagePromo-sponsoredBy-text">{{format "/page/promo/PagePromo" "sponsorBy"}}</span>
            <span class="PagePromo-sponsoredBy-logo">
                {{include "/link/Link.hbs" href=sponsorUrl target=sponsorTarget body=sponsorName}}
            </span>
        </div>
    </div>
{{else}}
    {{#or publishDate authorName}}
        <div class="PagePromo-byline">
            {{~#if publishDate~}}
                <div class="PagePromo-date">{{publishDate}}</div>{{#if authorName}}<span class="dot">&nbsp;&#183;&nbsp;</span>{{/if}}
            {{~/if~}}
            {{~#if authorName~}}
                <div class="PagePromo-author">{{include "/link/Link.hbs" href=authorUrl body=authorName}}</div>
            {{~/if~}}
        </div>
    {{/or}}
{{/if}}
