<!DOCTYPE html>
<html class="PresentationDigitalDocumentPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="PresentationDigitalDocumentPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="PresentationDigitalDocumentPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="PresentationDigitalDocumentPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="PresentationDigitalDocumentPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="PresentationDigitalDocumentPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="PresentationDigitalDocumentPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="PresentationDigitalDocumentPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="PresentationDigitalDocumentPage-searchInput" name="q">
                    <button type="submit" class="PresentationDigitalDocumentPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="PresentationDigitalDocumentPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="PresentationDigitalDocumentPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="PresentationDigitalDocumentPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="PresentationDigitalDocumentPage-above">{{this}}</div>
        {{/with}}
        <main class="PresentationDigitalDocumentPage-main">
            {{#with breadcrumbs}}
                <div class="PresentationDigitalDocumentPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <div class="PresentationDigitalDocumentPage-mainContent" itemprop="mainEntity" itemscope itemtype="http://schema.org/PresentationDigitalDocument">
                {{#with headline}}
                    <h1 class="PresentationDigitalDocumentPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with subHeadline}}
                    <div class="PresentationDigitalDocumentPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                {{/with}}
                <div class="PresentationDigitalDocumentPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {{#with authorImage}}
                        <div class="PresentationDigitalDocumentPage-authorImage" itemprop="image">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            <img alt="" src="{{src}}"
                            {{~#with srcset}} srcset="{{this}}"{{/with~}}
                            {{~#with width}} width="{{this}}"{{/with~}}
                            {{~#with height}} height="{{this}}"{{/with~}}
                        >
                        {{#with ../authorUrl}}</a>{{/with}}
                    </div>
                {{/with}}
                <div class="PresentationDigitalDocumentPage-authorTexts">
                    {{#with authorName}}
                        <div class="PresentationDigitalDocumentPage-authorName" itemprop="name">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            {{this}}
                            {{#with ../authorUrl}}</a>{{/with}}
                        </div>
                    {{/with}}
                    {{#with authorBiography}}
                        <div class="PresentationDigitalDocumentPage-authorBiography">{{this}}</div>
                    {{/with}}
                </div>
            </div>
            {{#with contributors}}
                <div class="PresentationDigitalDocumentPage-contributors">
                    <h2 class="PresentationDigitalDocumentPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                    <div class="PresentationDigitalDocumentPage-contributors-body">
                        {{~#each this~}}
                            {{~this~}}
                            {{~#unless @last}}, {{/unless~}}
                        {{~/each~}}
                    </div>
                </div>
            {{/with}}
            {{#with dateExpired}}
                <div class="PresentationDigitalDocumentPage-dateExpired">{{dateExpired}}</div>
                {{#with dateExpiredISO}}
                    <meta itemprop="expires" content="{{this}}">
                {{/with}}
            {{/with}}
            <div class="PresentationDigitalDocumentPage-datePublished">{{datePublished}}</div>
            {{#with datePublishedISO}}
                <meta itemprop="datePublished" content="{{this}}">
            {{/with}}
            <div class="PresentationDigitalDocumentPage-dateModified">{{dateModified}}</div>
            {{#with dateModifiedISO}}
                <meta itemprop="dateModified" content="{{this}}">
            {{/with}}
            {{#with media}}
                <div class="PresentationDigitalDocumentPage-media">
                    {{this}}
                </div>
            {{/with}}
            {{#with status}}
                <div class="PresentationDigitalDocumentPage-status">{{this}}</div>
            {{/with}}
            <aside class="PresentationDigitalDocumentPage-documentProperties">
                {{#with collections}}
                    <div class="PresentationDigitalDocumentPage-collections">
                        <h4 class="PresentationDigitalDocumentPage-collections-heading">{{format "/dam/document/DigitalDocumentPage" "collectionsHeading"}}</h4>
                        <div class="PresentationDigitalDocumentPage-collections-body">
                            {{~#each this~}}
                                {{~this~}}
                                {{~#unless @last}}, {{/unless~}}
                            {{~/each~}}
                        </div>
                    </div>
                {{/with}}
                {{#with fileFormat}}
                    <div class="PresentationDigitalDocumentPage-fileFormat">
                        <h4 class="PresentationDigitalDocumentPage-fileFormat-heading">{{format "/dam/document/DigitalDocumentPage" "fileFormatHeading"}}</h4>
                        <div class="PresentationDigitalDocumentPage-fileFormat-body" itemprop="encodingFormat">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileSize}}
                    <div class="PresentationDigitalDocumentPage-fileSize">
                        <h4 class="PresentationDigitalDocumentPage-fileSize-heading">{{format "/dam/document/DigitalDocumentPage" "fileSizeHeading"}}</h4>
                        <div class="PresentationDigitalDocumentPage-fileSize-body" itemprop="contentSize">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileUrl}}
                    <div class="PresentationDigitalDocumentPage-fileUrl">
                        <h4 class="PresentationDigitalDocumentPage-fileUrl-heading">{{format "/dam/document/DigitalDocumentPage" "fileUrlHeading"}}</h4>
                        <div class="PresentationDigitalDocumentPage-fileUrl-body" itemprop="contentUrl">{{this}}</div>
                    </div>
                {{/with}}
                {{#with embedUrl}}
                    <div class="PresentationDigitalDocumentPage-embedUrl">
                        <h4 class="PresentationDigitalDocumentPage-embedUrl-heading">{{format "/dam/document/DigitalDocumentPage" "embedUrlHeading"}}</h4>
                        <div class="PresentationDigitalDocumentPage-embedUrl-body" itemprop="embedUrl">{{this}}</div>
                    </div>
                {{/with}}
            </aside>
        </div>
        {{#with tags}}
            <div class="PresentationDigitalDocumentPage-tags">
                <h2 class="PresentationDigitalDocumentPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                <div class="PresentationDigitalDocumentPage-tags-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with countries}}
            <div class="PresentationDigitalDocumentPage-countries">
                <h2 class="PresentationDigitalDocumentPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                <div class="PresentationDigitalDocumentPage-countries-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with brands}}
            <div class="PresentationDigitalDocumentPage-brands">
                <h2 class="PresentationDigitalDocumentPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                <div class="PresentationDigitalDocumentPage-brands-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with products}}
            <div class="PresentationDigitalDocumentPage-products">
                <h2 class="PresentationDigitalDocumentPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                <div class="PresentationDigitalDocumentPage-products-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with topics}}
            <div class="PresentationDigitalDocumentPage-topics">
                <h2 class="PresentationDigitalDocumentPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                <div class="PresentationDigitalDocumentPage-topics-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with actions}}
            <div class="PresentationDigitalDocumentPage-actions">
                <h2 class="PresentationDigitalDocumentPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                <div class="PresentationDigitalDocumentPage-actions-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with comments}}
            <div class="PresentationDigitalDocumentPage-comments">
                {{this}}
            </div>
        {{/with}}
    </main>
    {{#with aside}}
        <aside class="PresentationDigitalDocumentPage-aside">{{this}}</aside>
    {{/with}}
    {{#with below}}
        <div class="PresentationDigitalDocumentPage-below">{{this}}</div>
    {{/with}}
    <footer class="PresentationDigitalDocumentPage-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="PresentationDigitalDocumentPage-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="PresentationDigitalDocumentPage-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="PresentationDigitalDocumentPage-footerContent">{{this}}</div>
        {{/with}}
        {{#with social}}
            <div class="PresentationDigitalDocumentPage-social">{{this}}</div>
        {{/with}}
        {{#with disclaimer}}
            <div class="PresentationDigitalDocumentPage-disclaimer">{{this}}</div>
        {{/with}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
