<div class="TweetUrl">
    <amp-twitter data-block-on-consent width="{{~#with width}}{{this}}{{else}}375{{/with~}}"
                 height="{{~#with height}}{{this}}{{else}}472{{/with~}}"
                 layout="fixed"
                 data-tweetid="{{postId}}">
    </amp-twitter>
</div>
