<div class="LogoPromo">
    {{#set imageSize=(fallback (get "imageSize") "logo-freeform")}}
        {{#if media}}
            <div class="PagePromo-media">
                {{~#if url~}}
                    <a class="Link" {{#with name}}aria-label="{{this}}"{{/with}} href="{{url}}">{{media}}</a>
                {{~else~}}
                    <span class="Link">{{media}}</span>
                {{~/if~}}
            </div>
        {{/if}}
    {{/set}}
</div>
