{{~#if href~}}
    <a class="FreeformButton{{#with extraClasses}} {{this}}{{/with}}" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}>{{body}}</a>
{{~else~}}
    <span class="FreeformButton{{#with extraClasses}} {{this}}{{/with}}">{{body}}</span>
{{~/if~}}
