<!DOCTYPE html>
<html class="BlogPostPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="BlogPostPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="BlogPostPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="BlogPostPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="BlogPostPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="BlogPostPage-searchInput" name="q">
                    <button type="submit" class="BlogPostPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="BlogPostPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="BlogPostPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="BlogPostPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="BlogPostPage-above">{{this}}</div>
        {{/with}}
        <main class="BlogPostPage-main">
            {{#with breadcrumbs}}
                <div class="BlogPostPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with blogNavigation}}
                <div class="BlogPostPage-blogNavigation">{{this}}</div>
            {{/with}}
            <article class="BlogPostPage-mainContent" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
                {{#with headline}}
                    <h1 class="BlogPostPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with subHeadline}}
                    <div class="BlogPostPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                {{/with}}
                <div class="BlogPostPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {{#with authorImage}}
                        <div class="BlogPostPage-authorImage" itemprop="image">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            <img alt="" src="{{src}}"
                            {{~#with srcset}} srcset="{{this}}"{{/with~}}
                            {{~#with width}} width="{{this}}"{{/with~}}
                            {{~#with height}} height="{{this}}"{{/with~}}
                        >
                        {{#with ../authorUrl}}</a>{{/with}}
                    </div>
                {{/with}}
                <div class="BlogPostPage-authorTexts">
                    {{#with authorName}}
                        <div class="BlogPostPage-authorName" itemprop="name">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            {{this}}
                            {{#with ../authorUrl}}</a>{{/with}}
                        </div>
                    {{/with}}
                    {{#with authorBiography}}
                        <div class="BlogPostPage-authorBiography">{{this}}</div>
                    {{/with}}
                </div>
            </div>
            {{#with contributors}}
                <div class="BlogPostPage-contributors">
                    <h2 class="BlogPostPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                    <div class="BlogPostPage-contributors-body">
                        {{~#each this~}}
                            {{~this~}}
                            {{~#unless @last}}, {{/unless~}}
                        {{~/each~}}
                    </div>
                </div>
            {{/with}}
            {{#with dateExpired}}
                <div class="BlogPostPage-dateExpired">{{dateExpired}}</div>
                {{#with dateExpiredISO}}
                    <meta itemprop="expires" content="{{this}}">
                {{/with}}
            {{/with}}
            <div class="BlogPostPage-datePublished">{{datePublished}}</div>
            {{#with datePublishedISO}}
                <meta itemprop="datePublished" content="{{this}}">
            {{/with}}
            <div class="BlogPostPage-dateModified">{{dateModified}}</div>
            {{#with dateModifiedISO}}
                <meta itemprop="dateModified" content="{{this}}">
            {{/with}}
            {{#with lead}}
                <div class="BlogPostPage-lead">{{this}}</div>
            {{/with}}
            {{#with articleBody}}
                <div class="BlogPostPage-articleBody" itemprop="articleBody">{{this}}</div>
            {{/with}}
            {{#with updatesCorrections}}
                <div class="BlogPostPage-updatesCorrections" itemprop="articleBody">{{this}}</div>
            {{/with}}
        </article>
        {{#with tags}}
            <div class="BlogPostPage-tags">
                <h2 class="BlogPostPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                <div class="BlogPostPage-tags-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with countries}}
            <div class="BlogPostPage-countries">
                <h2 class="BlogPostPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                <div class="BlogPostPage-countries-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with brands}}
            <div class="BlogPostPage-brands">
                <h2 class="BlogPostPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                <div class="BlogPostPage-brands-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with products}}
            <div class="BlogPostPage-products">
                <h2 class="BlogPostPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                <div class="BlogPostPage-products-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with topics}}
            <div class="BlogPostPage-topics">
                <h2 class="BlogPostPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                <div class="BlogPostPage-topics-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with actions}}
            <div class="BlogPostPage-actions">
                <h2 class="BlogPostPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                <div class="BlogPostPage-actions-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with comments}}
            <div class="BlogPostPage-comments">
                {{this}}
            </div>
        {{/with}}
    </main>
    {{#with aside}}
        <aside class="BlogPostPage-aside">{{this}}</aside>
    {{/with}}
    {{#with below}}
        <div class="BlogPostPage-below">{{this}}</div>
    {{/with}}
    <footer class="BlogPostPage-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="BlogPostPage-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="BlogPostPage-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="BlogPostPage-footerContent">{{this}}</div>
        {{/with}}
        {{include "/core/page/Page-social.hbs" this}}
        {{#with disclaimer}}
            <div class="BlogPostPage-disclaimer">{{this}}</div>
        {{/with}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
