<!DOCTYPE html>
<html ⚡ class="ClipPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        {{include "/core/page/Page-charset.hbs" this}}
        {{include "/core/page/Page-webFontLink.amp.hbs" this}}
        {{include "/core/page/Page-styles.amp.hbs" this}}
        {{include "/core/page/Page-jsonLinkedData.hbs" this}}
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        {{include "/core/page/Page-title.hbs" this}}
        {{include "/core/page/Page-description.hbs" this}}
        {{include "/core/page/Page-keywords.hbs" this}}
        {{include "/core/page/Page-canonicalLink.hbs" this}}
        {{include "/core/page/Page-meta.hbs" this}}
        {{include "/core/page/Page-favicons.hbs" this}}
        {{include "/core/page/Page-manifestLink.hbs" this}}
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {{include "/core/page/Page-ampJs.amp.hbs" this}}
        {{#if searchAction}}
            <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        {{/if}}
    </head>
    <body class="ClipPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="ClipPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="ClipPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="ClipPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="ClipPage-searchInput" name="q">
                    <button type="submit" class="ClipPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="ClipPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="ClipPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="ClipPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="ClipPage-above">{{this}}</div>
        {{/with}}
        {{#if showPageHeading}}
            {{#with pageHeading}}
                <div class="ClipPage-pageHeading">{{this}}</div>
            {{/with}}
        {{/if}}
        <main class="ClipPage-main">
            {{#with breadcrumbs}}
                <div class="ClipPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <article class="ClipPage" itemprop="mainEntity" itemscope itemtype="http://schema.org/Clip" {{extraAttributes}}>
                {{#with name}}
                    <div class="ClipPage-name" itemprop="name">{{this}}</div>
                {{/with}}
                {{#with schemaLink}}
                    {{this}}
                {{/with}}
                {{#with player}}
                    <div class="ClipPage-player" itemprop="video">{{this}}</div>
                {{/with}}
                {{#with shortDescription}}
                    <div class="ClipPage-shortDescription">{{this}}</div>
                {{/with}}
                {{#with fullDescription}}
                    <div class="ClipPage-fullDescription" itemprop="description">{{this}}</div>
                {{/with}}
                {{#with premierDate}}
                    <div class="ClipPage-premierDate" itemprop="datePublished">{{this}}</div>
                {{/with}}
                {{#with internalName}}
                    <div class="ClipPage-internalName">{{this}}</div>
                {{/with}}
                {{#with mediaType}}
                    <div class="ClipPage-mediaType">{{this}}</div>
                {{/with}}
            </article>
            {{#with tags}}
                <div class="ClipPage-tags">
                    <h2 class="ClipPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="ClipPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="ClipPage-countries">
                    <h2 class="ClipPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="ClipPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="ClipPage-brands">
                    <h2 class="ClipPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="ClipPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="ClipPage-products">
                    <h2 class="ClipPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="ClipPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="ClipPage-topics">
                    <h2 class="ClipPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="ClipPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="ClipPage-actions">
                    <h2 class="ClipPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="ClipPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="ClipPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="ClipPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="ClipPage-below">{{this}}</div>
        {{/with}}
        <footer class="ClipPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="ClipPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-ampIntegrations.amp.hbs" this}}
        {{include "/core/page/Page-ampAnalytics.amp.hbs" this}}
    </body>
</html>
