<!DOCTYPE html>
<html class="ClipPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="ClipPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="ClipPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="ClipPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="ClipPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="ClipPage-searchInput" name="q">
                    <button type="submit" class="ClipPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="ClipPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="ClipPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="ClipPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="ClipPage-above">{{this}}</div>
        {{/with}}
        <main class="ClipPage-main">
            {{#with breadcrumbs}}
                <div class="ClipPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <article class="ClipPage" itemprop="mainEntity" itemscope itemtype="http://schema.org/Clip" {{extraAttributes}}>
                {{#with headline}}
                    <h1 class="ClipPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with schemaLink}}
                    {{this}}
                {{/with}}
                {{#with player}}
                    <div class="ClipPage-player" itemprop="video">{{this}}</div>
                {{/with}}
                {{#with shortDescription}}
                    <div class="ClipPage-shortDescription">{{this}}</div>
                {{/with}}
                {{#with fullDescription}}
                    <div class="ClipPage-fullDescription" itemprop="description">{{this}}</div>
                {{/with}}
                {{#with mediaType}}
                    <div class="ClipPage-mediaType">{{this}}</div>
                {{/with}}
            </article>
            {{#with tags}}
                <div class="ClipPage-tags">
                    <h2 class="ClipPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="ClipPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="ClipPage-countries">
                    <h2 class="ClipPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="ClipPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="ClipPage-brands">
                    <h2 class="ClipPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="ClipPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="ClipPage-products">
                    <h2 class="ClipPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="ClipPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="ClipPage-topics">
                    <h2 class="ClipPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="ClipPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="ClipPage-actions">
                    <h2 class="ClipPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="ClipPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="ClipPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="ClipPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="ClipPage-below">{{this}}</div>
        {{/with}}
        <footer class="ClipPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="ClipPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="ClipPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="ClipPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="ClipPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
