<!DOCTYPE html>
<html ⚡ class="FranchisePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        {{include "/core/page/Page-charset.hbs" this}}
        {{include "/core/page/Page-webFontLink.amp.hbs" this}}
        {{include "/core/page/Page-styles.amp.hbs" this}}
        {{include "/core/page/Page-jsonLinkedData.hbs" this}}
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        {{include "/core/page/Page-title.hbs" this}}
        {{include "/core/page/Page-description.hbs" this}}
        {{include "/core/page/Page-keywords.hbs" this}}
        {{include "/core/page/Page-canonicalLink.hbs" this}}
        {{include "/core/page/Page-meta.hbs" this}}
        {{include "/core/page/Page-favicons.hbs" this}}
        {{include "/core/page/Page-manifestLink.hbs" this}}
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {{include "/core/page/Page-ampJs.amp.hbs" this}}
        {{#if searchAction}}
            <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        {{/if}}
    </head>
    <body class="FranchisePage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="FranchisePage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="FranchisePage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="FranchisePage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="FranchisePage-searchInput" name="q">
                    <button type="submit" class="FranchisePage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="FranchisePage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="FranchisePage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="FranchisePage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="FranchisePage-above">{{this}}</div>
        {{/with}}
        {{#if showPageHeading}}
            {{#with pageHeading}}
                <div class="FranchisePage-pageHeading">{{this}}</div>
            {{/with}}
        {{/if}}
        <main class="FranchisePage-main">
            {{#with breadcrumbs}}
                <div class="FranchisePage-breadcrumbs">{{this}}</div>
            {{/with}}
            <article class="FranchisePage-mainContent" itemprop="mainEntity" itemscope itemtype="https://schema.org/Organization">
                {{#with headline}}
                    <h1 class="FranchisePage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with internalName}}
                    <div class="FranchisePage-internalName">{{this}}</div>
                {{/with}}
                {{#with lead}}
                    <div class="FranchisePage-lead" itemprop="episode" itemscope itemtype="https://schema.org/episode">{{this}}</div>
                {{/with}}
                {{#with franchiseNavigation}}
                    <div class="FranchisePage-franchiseNavigation">{{this}}</div>
                {{/with}}
                {{#with slug}}
                    <div class="FranchisePage-slug">{{this}}</div>
                {{/with}}
                {{#with shortDescription}}
                    <div class="FranchisePage-shortDescription">{{this}}</div>
                {{/with}}
                {{#with fullDescription}}
                    <div class="FranchisePage-fullDescription" itemprop="description" itemscope itemtype="https://schema.org/description">{{this}}</div>
                {{/with}}
            </article>
            {{#with tags}}
                <div class="FranchisePage-tags">
                    <h2 class="FranchisePage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="FranchisePage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="FranchisePage-countries">
                    <h2 class="FranchisePage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="FranchisePage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="FranchisePage-brands">
                    <h2 class="FranchisePage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="FranchisePage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="FranchisePage-products">
                    <h2 class="FranchisePage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="FranchisePage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="FranchisePage-topics">
                    <h2 class="FranchisePage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="FranchisePage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="FranchisePage-actions">
                    <h2 class="FranchisePage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="FranchisePage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="FranchisePage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="FranchisePage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="FranchisePage-below">{{this}}</div>
        {{/with}}
        <footer class="FranchisePage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="FranchisePage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-ampIntegrations.amp.hbs" this}}
        {{include "/core/page/Page-ampAnalytics.amp.hbs" this}}
    </body>
</html>
