<div class="PodcastEpisodeEnhancement">
    {{#with title}}
        <div class="PodcastEpisodeEnhancement-title">{{this}}</div>
    {{/with}}
    {{#with podcastImage}}
        {{this}}
    {{/with}}
    {{#with podcastEpisodeImage}}
        {{this}}
    {{/with}}
    {{#with audioImage}}
        {{this}}
    {{/with}}
    {{#with shortDescription}}
        <div class="PodcastEpisodeEnhancement-shortDescription">{{this}}</div>
    {{/with}}
    {{#with player}}
        <div class="PodcastEpisodeEnhancement-player" itemprop="audio">{{this}}</div>
    {{/with}}
</div>
