<!DOCTYPE html>
<html class="EpisodePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="EpisodePage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        {{include "/core/page/Page-header.hbs" this}}
        {{include "/core/page/Page-banner.hbs" this}}
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{include "/core/page/Page-packageNavigation.hbs" this}}
        {{include "/core/page/Page-above.hbs" this}}
        <main class="EpisodePage-main">
            {{include "/core/page/ContentPage-breadcrumbs.hbs" this}}
            <article class="EpisodePage" itemprop="mainEntity" itemscope itemtype="http://schema.org/Episode" {{extraAttributes}}>
                {{include "/core/page/CreativeWorkPage-headline.hbs" this}}
                {{#with premiereDate}}
                    <div class="EpisodePage-premiereDate" itemprop="datePublished">{{this}}</div>
                {{/with}}
                {{#with podcastImage}}
                    {{this}}
                {{/with}}
                {{#with podcastLink}}
                    {{this}}
                {{/with}}
                {{#with episodeNumber}}
                    <div class="EpisodePage-episodeNumber" itemprop="episodeNumber">{{format "/media/PodcastEpisodePage" "episodeNumberText" number=this}}</div>
                {{/with}}
                {{#with shortDescription}}
                    <div class="EpisodePage-shortDescription">{{this}}</div>
                {{/with}}
                {{#with player}}
                    <div class="EpisodePage-player" itemprop="audio">{{this}}</div>
                {{/with}}
                {{#with fullDescription}}
                    <div class="EpisodePage-fullDescription" itemprop="description">{{this}}</div>
                {{/with}}
            </article>
            {{include "/core/page/ContentPage-tags.hbs" this}}
            {{include "/core/page/ContentPage-countries.hbs" this}}
            {{include "/core/page/ContentPage-brands.hbs" this}}
            {{include "/core/page/ContentPage-products.hbs" this}}
            {{include "/core/page/ContentPage-topics.hbs" this}}
            {{include "/core/page/ContentPage-actions.hbs" this}}
            {{include "/core/page/ContentPage-comments.hbs" this}}
        </main>
        {{include "/core/page/Page-aside.hbs" this}}
        {{include "/core/page/Page-below.hbs" this}}
        {{include "/core/page/Page-footer.hbs" this}}
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
