{{~#if href~}}
    <a class="SchemaLink" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{#with schemaProperty}} itemprop="{{this}}"{{/with}}>{{body}}</a>
{{~else~}}
    <span class="SchemaLink">{{body}}</span>
{{~/if~}}
