<!DOCTYPE html>
<html class="SeasonPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="SeasonPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="SeasonPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="SeasonPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="SeasonPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="SeasonPage-searchInput" name="q">
                    <button type="submit" class="SeasonPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="SeasonPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="SeasonPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="SeasonPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="SeasonPage-above">{{this}}</div>
        {{/with}}
        <main class="SeasonPage-main">
            {{#with breadcrumbs}}
                <div class="SeasonPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <article class="SeasonPage-mainContent" itemprop="mainEntity" itemscope itemtype="https://schema.org/TVSeason">
                {{#with headline}}
                    <h1 class="SeasonPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{include "/media/EpisodePage-show.hbs" this}}
                {{#with lead}}
                    <div class="SeasonPage-lead">{{this}}</div>
                {{/with}}
                {{#with seasonNumber}}
                    <div class="SeasonPage-seasonNumber" itemprop="seasonNumber" itemscope itemtype="https//schema.org/seasonNumber">{{this}}</div>
                {{/with}}
                {{#with shortDescription}}
                    <div class="SeasonPage-shortDescription">{{this}}</div>
                {{/with}}
                {{#with fullDescription}}
                    <div class="SeasonPage-fullDescription" itemprop="description" itemscope itemtype="https://schema.org/description">{{this}}</div>
                {{/with}}
                {{#with contents}}
                    <div class="SeasonPage-contents">{{this}}</div>
                {{/with}}
            </article>
            {{#with tags}}
                <div class="SeasonPage-tags">
                    <h2 class="SeasonPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="SeasonPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="SeasonPage-countries">
                    <h2 class="SeasonPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="SeasonPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="SeasonPage-brands">
                    <h2 class="SeasonPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="SeasonPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="SeasonPage-products">
                    <h2 class="SeasonPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="SeasonPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="SeasonPage-topics">
                    <h2 class="SeasonPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="SeasonPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="SeasonPage-actions">
                    <h2 class="SeasonPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="SeasonPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="SeasonPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="SeasonPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="SeasonPage-below">{{this}}</div>
        {{/with}}
        <footer class="SeasonPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="SeasonPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="SeasonPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="SeasonPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="SeasonPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
