<!DOCTYPE html>
<html class="ShowPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="ShowPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="ShowPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="ShowPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="ShowPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="ShowPage-searchInput" name="q">
                    <button type="submit" class="ShowPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="ShowPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="ShowPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="ShowPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="ShowPage-above">{{this}}</div>
        {{/with}}
        <main class="ShowPage-main">
            {{#with breadcrumbs}}
                <div class="ShowPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <article class="ShowPage-mainContent" itemprop="mainEntity" itemscope itemtype="https://schema.org/TVSeries">
                {{#with headline}}
                    <h1 class="ShowPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with lead}}
                    <div class="ShowPage-lead">{{this}}</div>
                {{/with}}
                {{#with shortDescription}}
                    <div class="ShowPage-shortDescription">{{this}}</div>
                {{/with}}
                {{#with fullDescription}}
                    <div class="ShowPage-fullDescription" itemprop="description" itemscope itemtype="https://schema.org/description">{{this}}</div>
                {{/with}}
                {{#with contents}}
                    <div class="ShowPage-contents">{{this}}</div>
                {{/with}}
                {{#with genres}}
                    <ul class="ShowPage-genres">
                        {{#each this}}
                            <li class="ShowPage-genres" itemprop="genre" itemscope itemtype="https://schema.org/genre">{{this}}</li>
                        {{/each}}
                    </ul>
                {{/with}}
            </article>
            {{#with tags}}
                <div class="ShowPage-tags">
                    <h2 class="ShowPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="ShowPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="ShowPage-countries">
                    <h2 class="ShowPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="ShowPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="ShowPage-brands">
                    <h2 class="ShowPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="ShowPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="ShowPage-products">
                    <h2 class="ShowPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="ShowPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="ShowPage-topics">
                    <h2 class="ShowPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="ShowPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="ShowPage-actions">
                    <h2 class="ShowPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="ShowPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="ShowPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="ShowPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="ShowPage-below">{{this}}</div>
        {{/with}}
        <footer class="ShowPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="ShowPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="ShowPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="ShowPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="ShowPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
