<!DOCTYPE html>
<html class="LiveWheelPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="LiveWheelPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="LiveWheelPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="LiveWheelPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="LiveWheelPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="LiveWheelPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="LiveWheelPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="LiveWheelPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="LiveWheelPage-searchInput" name="q">
                    <button type="submit" class="LiveWheelPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="LiveWheelPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="LiveWheelPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="LiveWheelPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="LiveWheelPage-above">{{this}}</div>
        {{/with}}
        <main class="LiveWheelPage-main">
            {{#with breadcrumbs}}
                <div class="LiveWheelPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <article class="LiveWheelPage-mainContent" itemprop="mainEntity" itemscope itemtype="https://schema.org/VideoObject">
                {{#with headline}}
                    <h1 class="LiveWheelPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with subHeadline}}
                    <div class="LiveWheelPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                {{/with}}
                {{#with breadcrumbs}}
                    <div class="LiveWheelPage-breadcrumbs">{{this}}</div>
                {{/with}}
                <div class="LiveWheelPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {{#with authorImage}}
                        <div class="LiveWheelPage-authorImage" itemprop="image">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            <img alt="" src="{{src}}"
                            {{~#with srcset}} srcset="{{this}}"{{/with~}}
                            {{~#with width}} width="{{this}}"{{/with~}}
                            {{~#with height}} height="{{this}}"{{/with~}}
                        >
                        {{#with ../authorUrl}}</a>{{/with}}
                    </div>
                {{/with}}
                <div class="LiveWheelPage-authorTexts">
                    {{#with authorName}}
                        <div class="LiveWheelPage-authorName" itemprop="name">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            {{this}}
                            {{#with ../authorUrl}}</a>{{/with}}
                        </div>
                    {{/with}}
                    {{#with authorBiography}}
                        <div class="LiveWheelPage-authorBiography">{{this}}</div>
                    {{/with}}
                </div>
            </div>
            {{#with contributors}}
                <div class="LiveWheelPage-contributors">
                    <h2 class="LiveWheelPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                    <div class="LiveWheelPage-contributors-body">
                        {{~#each this~}}
                            {{~this~}}
                            {{~#unless @last}}, {{/unless~}}
                        {{~/each~}}
                    </div>
                </div>
            {{/with}}
            {{#with dateExpired}}
                <div class="LiveWheelPage-dateExpired">{{dateExpired}}</div>
                {{#with dateExpiredISO}}
                    <meta itemprop="expires" content="{{this}}">
                {{/with}}
            {{/with}}
            <div class="LiveWheelPage-datePublished">{{datePublished}}</div>
            {{#with datePublishedISO}}
                <meta itemprop="datePublished" content="{{this}}">
            {{/with}}
            <div class="LiveWheelPage-dateModified">{{dateModified}}</div>
            {{#with dateModifiedISO}}
                <meta itemprop="dateModified" content="{{this}}">
            {{/with}}
            {{#with player}}
                <div class="LiveWheelPage-player">{{this}}</div>
            {{/with}}
            <aside class="LiveWheelPage-mediaProperties">
                {{#with bitrate}}
                    <div class="LiveWheelPage-bitrate">
                        <h4 class="LiveWheelPage-bitrate-heading">{{format "/core/page/MediaObjectPage" "bitrateHeading"}}</h4>
                        <div class="LiveWheelPage-bitrate-body" itemprop="bitrate">{{this}}</div>
                    </div>
                {{/with}}
                {{#with caption}}
                    <div class="LiveWheelPage-caption">
                        <h4 class="LiveWheelPage-caption-heading">{{format "/core/video/VideoPage" "captionHeading"}}</h4>
                        <div class="LiveWheelPage-caption-body" itemprop="caption">{{this}}</div>
                    </div>
                {{/with}}
                <div class="LiveWheelPage-dimensions">
                    <h4 class="LiveWheelPage-dimensions-heading">{{format "/core/page/MediaObjectPage" "dimensionsHeading"}}</h4>
                    <div class="LiveWheelPage-dimensions-body">
                        {{~#with width}}
                            <span class="LiveWheelPage-width-width" itemprop="width">{{this}}</span>
                        {{/with~}}
                        x
                        {{~#with height}}
                            <span class="LiveWheelPage-height-height" itemprop="height">{{this}}</span>
                        {{/with~}}
                    </div>
                </div>
                {{#with duration}}
                    <div class="LiveWheelPage-duration">
                        <h4 class="LiveWheelPage-duration-heading">{{format "/core/page/MediaObjectPage" "durationHeading"}}</h4>
                        <div class="LiveWheelPage-duration-body" itemprop="duration">{{this}}</div>
                    </div>
                {{/with}}
                {{#with embedUrl}}
                    <div class="LiveWheelPage-embedUrl">
                        <h4 class="LiveWheelPage-embedUrl-heading">{{format "/core/page/MediaObjectPage" "embedUrlHeading"}}</h4>
                        <div class="LiveWheelPage-embedUrl-body" itemprop="embedUrl">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileFormat}}
                    <div class="LiveWheelPage-fileFormat">
                        <h4 class="LiveWheelPage-fileFormat-heading">{{format "/core/page/MediaObjectPage" "fileformatHeading"}}</h4>
                        <div class="LiveWheelPage-fileFormat-body" itemprop="encodingFormat">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileSize}}
                    <div class="LiveWheelPage-fileSize">
                        <h4 class="LiveWheelPage-fileSize-heading">{{format "/core/page/MediaObjectPage" "fileSizeHeading"}}</h4>
                        <div class="LiveWheelPage-fileSize-body" itemprop="contentSize">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileUrl}}
                    <div class="LiveWheelPage-fileUrl">
                        <h4 class="LiveWheelPage-fileUrl-heading">{{format "/core/page/MediaObjectPage" "fileUrlHeading"}}</h4>
                        <div class="LiveWheelPage-fileUrl-body" itemprop="contentUrl">{{this}}</div>
                    </div>
                {{/with}}
                {{#with playerType}}
                    <div class="LiveWheelPage-playerType">
                        <h4 class="LiveWheelPage-playerType-heading">{{format "/core/page/MediaObjectPage" "playerTypeHeading"}}</h4>
                        <div class="LiveWheelPage-playerType-body" itemprop="playerType">{{this}}</div>
                    </div>
                {{/with}}
                {{#with source}}
                    <div class="LiveWheelPage-source">
                        <h4 class="LiveWheelPage-source-heading">{{format "/core/page/CreativeWorkPage" "sourceHeading"}}</h4>
                        <div class="LiveWheelPage-source-body" itemprop="sourceOrganization">{{this}}</div>
                    </div>
                {{/with}}
                {{#with status}}
                    <div class="LiveWheelPage-status">{{this}}</div>
                {{/with}}
            </aside>
            {{#with playlist}}
                <aside class="LiveWheelPage-playlist"{{#with ../liveWheelStart}} data-livewheel-start="{{this}}"{{/with}}>
                    <h2 class="LiveWheelPage-playlistTitle">{{format "/core/video/VideoPage" "playlistHeading"}}</h2>
                    <div class="LiveWheelPage-playlistBody">{{this}}</div>
                </aside>
            {{/with}}
            <div class="LiveWheelPage-pagination">
                {{#each pagination}}
                    {{~this~}}
                {{/each}}
            </div>
        </article>
        {{#with tags}}
            <div class="LiveWheelPage-tags">
                <h2 class="LiveWheelPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                <div class="LiveWheelPage-tags-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with countries}}
            <div class="LiveWheelPage-countries">
                <h2 class="LiveWheelPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                <div class="LiveWheelPage-countries-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with brands}}
            <div class="LiveWheelPage-brands">
                <h2 class="LiveWheelPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                <div class="LiveWheelPage-brands-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with products}}
            <div class="LiveWheelPage-products">
                <h2 class="LiveWheelPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                <div class="LiveWheelPage-products-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with topics}}
            <div class="LiveWheelPage-topics">
                <h2 class="LiveWheelPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                <div class="LiveWheelPage-topics-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with actions}}
            <div class="LiveWheelPage-actions">
                <h2 class="LiveWheelPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                <div class="LiveWheelPage-actions-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with comments}}
            <div class="LiveWheelPage-comments">
                {{this}}
            </div>
        {{/with}}
    </main>
    {{#with aside}}
        <aside class="LiveWheelPage-aside">{{this}}</aside>
    {{/with}}
    {{#with below}}
        <div class="LiveWheelPage-below">{{this}}</div>
    {{/with}}
    <footer class="LiveWheelPage-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="LiveWheelPage-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="LiveWheelPage-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="LiveWheelPage-footerContent">{{this}}</div>
        {{/with}}
        {{#with social}}
            <div class="LiveWheelPage-social">{{this}}</div>
        {{/with}}
        {{#with disclaimer}}
            <div class="LiveWheelPage-disclaimer">{{this}}</div>
        {{/with}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
