<!DOCTYPE html>
<html class="CharacterPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="CharacterPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="CharacterPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="CharacterPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="CharacterPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="CharacterPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="CharacterPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="CharacterPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="CharacterPage-searchInput" name="q">
                    <button type="submit" class="CharacterPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="CharacterPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="CharacterPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="CharacterPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="CharacterPage-above">{{this}}</div>
        {{/with}}
        <main class="CharacterPage-main">
            {{#with breadcrumbs}}
                <div class="CharacterPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <div class="CharacterPage-mainContent" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>
                {{#with name}}
                    <h1 class="CharacterPage-name" itemprop="name">{{this}}</h1>
                {{/with}}
                {{#with alterEgo}}
                    <div class="CharacterPage-alterEgo">{{this}}</div>
                {{/with}}
                {{#with image}}
                    <div class="CharacterPage-image" itemprop="image">{{this}}</div>
                {{/with}}
                {{#with biography}}
                    <div class="CharacterPage-biography" itemprop="description">{{this}}</div>
                {{/with}}
                {{#with featuredMovies}}
                    <div class="CharacterPage-featuredMovies">{{this}}</div>
                {{/with}}
            </div>
            {{#with tags}}
                <div class="CharacterPage-tags">
                    <h2 class="CharacterPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="CharacterPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="CharacterPage-countries">
                    <h2 class="CharacterPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="CharacterPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="CharacterPage-brands">
                    <h2 class="CharacterPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="CharacterPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="CharacterPage-products">
                    <h2 class="CharacterPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="CharacterPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="CharacterPage-topics">
                    <h2 class="CharacterPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="CharacterPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="CharacterPage-actions">
                    <h2 class="CharacterPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="CharacterPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="CharacterPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="CharacterPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="CharacterPage-below">{{this}}</div>
        {{/with}}
        <footer class="CharacterPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="CharacterPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="CharacterPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="CharacterPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="CharacterPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="CharacterPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
