<tr>
    <td class="AssetRequestTableRow-unviewed"><span data-unviewed="{{isUnviewed}}"></span></td>
    <td class="AssetRequestTableRow-media">{{media}}</td>
    <td class="AssetRequestTableRow-title"><a href="{{url}}">{{title}}</a></td>
    <td class="AssetRequestTableRow-date">{{date}}</td>
    <td class="AssetRequestTableRow-status"><span data-status="{{status}}"></span></td>
    <td class="AssetRequestTableRow-description">{{description}}</td>
</tr>
