<!DOCTYPE html>
<html class="AssetRequestPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="AssetRequestPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="AssetRequestPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="AssetRequestPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="AssetRequestPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="AssetRequestPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="AssetRequestPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="AssetRequestPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="AssetRequestPage-searchInput" name="q">
                    <button type="submit" class="AssetRequestPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="AssetRequestPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="AssetRequestPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="AssetRequestPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="AssetRequestPage-above">{{this}}</div>
        {{/with}}
        <header class="AssetRequestPage-main">
            {{#with breadcrumbs}}
                <div class="AssetRequestPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with pageHeading}}
                <h1 class="AssetRequestPage-pageHeading">{{this}}</h1>
            {{/with}}
            {{#with totalCount}}
                <span class="AssetRequestPage-totalCount">{{this}}</span>
            {{/with}}
        </header>
        <main class="AssetRequestPage-main">
            {{#with main}}
                {{#each this}}
                    {{this}}
                {{/each}}
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="AssetRequestPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="AssetRequestPage-below">{{this}}</div>
        {{/with}}
        <footer class="AssetRequestPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="AssetRequestPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="AssetRequestPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="AssetRequestPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="AssetRequestPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="AssetRequestPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
