<tr>
    <td class="AssetRequestsOverviewTableRow-status"><div data-status="{{status}}">{{status}}</div></td>
    <td class="AssetRequestsOverviewTableRow-date">{{date}}</td>
    <td class="AssetRequestsOverviewTableRow-title"><a href="{{url}}">{{title}}</a></td>
    <td class="AssetRequestsOverviewTableRow-approvedCount"><span data-count="{{approvedCount}}">{{approvedCount}}</span></td>
    <td class="AssetRequestsOverviewTableRow-deniedCount"><span data-count="{{deniedCount}}">{{deniedCount}}</span></td>
    <td class="AssetRequestsOverviewTableRow-pendingCount"><span data-count="{{pendingCount}}">{{pendingCount}}</span></td>
    <td class="AssetRequestsOverviewTableRow-description">{{description}}</td>
</tr>
