<!DOCTYPE html>
<html class="AssetRequestsOverviewPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="AssetRequestsOverviewPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="AssetRequestsOverviewPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="AssetRequestsOverviewPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="AssetRequestsOverviewPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="AssetRequestsOverviewPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="AssetRequestsOverviewPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="AssetRequestsOverviewPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="AssetRequestsOverviewPage-searchInput" name="q">
                    <button type="submit" class="AssetRequestsOverviewPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="AssetRequestsOverviewPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="AssetRequestsOverviewPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="AssetRequestsOverviewPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="AssetRequestsOverviewPage-above">{{this}}</div>
        {{/with}}
        <header class="AssetRequestsOverviewPage-main">
            {{#with breadcrumbs}}
                <div class="AssetRequestsOverviewPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with pageHeading}}
                <h1 class="AssetRequestsOverviewPage-pageHeading">{{this}}</h1>
            {{/with}}
            {{#with totalCount}}
                <span class="AssetRequestsOverviewPage-totalCount">{{this}}</span>
            {{/with}}
        </header>
        <main class="AssetRequestsOverviewPage-main">
            {{#with main}}
                {{#each this}}
                    {{this}}
                {{/each}}
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="AssetRequestsOverviewPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="AssetRequestsOverviewPage-below">{{this}}</div>
        {{/with}}
        <footer class="AssetRequestsOverviewPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="AssetRequestsOverviewPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="AssetRequestsOverviewPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="AssetRequestsOverviewPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="AssetRequestsOverviewPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="AssetRequestsOverviewPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
