<a class="TwitterTweetButton" href="https://twitter.com/intent/tweet?
    {{~#with url}}url={{this}}&{{~/with~}}
    {{~#with via}}via={{this}}&{{~/with~}}
    {{~#with hashtags}}hashtags={{this}}&{{~/with~}}
    {{~#with text}}text={{this}}{{~/with~}}"
    target="_blank"
>
{{body}}
</a>
