<div
    class="JWVideoPlayer"
    data-video-player
    data-player-id="{{playerId}}"
    data-video-id="{{videoId}}"
    data-video-title="{{videoTitle}}"
    data-video-url="{{videoUrl}}"
    data-image-url="{{image.url}}"
    {{~#if seekSeconds}} data-seek-seconds="{{seekSeconds}}"{{~/if~}}
    {{~#if muted}} data-muted{{~/if~}}
    {{~#if autoplay}} data-autoplay{{~/if~}}
    {{~#if liveVideo}} data-live-video{{~/if~}}
    {{~#each extraAttributes}} {{this}}{{~/each~}}
>
<div class="JWVideoPlayer-screen" id="JWVideoPlayer-screen-{{playerId}}">
    <div id="JWVideoPlayer-{{playerId}}"></div>
</div>
</div>
