<div class="SearchModule" data-module {{~include '/global/ModuleAttributes.hbs' this}}>
    {{include "/link/AnchorLink.hbs" this}}
    <form class="SearchModule-form" action={{searchAction}}>
        <input type="text" class="SearchModule-formInput" name="q" aria-label="search" placeholder="{{placeholder}}" />
        <button type="submit" class="SearchModule-formButton">
            <svg><use xlink:href="#icon-magnify"></use></svg><span class="sr-only">{{format "submitLabel"}}</span>
        </button>
    </form>
</div>