<!DOCTYPE html>
<html class="SearchResultsPage" {{~include "/page/Page-htmlAttributes.hbs" this}}>
    {{include "/page/Page-head.hbs" this}}

    <body class="Page-body" style="--color-search-module-background: {{~#with searchFormBackgroundColor~}}{{this}}{{else}}#f7f7f7{{~/with~}};">
        {{include "/page/Page-header.hbs" this}}
        {{include "/page/Page-above.hbs" this}}

        <div class="SearchResultsPage-content">
            {{include "/search/SearchResultsModule.hbs"
                this
                items=results
                searchInputPlaceholder=searchInputPlaceholder
                description=pageSubHeading
                paginate=true
            }}
        </div>

        {{include "/page/Page-below.hbs" this className="SearchResultsPage"}}
        {{include "/page/Page-footer.hbs" this}}
        {{include "/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
