<!DOCTYPE html>
<html class="MoviePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="MoviePage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="MoviePage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="MoviePage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="MoviePage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="MoviePage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="MoviePage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="MoviePage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="MoviePage-searchInput" name="q">
                    <button type="submit" class="MoviePage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="MoviePage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="MoviePage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="MoviePage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="MoviePage-above">{{this}}</div>
        {{/with}}
        <main class="MoviePage-main">
            {{#with breadcrumbs}}
                <div class="MoviePage-breadcrumbs">{{this}}</div>
            {{/with}}
            <div class="MoviePage-mainContent" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>
                <div class="MoviePage-info">
                    <div class="MoviePage-info-card">
                        {{#with cover}}
                            <div class="MoviePage-cover" itemprop="image">{{this}}</div>
                        {{/with}}
                        {{#with name}}
                            <h1 class="MoviePage-name" itemprop="name">{{this}}</h1>
                        {{/with}}
                        {{#with phase}}
                            <div class="MoviePage-phase">{{this}}</div>
                        {{/with}}
                        {{#with releaseDate}}
                            <div class="MoviePage-releaseDate">{{this}}</div>
                        {{/with}}
                        {{#with summary}}
                            <div class="MoviePage-summary">{{this}}</div>
                        {{/with}}
                    </div>
                    {{#with plot}}
                        <div class="MoviePage-plot" itemprop="description">{{this}}</div>
                    {{/with}}
                </div>
                {{#with featuredCharacters}}
                    <div class="MoviePage-featuredCharacters">{{this}}</div>
                {{/with}}
            </div>
            {{#with tags}}
                <div class="MoviePage-tags">
                    <h2 class="MoviePage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="MoviePage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="MoviePage-countries">
                    <h2 class="MoviePage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="MoviePage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="MoviePage-brands">
                    <h2 class="MoviePage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="MoviePage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="MoviePage-products">
                    <h2 class="MoviePage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="MoviePage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="MoviePage-topics">
                    <h2 class="MoviePage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="MoviePage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="MoviePage-actions">
                    <h2 class="MoviePage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="MoviePage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="MoviePage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="MoviePage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="MoviePage-below">{{this}}</div>
        {{/with}}
        <footer class="MoviePage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="MoviePage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="MoviePage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="MoviePage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="MoviePage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="MoviePage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
