<div class="CarouselSlide" itemprop="image" itemtype="http://schema.org/ImageObject" {{extraAttributes}}>
    {{include "/core/gallery/GallerySlide-media.hbs" this}}
    <div class="CarouselSlide-info">
        {{include "/core/gallery/GallerySlide-infoTitle.hbs" this}}
        {{#with infoDescription}}
            <div class="CarouselSlide-infoDescription" itemprop="description">
                {{~this~}}
            </div>
        {{/with}}
        {{include "/core/gallery/GallerySlide-infoAttribution.hbs" this}}
    </div>
</div>
