<!DOCTYPE html>
<html class="CreativeWorkPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="CreativeWorkPage-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}
        {{#if hidePromoDropShadow}} data-hide-promo-dropshadow{{/if}}
        {{#if promoModuleAlignment}} data-promo-module-alignment="{{promoModuleAlignment}}"{{/if}}
        {{#if boldMood}} data-mood-bold{{/if}}
        {{#if inlineSubheading}} data-subheading-inline="{{inlineSubheading}}"{{/if}}
        {{#if hideExternalLinkIcon}}data-hide-external-link-icon{{/if}}
        {{#if hat}}data-show-hat{{/if}}
        {{#if hideHeaderHat}}data-hide-header-hat{{/if}}
    >
    {{include "/core/page/Page-icons.hbs" this}}
    {{#with hat}}
        <div class="CreativeWorkPage-hat">{{this}}</div>
    {{/with}}
    <header class="CreativeWorkPage-header" data-with-toggle-menu itemscope itemtype="http://schema.org/WPHeader"
        {{#if mobileLeftAlignNavigation}}data-mobile-left-align-nav{{/if}}>
        <div class="CreativeWorkPage-header-contentWrapper">
            {{#with logo}}
                <div class="CreativeWorkPage-logo">
                    {{this}}
                </div>
            {{/with}}
            {{#with navigation}}
                <psd-toggler
                    class="CreativeWorkPage-navigation-menuToggle"
                    aria-role="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    toggle-trigger="navigation">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"/></svg>
                    <svg class="close-x"><use xlink:href="#close-x"/></svg>
                </psd-toggler>
                <div class="CreativeWorkPage-navigation" data-main-navigation data-toggle-item="navigation"{{#if ../navigationAlignment}}data-navigation-alignment="{{../navigationAlignment}}"{{/if}}>
                    {{this}}
                </div>
            {{/with}}
            {{#if searchAction}}
                <form class="Header-search" action="{{searchAction}}" novalidate="" autocomplete="off" data-header-search>
                    <input type="text" class="CreativeWorkPage-searchInput" name="q" placeholder="{{format "/core/page/Page" "placeholderLabel"}}">
                    {{include "/core/page/Page-searchButton.hbs" this}}
                </form>
            {{/if}}
        </div>
    </header>
    <div class="CreativeWorkPage-contentWrapper"
        data-negative-margin={{#if negativeMargin}}"{{negativeMargin}}"{{else}}default{{/if}}>
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{#with above}}
            <div class="CreativeWorkPage-above">{{this}}</div>
        {{/with}}
        <main class="CreativeWorkPage-main">
            {{#with breadcrumbs}}
                <div class="CreativeWorkPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with mainContent}}
                <div class="CreativeWorkPage-mainContent">{{this}}</div>
            {{/with}}
            {{#with tags}}
                <div class="CreativeWorkPage-tags">
                    <div class="CreativeWorkPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="CreativeWorkPage-countries">
                    <h2 class="CreativeWorkPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="CreativeWorkPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="CreativeWorkPage-brands">
                    <h2 class="CreativeWorkPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="CreativeWorkPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="CreativeWorkPage-products">
                    <h2 class="CreativeWorkPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="CreativeWorkPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="CreativeWorkPage-topics">
                    <h2 class="CreativeWorkPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="CreativeWorkPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="CreativeWorkPage-actions">
                    <h2 class="CreativeWorkPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="CreativeWorkPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="CreativeWorkPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with below}}
            <div class="CreativeWorkPage-below">{{this}}</div>
        {{/with}}
    </div>
    {{include "/core/page/Page-footer.hbs" this}}
    {{include "/core/page/Page-SearchOverlay.hbs" this}}
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
