<!DOCTYPE html>
<html class="PageDefault" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="PageDefault-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}
        {{#if hidePromoDropShadow}} data-hide-promo-dropshadow{{/if}}
        {{#if promoModuleAlignment}} data-promo-module-alignment="{{promoModuleAlignment}}"{{/if}}
        {{#if boldMood}} data-mood-bold{{/if}}
        {{#if inlineSubheading}} data-subheading-inline="{{inlineSubheading}}"{{/if}}
        {{#if hideExternalLinkIcon}}data-hide-external-link-icon{{/if}}
        {{#if hat}}data-show-hat{{/if}}
        {{#if hideHeaderHat}}data-hide-header-hat{{/if}}
    >
    {{include "/core/page/Page-icons.hbs" this}}
    {{#with hat}}
        <div class="PageDefault-hat">{{this}}</div>
    {{/with}}
    <header class="PageDefault-header" data-with-toggle-menu itemscope itemtype="http://schema.org/WPHeader"
        {{#if mobileLeftAlignNavigation}}data-mobile-left-align-nav{{/if}}>
        <div class="PageDefault-header-contentWrapper">
            {{#with logo}}
                <div class="PageDefault-logo">
                    {{this}}
                </div>
            {{/with}}
            {{#with navigation}}
                <psd-toggler
                    class="PageDefault-navigation-menuToggle"
                    aria-role="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    toggle-trigger="navigation">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"/></svg>
                    <svg class="close-x"><use xlink:href="#close-x"/></svg>
                </psd-toggler>
                <div class="PageDefault-navigation" data-main-navigation data-toggle-item="navigation"{{#if ../navigationAlignment}}data-navigation-alignment="{{../navigationAlignment}}"{{/if}}>
                    {{this}}
                </div>
            {{/with}}
            {{#if searchAction}}
                <form class="Header-search" action="{{searchAction}}" novalidate="" autocomplete="off" data-header-search>
                    <input type="text" class="PageDefault-searchInput" name="q" placeholder="{{format "/core/page/Page" "placeholderLabel"}}">
                    {{include "/core/page/Page-searchButton.hbs" this}}
                </form>
            {{/if}}
        </div>
    </header>
    <div class="PageDefault-contentWrapper"
        data-negative-margin={{#if negativeMargin}}"{{negativeMargin}}"{{else}}default{{/if}}>
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{#with above}}
            <div class="PageDefault-above">{{this}}</div>
        {{/with}}
        <main class="PageDefault-main"{{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}>
            {{#if pageLead}}
                <div class="PageDefault-pageLead" data-page-lead{{#if inlineSubheading}} data-subheading-lead{{/if}}>
                    <div class="PageDefault-heading">
                        {{pageHeading}}
                        {{#with pageSubHeading}}
                            <div class="PageDefault-pageSubHeading">{{this}}</div>
                        {{/with}}
                    </div>
                    {{pageLead}}
                </div>
            {{else}}
                {{#with pageHeading}}
                    <h1 class="PageDefault-pageHeading">{{this}}</h1>
                {{/with}}
            {{/if}}
            {{#with pageSubHeading}}
                <div class="PageDefault-pageSubHeading">{{this}}</div>
            {{/with}}
            {{#with main}}
                <div class="PageDefault-mainContent">
                    {{#each this}}
                        {{render this [/core/list/List.hbs]=(cycle "/core/list/ListGrid.hbs" "/core/list/ListFourColumnNarrow.hbs" "/core/list/ListGrid.hbs") [/core/promo/Promo.hbs]="/core/promo/PromoTextOverlay.hbs"}}
                    {{/each}}
                </div>
            {{/with}}
        </main>
        {{#with below}}
            <div class="PageDefault-below">{{this}}</div>
        {{/with}}
    </div>
    {{include "/core/page/Page-footer.hbs" this}}
    {{include "/core/page/Page-SearchOverlay.hbs" this}}
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
