<!DOCTYPE html>
<html class="Page" {{~include "/page/Page-htmlAttributes.hbs" this}}>
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    {{include "/page/Page-header.hbs" this}}
    {{include "/page/Page-above.hbs" this}}

    <div class="Page-content">
        {{#if aside}}
            <div class="Page-twoColumn">
                <main class="Page-main" data-modulewell>
                {{#with innerHtml}}
                    {{this}}
                {{/with}}
                </main>
                <aside class="Page-aside">
                    {{aside}}
                </aside>
            </div>
        {{else}}
            <main class="Page-oneColumn" data-modulewell>
                {{#with innerHtml}}
                    {{this}}
                {{/with}}
            </main>
        {{/if}}
    </div>

    {{include "/page/Page-below.hbs" this}}
    {{include "/page/Page-footer.hbs" this}}
    {{include "/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
