{{#if pageHeading}}
    <div class="Page-heading" style="{{#with headingBgColor}}background-color: {{this}};{{/with}} --color-heading-text:{{#with headingTextColor}}{{this}}{{else}}{{#or headingBgColor headingBgImage}}var(--color-primary-text-inverse){{else}}var(--color-primary-text){{/or}}{{/with}};{{#each headingBgImage}}{{#resize image "xl-4x1"}}background-image: url('{{src}}');{{/resize}}{{/each}}" data-text-align="{{#if headingTextAlign}}{{headingTextAlign}}{{else}}center{{/if}}" {{#or headingBgColor headingBgImage}}data-with-bg{{/or}} {{#if insidePageHeading}}data-nav-inside-heading{{/if}}{{#if sectionNavigation}} data-with-nav{{/if}}>
        <div class="Page-heading-content-wrapper" >
            <div class="Page-heading-content">
                {{#if headingLogo}}
                    {{#each headingLogo}}
                        <div class="Page-heading-logo">
                            {{#resize image "logo")}}
                                <img class="Image" alt="{{../alt}}"
                                    {{~#with srcset}} srcset="{{this}}"{{/with~}}
                                    {{~#with width}} width="{{this}}"{{/with~}}
                                    {{~#with height}} height="{{this}}"{{/with~}}
                                >
                            {{/resize}}
                        </div>
                    {{/each}}
                {{else}}
                    {{#with headingEyebrow}}<div class="Page-heading-eyebrow">{{this}}</div>{{/with}}
                    <h1 class="Page-heading-title">{{pageHeading}}</h1>
                {{/if}}
                {{#with pageSubHeading}}
                    <h2 class="Page-heading-subHeading">{{this}}</h2>
                {{/with}}
            </div>
        </div>
    </div>
{{/if}}
