<head>
    <meta charset="{{#with charset}}{{this}}{{else}}UTF-8{{/with}}">

    {{~#with meta}}{{this}}{{/with~}}

    <style type="text/css">{{include "/global/Colors.hbs" this}}</style>
    <style type="text/css">{{include "/global/LinkButton.hbs" this}}</style>
    <style type="text/css">{{include "/global/Typography.hbs" this}}</style>

    {{#if stylePackage}}
        {{#each stylePackage}}
            {{#with cssUrl}}
                <link data-cssvarsponyfill="true" class="Webpack-css" rel="stylesheet" href="{{this}}">
            {{/with}}
            {{#with additionalCssUrls}}
                {{#each this}}
                    <link data-cssvarsponyfill="true" class="Webpack-css" rel="stylesheet" href="{{this}}">
                {{/each}}
            {{/with}}
        {{/each}}
    {{else}}
        <link data-cssvarsponyfill="true" class="Webpack-css" rel="stylesheet" href="{{cdn '/styles/default/All.min.css'}}">
    {{/if}}

    {{~#with extraStyles}}{{this}}{{/with~}}

    <meta name="viewport" content="{{#with viewport}}{{this}}{{else}}width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5{{/with}}">

    {{~#with title}}<title>{{this}}</title>{{/with~}}
    {{~#with description}}<meta name="description" content="{{this}}">{{/with~}}
    {{~#with canonicalLink}}<link rel="canonical" href="{{this}}">{{/with~}}
    {{~#with contentId}}<meta name="brightspot.contentId" content="{{this}}">{{/with~}}

    {{~#with favicons}}{{this}}{{/with}}

    {{~#with manifestLink}}<link rel="manifest" href="{{this}}">{{/with}}

    {{~#with feedLink}}{{this}}{{/with~}}

    {{~#with jsonLinkedData}}<script type="application/ld+json">{{this}}</script>{{/with~}}

    {{!-- ampLink from brightspot.amp - Provided by ViewModelOverlays --}}
    {{~#with ampLink}}<link rel="amphtml" href="{{{this}}}">{{/with}}

    <!-- this will add webcomponent polyfills based on browsers. As of 04/29/21 still needed for IE11 and Safari -->
    <script src="{{cdn "/webcomponents-loader/webcomponents-loader.js"}}"></script>

    <script>
        /**
            This allows us to load the IE polyfills via feature detection so that they do not load
            needlessly in the browsers that do not need them. It also ensures they are loaded
            non async so that they load before the rest of our JS.
        */
        var head = document.getElementsByTagName('head')[0];
        if (!window.CSS || !window.CSS.supports || !window.CSS.supports('--fake-var', 0)) {
            var script = document.createElement('script');
            script.setAttribute('src', "{{cdn '/util/IEPolyfills.min.js'}}");
            script.setAttribute('type', 'text/javascript');
            script.async = false;
            head.appendChild(script);
        }
    </script>
    {{#if stylePackage}}
        {{#each stylePackage}}
            {{#with jsUrl}}
                <script src="{{this}}" async></script>
            {{/with}}
            {{#with additionalJsUrls}}
                {{#each this}}
                    <script src="{{this}}" async></script>
                {{/each}}
            {{/with}}
            {{#with error}}
                <script>console.log("{{this}}")</script>
            {{/with}}
        {{/each}}
    {{else}}
        <script src="{{cdn '/styles/default/All.min.js'}}" async></script>
    {{/if}}

    {{~#with extraScripts}}{{this}}{{/with~}}

    <script>
        var link = document.createElement('link');
        link.setAttribute('href', '//fonts.googleapis.com/css?family={{#with font1}}{{this}}{{else}}Roboto{{/with}}:300,400,700|{{#with font2}}{{this}}{{else}}Merriweather{{/with}}:300,400,700');
        var relList = link.relList;

        if (relList && relList.supports('preload')) {
            link.setAttribute('as', 'style');
            link.setAttribute('rel', 'preload');
            link.setAttribute('onload', 'this.rel="stylesheet"');
            link.setAttribute('crossorigin', 'anonymous');
        } else {
            link.setAttribute('rel', 'stylesheet');
        }

        head.appendChild(link);
    </script>

    {{#with entitlements}}{{#set head="true"}}{{this}}{{/set}}{{/with}}
</head>
