<!-- Putting icons here, so we don't have to include in a bunch of -body hbs's -->
{{include "/page/Page-icons.amp.hbs" this}}

{{#if hat}}
    <div class="Page-header-hat">
        {{hat}}
    </div>
{{/if}}

<div class="Page-header-wrap">
    <header class="Page-header">
        <amp-sidebar id="Page-header-hamburger-menu" class="Page-header-hamburger-menu" layout="nodisplay" side="left">
            <div class="Page-header-hamburger-menu-wrapper">
                <div class="Page-header-hamburger-menu-content">
                    {{#with navigation}}
                        {{this}}
                    {{/with}}
                </div>
            </div>
        </amp-sidebar>

        <div class="Page-header-bar">
            <button class="Page-header-menu-trigger" on="tap:Page-header-hamburger-menu.toggle"  aria-expanded="false" tabindex="1"><svg class="burger-menu"><use xlink:href="#burger-menu"></use></svg><svg class="close-x"><use xlink:href="#close-x"></use></svg><span class="label">{{#with navigationToggle}}{{this}}{{else}}{{format "/page/Page" "menuLabel"}}{{/with}}</span></button>

            {{#with logo}}
                {{#set imageSize="logo"}}
                    <div class="Page-header-bar-logo">{{this}}</div>
                {{/set}}
            {{/with}}

            <div class="Page-header-end">
                {{#if searchAction}}
                    <button class="SearchOverlay-Amp-search-button" on="tap:SearchOverlay.toggleVisibility,AMP.setState({searchVisible: !searchVisible})"><svg [class]="searchVisible ? 'icon-magnify  icon-hide' : 'icon-magnify icon-show'" class="icon-magnify icon-show"><use xlink:href="#icon-magnify"></use></svg><span class="sr-only">{{format "/page/Page" "searchButtonLabel"}}</span><svg [class]="searchVisible ? 'close-x icon-show' : 'close-x icon-hide'" class="close-x icon-hide"><use xlink:href="#close-x"></use></svg></button>
                    <div class="SearchOverlay-Amp-search-overlay" id="SearchOverlay" hidden>
                        <form class="SearchOverlay-Amp-search-form" action="{{searchAction}}#nt=navsearch" novalidate="" autocomplete="off" target="_top">
                            <label><input placeholder="{{format "/page/Page" "searchInputPlaceholder"}}" type="text" class="SearchOverlay-Amp-search-input" name="q" required="true"><span class="sr-only">{{format "/page/Page" "searchInputLabel"}}</span>
                            <button type="submit" class="SearchOverlay-Amp-search-submit"><svg><use xlink:href="#icon-magnify"></use></svg><span class="sr-only">{{format "/page/Page" "searchSubmitLabel"}}</span></button>
                            </label>
                        </form>
                    </div>
                {{/if}}
            </div>
        </div>
    </header>
</div>
