<div class="Form-wrapper" data-module {{#if inverseColors}} data-inverse-colors{{/if}}{{#or backgroundColor backgroundImage}} data-has-background {{/or}}{{#if backgroundImage}} data-has-bg-image{{/if}} style="--color-form-background: {{#with backgroundColor}}{{this}}{{else}}#fff{{/with}};{{#each backgroundImage}}{{#resize image "xl-4x3"}} background-image: url('{{src}}');{{/resize}} {{/each}}">
    <bsp-form class="Form">
        {{include "/link/AnchorLink.hbs" this}}
        {{#with title}}<div class="Form-title">{{this}}</div>{{/with}}

        {{#with description}}<div class="Form-description">{{this}}</div>{{/with}}

        {{#if submissionSuccess}}
        <div class="Form-submissionSuccess">
            {{#if message}}
            {{~message~}}
            {{else}}
            {{format "/form/Form" "successMessage"}}
            {{/if}}
        </div>
        {{else}}
        <form {{~#with acceptCharset}} accept-charset="{{this}}" {{/with}} {{~#with action}} action="{{this}}" {{/with}}
            {{~#with autocomplete}} "method": "post",

            autocomplete="{{this}}" {{/with}} class="Form-form" {{~#with enctype}} enctype="{{this}}"
            {{/with}} {{~#with method}} method="{{this}}" {{else}} method="post" {{/with}} {{~#with name}} name="{{this}}"
            {{/with}} {{~#with novalidate}} novalidate{{/with}} {{~#with target}} target="{{this}}" {{/with}}>

            {{#with items}}
            <div class="Form-items">
                {{#each this}}
                <div class="Form-items-item">
                    {{this}}
                </div>
                {{/each}}
            </div>
            {{/with}}

            <div class="Form-buttons">
                {{include "button/Button.hbs" label=(format "/form/Form" "buttonText") type="submit"}}
            </div>
        </form>
        {{#with message}}
        <div class="Form-message">
            {{~this~}}
        </div>
        {{/with}}
        {{/if}}
    </bsp-form>
</div>
