<!DOCTYPE html>
<html class="TagPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}">
{{include "/core/page/Page-head.hbs" this}}
    <body class="Page-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
        {{include "/core/page/Page-header.hbs" this}}
        {{include "/core/page/Page-above.hbs" this dataClick="above"}}

        <div class="TagPage-topContainer">
                <div class="TagPage-headingWrapper">
                    {{#with pageHeading}}
                        <div class="TagPage-heading">
                            <h1 class="TagPage-pageHeading">{{this}}</h1>
                        </div>
                    {{/with}}
                </div>
            </div>

        <main class="TagPage-main">
            {{#with main}}
                {{#each this}}
                    {{render this [/core/list/List.hbs]="/core/list/ListSection.hbs"}}
                {{/each}}
            {{/with}}
        </main>

        {{include "/core/page/Page-below.hbs" this dataClick="below"}}
        {{include "/core/page/Page-footer.hbs" this}}
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
