<div class="InstagramEmbed">
    <amp-instagram
        data-shortcode="{{postId}}"
        width="{{~#with width}}{{this}}{{else}}400{{/with~}}"
        height="{{~#with height}}{{this}}{{else}}400{{/with~}}"
        layout="responsive">
    </amp-instagram>
</div>
