<!DOCTYPE html>
<html class="LiveBlogPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="LiveBlogPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="LiveBlogPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="LiveBlogPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="LiveBlogPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="LiveBlogPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="LiveBlogPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="LiveBlogPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="LiveBlogPage-searchInput" name="q">
                    <button type="submit" class="LiveBlogPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="LiveBlogPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="LiveBlogPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="LiveBlogPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="LiveBlogPage-above">{{this}}</div>
        {{/with}}
        <main class="LiveBlogPage-main">
            {{#with breadcrumbs}}
                <div class="LiveBlogPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with headline}}
                <h1 class="LiveBlogPage-headline" itemprop="headline">{{this}}</h1>
            {{/with}}
            {{#with subHeadline}}
                <div class="LiveBlogPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
            {{/with}}
            <div class="LiveBlogPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                {{#with authorImage}}
                    <div class="LiveBlogPage-authorImage" itemprop="image">
                        {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                        <img alt="" src="{{src}}"
                        {{~#with srcset}} srcset="{{this}}"{{/with~}}
                        {{~#with width}} width="{{this}}"{{/with~}}
                        {{~#with height}} height="{{this}}"{{/with~}}
                    >
                    {{#with ../authorUrl}}</a>{{/with}}
                </div>
            {{/with}}
            <div class="LiveBlogPage-authorTexts">
                {{#with authorName}}
                    <div class="LiveBlogPage-authorName" itemprop="name">
                        {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                        {{this}}
                        {{#with ../authorUrl}}</a>{{/with}}
                    </div>
                {{/with}}
                {{#with authorBiography}}
                    <div class="LiveBlogPage-authorBiography">{{this}}</div>
                {{/with}}
            </div>
        </div>
        {{#with contributors}}
            <div class="LiveBlogPage-contributors">
                <h2 class="LiveBlogPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                <div class="LiveBlogPage-contributors-body">
                    {{~#each this~}}
                        {{~this~}}
                        {{~#unless @last}}, {{/unless~}}
                    {{~/each~}}
                </div>
            </div>
        {{/with}}
        {{include "/core/page/CreativeWorkPage-people.hbs" this}}
        {{#with dateExpired}}
            <div class="LiveBlogPage-dateExpired">{{dateExpired}}</div>
            {{#with dateExpiredISO}}
                <meta itemprop="expires" content="{{this}}">
            {{/with}}
        {{/with}}
        <div class="LiveBlogPage-datePublished">{{datePublished}}</div>
        {{#with datePublishedISO}}
            <meta itemprop="datePublished" content="{{this}}">
        {{/with}}
        <div class="LiveBlogPage-dateModified">{{dateModified}}</div>
        {{#with dateModifiedISO}}
            <meta itemprop="dateModified" content="{{this}}">
        {{/with}}
        {{#with source}}
            <div class="LiveBlogPage-source">
                <h4 class="LiveBlogPage-source-heading">{{format "/core/page/CreativeWorkPage" "sourceHeading"}}</h4>
                <div class="LiveBlogPage-source-body" itemprop="sourceOrganization">{{this}}</div>
            </div>
        {{/with}}
        {{#with pageHeading}}
            <h1 class="LiveBlogPage-pageHeading">{{this}}</h1>
        {{/with}}
        <article class="LiveBlogPage">
            {{#with blogLead}}
                <div class="LiveBlogPage-blogLead">{{this}}</div>
            {{/with}}
            {{#with blogBody}}
                <div class="LiveBlogPage-blogBody">{{this}}</div>
            {{/with}}
            {{#with posts}}
                <section class="LiveBlogPage-posts">
                    {{~#each this~}}
                        {{this}}
                    {{~/each~}}
                </section>
            {{/with}}
            <nav>
                <ul class="LiveBlogPage-pagination">
                    {{#with previousPage}}
                        <li class="LiveBlogPage-previousPage"><a href="{{this}}" rel="prev">{{format "/liveblog/LiveBlogPage" "previousPage"}}</a></li>
                    {{/with}}
                    {{#with pageCounts}}
                        <li class="LiveBlogPage-pageCounts">{{format "/liveblog/LiveBlogPage" "pageCounts" number=../pageNumber count=../pageCount}}</li>
                    {{/with}}
                    {{#with nextPage}}
                        <li class="LiveBlogPage-nextPage"><a href="{{this}}" rel="next">{{format "/liveblog/LiveBlogPage" "nextPage"}}</a></li>
                    {{/with}}
                </ul>
            </nav>
        </article>
        {{#with tags}}
            <div class="LiveBlogPage-tags">
                <h2 class="LiveBlogPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                <div class="LiveBlogPage-tags-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with countries}}
            <div class="LiveBlogPage-countries">
                <h2 class="LiveBlogPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                <div class="LiveBlogPage-countries-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with brands}}
            <div class="LiveBlogPage-brands">
                <h2 class="LiveBlogPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                <div class="LiveBlogPage-brands-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with products}}
            <div class="LiveBlogPage-products">
                <h2 class="LiveBlogPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                <div class="LiveBlogPage-products-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with topics}}
            <div class="LiveBlogPage-topics">
                <h2 class="LiveBlogPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                <div class="LiveBlogPage-topics-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with actions}}
            <div class="LiveBlogPage-actions">
                <h2 class="LiveBlogPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                <div class="LiveBlogPage-actions-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with comments}}
            <div class="LiveBlogPage-comments">
                {{this}}
            </div>
        {{/with}}
    </main>
    {{#with aside}}
        <aside class="LiveBlogPage-aside">{{this}}</aside>
    {{/with}}
    {{#with below}}
        <div class="LiveBlogPage-below">{{this}}</div>
    {{/with}}
    <footer class="LiveBlogPage-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="LiveBlogPage-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="LiveBlogPage-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="LiveBlogPage-footerContent">{{this}}</div>
        {{/with}}
        {{#with social}}
            <div class="LiveBlogPage-social">{{this}}</div>
        {{/with}}
        {{#with disclaimer}}
            <div class="LiveBlogPage-disclaimer">{{this}}</div>
        {{/with}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
