{{!-- if list header position is side, we want the anchor inside the header not above it --}}
{{#ne listHeaderPosition 'side'}}
    {{include "/link/AnchorLink.hbs" this}}
{{/ne}}
{{#or title description}}
    <div class="PageList-header" {{#unless title}}data-no-title{{/unless}}>
        {{#eq listHeaderPosition 'side'}}
            {{include "/link/AnchorLink.hbs" this}}
        {{/eq}}
        {{#if title}}
            <div class="PageList-header-title">{{title}}</div>
        {{/if}}
        {{#if description}}
            <div class="PageList-header-description">{{description}}</div>
        {{/if}}
        {{#eq listHeaderPosition 'side'}}
            {{include "PageList-cta.hbs" this}}
        {{/eq}}
    </div>
{{/or}}
