{{#with mediaContent}}
    <div class="IntroQuizBody-mediaContent">{{this}}</div>
{{/with}}
{{#with title}}
    <div class="IntroQuizBody-title">{{this}}</div>
{{/with}}
{{#with description}}
    <div class="IntroQuizBody-description">{{this}}</div>
{{/with}}
<button name="action" value="{{buttonValue}}">{{format "/quiz/IntroQuizBody" "buttonLabel"}}</button>
