<div class="QuestionQuizBody">
    {{correctCountInput}}
    {{incorrectCountInput}}
    {{responseInput}}
    {{questionInput}}
    <div class="QuestionQuizBody-pagination">
        <div class="QuestionQuizBody-pagination-label">{{format "/quiz/QuestionQuizBody" "pagination" index=index size=size}}</div>
        <div class="QuestionQuizBody-pagination-score">
            <span class="QuestionQuizBody-pagination-score-correct">{{format "/quiz/QuestionQuizBody" "correctLabel" count=correctCount}}</span>
            <span class="QuestionQuizBody-pagination-score-incorrect">{{format "/quiz/QuestionQuizBody" "incorrectLabel" count=incorrectCount}}</span>
        </div>
    </div>
    {{#with mediaContent}}
        <div class="QuestionQuizBody-mediaContent">{{this}}</div>
    {{/with}}
    {{#with title}}
        <h2 class="QuestionQuizBody-title">{{this}}</h2>
    {{/with}}
    {{#with answerStatus}}
        <div class="QuestionQuizBody-answerStatus">{{this}}</div>
    {{/with}}
    {{#with choices}}
        <ol class="QuestionQuizBody-choices">
            {{#each this}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    {{/with}}
    <button name="action" value="{{buttonValue}}">{{buttonLabel}}</button>
</div>
