<div class="QuestionResponse">
    {{#with title}}
        <h3 class="QuestionResponse-title">{{this}}</h3>
    {{/with}}
    <div class="QuestionResponse-container"{{#with "correct"}} data-correct="{{this}}"{{/with}}>
        {{#with response}}
            <div class="QuestionResponse-response">
                <span class="QuestionResponse-response-label">{{format "/quiz/QuestionResponse" "userResponseLabel"}}</span>
                <span class="QuestionResponse-response-answer">{{this}}</span>
            </div>
        {{/with}}
        {{#with correctResponse}}
            <div class="QuestionResponse-correctResponse">
                <span class="QuestionResponse-correctResponse-label">{{format "/quiz/QuestionResponse" "correctResponseLabel"}}</span>
                <span class="QuestionResponse-correctResponse-answer">{{this}}</span>
            </div>
        {{/with}}
    </div>
</div>
