<!DOCTYPE html>
<html class="QuizPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="QuizPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="QuizPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="QuizPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="QuizPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="QuizPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="QuizPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="QuizPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="QuizPage-searchInput" name="q">
                    <button type="submit" class="QuizPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="QuizPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="QuizPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="QuizPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="QuizPage-above">{{this}}</div>
        {{/with}}
        <main class="QuizPage-main">
            {{#with breadcrumbs}}
                <div class="QuizPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <main class="QuizPage-mainContent" itemprop="mainEntity" itemscope itemtype="http://schema.org/CreativeWork">
                {{#with headline}}
                    <h1 class="QuizPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with subHeadline}}
                    <div class="QuizPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                {{/with}}
                <div class="QuizPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {{#with authorImage}}
                        <div class="QuizPage-authorImage" itemprop="image">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            <img alt="" src="{{src}}"
                            {{~#with srcset}} srcset="{{this}}"{{/with~}}
                            {{~#with width}} width="{{this}}"{{/with~}}
                            {{~#with height}} height="{{this}}"{{/with~}}
                        >
                        {{#with ../authorUrl}}</a>{{/with}}
                    </div>
                {{/with}}
                <div class="QuizPage-authorTexts">
                    {{#with authorName}}
                        <div class="QuizPage-authorName" itemprop="name">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            {{this}}
                            {{#with ../authorUrl}}</a>{{/with}}
                        </div>
                    {{/with}}
                    {{#with authorBiography}}
                        <div class="QuizPage-authorBiography">{{this}}</div>
                    {{/with}}
                </div>
            </div>
            {{#with contributors}}
                <div class="QuizPage-contributors">
                    <h2 class="QuizPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                    <div class="QuizPage-contributors-body">
                        {{~#each this~}}
                            {{~this~}}
                            {{~#unless @last}}, {{/unless~}}
                        {{~/each~}}
                    </div>
                </div>
            {{/with}}
            {{include "/core/page/CreativeWorkPage-people.hbs" this}}
            {{#with dateExpired}}
                <div class="QuizPage-dateExpired">{{dateExpired}}</div>
                {{#with dateExpiredISO}}
                    <meta itemprop="expires" content="{{this}}">
                {{/with}}
            {{/with}}
            <div class="QuizPage-datePublished">{{datePublished}}</div>
            {{#with datePublishedISO}}
                <meta itemprop="datePublished" content="{{this}}">
            {{/with}}
            <div class="QuizPage-dateModified">{{dateModified}}</div>
            {{#with dateModifiedISO}}
                <meta itemprop="dateModified" content="{{this}}">
            {{/with}}
            {{#with topBody}}
                <div class="QuizPage-topBody">{{this}}</div>
            {{/with}}
            <form method="{{formMethod}}" action="{{formAction}}" class="QuizPage-form">
                {{#each responses}}{{this}}{{/each}}
                {{#with quizBody}}
                    <div class="QuizPage-quizBody">{{this}}</div>
                {{/with}}
            </form>
        </main>
        {{#with tags}}
            <div class="QuizPage-tags">
                <h2 class="QuizPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                <div class="QuizPage-tags-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with countries}}
            <div class="QuizPage-countries">
                <h2 class="QuizPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                <div class="QuizPage-countries-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with brands}}
            <div class="QuizPage-brands">
                <h2 class="QuizPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                <div class="QuizPage-brands-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with products}}
            <div class="QuizPage-products">
                <h2 class="QuizPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                <div class="QuizPage-products-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with topics}}
            <div class="QuizPage-topics">
                <h2 class="QuizPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                <div class="QuizPage-topics-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with actions}}
            <div class="QuizPage-actions">
                <h2 class="QuizPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                <div class="QuizPage-actions-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with comments}}
            <div class="QuizPage-comments">
                {{this}}
            </div>
        {{/with}}
    </main>
    {{#with aside}}
        <aside class="QuizPage-aside">{{this}}</aside>
    {{/with}}
    {{#with below}}
        <div class="QuizPage-below">{{this}}</div>
    {{/with}}
    <footer class="QuizPage-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="QuizPage-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="QuizPage-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="QuizPage-footerContent">{{this}}</div>
        {{/with}}
        {{#with social}}
            <div class="QuizPage-social">{{this}}</div>
        {{/with}}
        {{#with disclaimer}}
            <div class="QuizPage-disclaimer">{{this}}</div>
        {{/with}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
