<div class="RadioInputChoice"{{#with correct}} data-correct="{{this}}"{{/with}}>
    <label class="RadioInputChoice-label"{{#with disabled}} disabled="true"{{/with}}>
        <span>{{label}}</span>
        <input name="{{name}}"
        type="radio"
        value="{{value}}"{{#with disabled}} disabled="{{this}}"{{/with}}{{#with checked}} checked{{/with}}/>
    </label>
    {{#with responseMessage}}
        <div class="RadioInputChoice-responseMessage">{{this}}</div>
    {{/with}}
</div>
