<div class="ScoreQuizBody">
    {{#with title}}
        <h2 class="ScoreQuizBody-title">{{this}}</h2>
    {{/with}}
    <div class="ScoreQuizBody-results">
        <div class="ScoreQuizBody-results-score">{{format "/quiz/ScoreQuizBody" "scoreLabel" score=score}}</div>
        <div class="ScoreQuizBody-results-details">{{format "/quiz/ScoreQuizBody" "scoreDetails" correctCount=correctCount size=size}}</div>
    </div>
    {{#with responses}}
        <ol class="ScoreQuizBody-responses">
            {{#each this}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    {{/with}}
    {{#with cta}}
        <div class="ScoreQuizBody-cta">{{this}}</div>
    {{/with}}
</div>
