{{#block "SearchControl"}}
    <a class="{{blockName}}" href="{{url}}"{{#if selected}} data-selected{{/if}}>
        {{#element "label"}}
            <span class="{{elementName}}">{{this}}</span>
        {{/element}}

        {{#element "count"}}
            <span class="{{elementName}}">{{this}}</span>
        {{/element}}
    </a>
{{/block}}
