<Stack>
    <main>
        <Page>
            <title>{{title}}</title>
            <main>
                <Search component="{{component}}">
                    <heading>{{pageHeading}}</heading>

                    <query>{{query}}</query>

                    <count>{{count}}</count>

                    <searchAction>{{searchAction}}</searchAction>

                    <filters>{{filters}}</filters>

                    {{#with sorts}}
                        <sorts>
                            <SearchFilter>
                                <items>{{this}}</items>
                            </SearchFilter>
                        </sorts>
                    {{/with}}

                    <spotlights>
                        {{#each spotlights}}
                            {{render this [/core/promo/Promo.native.hbs]="/core/promo/PromoImageTop.native.hbs"}}
                        {{/each}}
                    </spotlights>

                    <results>
                        {{#each results}}
                            {{render this [/core/promo/Promo.native.hbs]="/core/promo/PromoImageTop.native.hbs"}}
                        {{/each}}
                    </results>

                    <next>{{nextPage}}</next>
                </Search>
            </main>
        </Page>
    </main>
</Stack>