<!DOCTYPE html>
<html ⚡ class="SearchResultsPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        {{include "/core/page/Page-charset.hbs" this}}
        {{include "/core/page/Page-webFontLink.amp.hbs" this}}
        {{include "/core/page/Page-styles.amp.hbs" this}}
        {{include "/core/page/Page-jsonLinkedData.hbs" this}}
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        {{include "/core/page/Page-title.hbs" this}}
        {{include "/core/page/Page-description.hbs" this}}
        {{include "/core/page/Page-keywords.hbs" this}}
        {{include "/core/page/Page-canonicalLink.hbs" this}}
        {{include "/core/page/Page-meta.hbs" this}}
        {{include "/core/page/Page-favicons.hbs" this}}
        {{include "/core/page/Page-manifestLink.hbs" this}}
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {{include "/core/page/Page-ampJs.amp.hbs" this}}
        {{#if searchAction}}
            <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        {{/if}}
    </head>
    <body class="SearchResultsPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="SearchResultsPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="SearchResultsPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="SearchResultsPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="SearchResultsPage-searchInput" name="q">
                    <button type="submit" class="SearchResultsPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="SearchResultsPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="SearchResultsPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="SearchResultsPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="SearchResultsPage-above">{{this}}</div>
        {{/with}}
        {{#if showPageHeading}}
            {{#with pageHeading}}
                <div class="SearchResultsPage-pageHeading">{{this}}</div>
            {{/with}}
        {{/if}}
        <section class="SearchResultsPage">
            <form class="SearchResultsPage-form">
                <input type="text" class="SearchResultsPage-formInput" name="q" value="{{query}}">
                <button type="submit" class="SearchResultsPage-formButton">{{format "/core/search/SearchResultsPage" "submitButtonLabel"}}</button>
            </form>
            {{#with actionButtonUrl}}
                <div class="SearchResultsPage-actionButtonUrl">
                    <a class="SearchResultsPage-actionButtonUrl" href="{{this}}">{{#if actionButtonLabel}}{{actionButtonLabel}}{{else}}Download{{/if}}</a>
                </div>
            {{/with}}
            {{#unless query}}
                <div class="SearchResultsPage-noQuery">{{format "/core/search/SearchResultsPage" "noQueryText"}}</div>
                {{else}}{{#if results}}
                {{#with filters}}
                    <div class="SearchResultsPage-filters">{{this}}</div>
                {{/with}}
                <div class="SearchResultsPage-found" data-view="{{view}}">
                    <div class="SearchResultsPage-count">{{format "/core/search/SearchResultsPage" "foundCountText" resultsCount=count searchQuery=query}}</div>
                    <ul class="SearchResultsPage-views">
                        <li class="SearchResultsPage-views-list"><a href="{{viewUrl}}">{{format "/core/search/SearchResultsPage" "listViewText"}}</a></li>
                        <li class="SearchResultsPage-views-grid"><a href="{{viewUrl}}grid">{{format "/core/search/SearchResultsPage" "gridViewText"}}</a></li>
                    </ul>
                    {{#with sorts}}
                        <ul class="SearchResultsPage-sorts">
                            {{#each this}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with results}}
                        <ul class="SearchResultsPage-results">
                            {{#each this}}
                                <li>
                                    {{this}}
                                    {{searchActionBar}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    <ul class="SearchResultsPage-pagination">
                        {{#with previousPage}}
                            <li class="SearchResultsPage-previousPage"><a href="{{this}}" rel="prev">{{format "/core/search/SearchResultsPage" "previousText"}}</a></li>
                        {{/with}}
                        <li class="SearchResultsPage-pageCounts">{{format "/core/search/SearchResultsPage" "pageCounts" number=pageNumber count=pageCount}}</li>
                        {{#with nextPage}}
                            <li class="SearchResultsPage-nextPage"><a href="{{this}}" rel="next">{{format "/core/search/SearchResultsPage" "nextText"}}</a></li>
                        {{/with}}
                    </ul>
                </div>
            {{else}}
                <div class="SearchResultsPage-noResults">{{format "/core/search/SearchResultsPage" "noResultsText" searchQuery=query}}</div>
            {{/if}}{{/unless}}
        </section>
        {{#with aside}}
            <aside class="SearchResultsPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="SearchResultsPage-below">{{this}}</div>
        {{/with}}
        <footer class="SearchResultsPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="SearchResultsPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-ampIntegrations.amp.hbs" this}}
        {{include "/core/page/Page-ampAnalytics.amp.hbs" this}}
    </body>
</html>
