<!DOCTYPE html>
<html class="SearchResultsPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="SearchResultsPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="SearchResultsPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="SearchResultsPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="SearchResultsPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="SearchResultsPage-searchInput" name="q">
                    <button type="submit" class="SearchResultsPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="SearchResultsPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="SearchResultsPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="SearchResultsPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="SearchResultsPage-above">{{this}}</div>
        {{/with}}
        <section class="SearchResultsPage">
            <form class="SearchResultsPage-form">
                <input type="text" class="SearchResultsPage-formInput" name="q" value="{{query}}">
                <button type="submit" class="SearchResultsPage-formButton">{{format "/core/search/SearchResultsPage" "submitButtonLabel"}}</button>
            </form>
            {{#if results}}
                {{#with filters}}
                    <div class="SearchResultsPage-filters">{{this}}</div>
                {{/with}}
                <div class="SearchResultsPage-found" data-view="{{view}}">
                    {{#if query}}
                        <div class="SearchResultsPage-count">found count - {{format "/core/search/SearchResultsPage" "foundCountText" resultsCount=count searchQuery=query}}</div>
                    {{else}}
                        <div class="SearchResultsPage-count">{{format "/core/search/SearchResultsPage" "noQueryFoundCountText" resultsCount=count}}</div>
                    {{/if}}
                    <ul class="SearchResultsPage-views">
                        <li class="SearchResultsPage-views-list"><a href="{{viewUrl}}">{{format "/core/search/SearchResultsPage" "listViewText"}}</a></li>
                        <li class="SearchResultsPage-views-grid"><a href="{{viewUrl}}grid">{{format "/core/search/SearchResultsPage" "gridViewText"}}</a></li>
                    </ul>
                    {{#with sorts}}
                        <ul class="SearchResultsPage-sorts">
                            {{#each this}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with actions}}
                        <div class="SearchResultsPage-actions">
                            {{this}}
                        </div>
                    {{/with}}
                    {{#with spotlights}}
                        <ul class="SearchResultsPage-spotlights">
                            {{#each this}}
                                <li>
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with results}}
                        <ul class="SearchResultsPage-results">
                            {{#each this}}
                                <li>
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    <ul class="SearchResultsPage-pagination">
                        {{#with previousPage}}
                            <li class="SearchResultsPage-previousPage"><a href="{{this}}" rel="prev">{{format "/core/search/SearchResultsPage" "previousText"}}</a></li>
                        {{/with}}
                        <li class="SearchResultsPage-pageCounts">{{format "/core/search/SearchResultsPage" "pageCounts" number=pageNumber count=pageCount}}</li>
                        {{#with nextPage}}
                            <li class="SearchResultsPage-nextPage"><a href="{{this}}" rel="next">{{format "/core/search/SearchResultsPage" "nextText"}}</a></li>
                        {{/with}}
                    </ul>
                </div>
            {{else}}
                {{#if query}}
                    <div class="SearchResultsPage-noResults">{{format "/core/search/SearchResultsPage" "noResultsText" searchQuery=query}}</div>
                {{else}}
                    <div class="SearchResultsPage-noResults">{{format "/core/search/SearchResultsPage" "noQueryText"}}</div>
                {{/if}}
            {{/if}}
        </section>
        {{#with aside}}
            <aside class="SearchResultsPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="SearchResultsPage-below">{{this}}</div>
        {{/with}}
        <footer class="SearchResultsPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="SearchResultsPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="SearchResultsPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="SearchResultsPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="SearchResultsPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
