<div class="PagePromoModuleA" data-module {{include "includes/PagePromoAttributes.hbs" this}}>
    <div class="PagePromoModuleA-content">
        {{include "includes/PagePromoCategory.hbs" this}}

        {{include "includes/PagePromoTitle.hbs" this}}

        {{include "includes/PagePromoDescription.hbs" this}}

        {{include "includes/PagePromoButton.hbs" this}}

        {{include "includes/PagePromoByline.hbs" this}}
    </div>

    {{#if media}}
        {{#set imageSize="xl-24x1"}}
            {{include "includes/PagePromoMediaWithIcon.hbs" this}}
        {{/set}}
    {{/if}}
</div>
