<div class="PagePromoC"{{include "includes/PagePromoAttributes.hbs" this}}>
    {{#set imageSize=(fallback (get "imageSize") "large")}}
        {{include "includes/PagePromoMediaWithIcon.hbs" this}}
    {{/set}}

    <div class="PagePromoC-content">
        {{include "includes/PagePromoCategory.hbs" this}}

        {{include "includes/PagePromoTitle.hbs" this}}

        {{include "includes/PagePromoDescription.hbs" this}}

        {{include "includes/PagePromoByline.hbs" this}}

        {{include "includes/PagePromoCtaLink.hbs" this}}
    </div>
</div>
