<div data-module data-width="full"{{include "includes/PagePromoAttributes.hbs" this}}>
    <div class="PagePromoModuleB">
        {{#if media}}
            {{#set imageSize="large-square"}}
                {{#set imageSizeAlt="xl-24x1"}}
                    {{include "includes/PagePromoMediaWithIcon.hbs" this}}
                {{/set}}
            {{/set}}
        {{/if}}

        <div class="PagePromoModuleB-content-wrapper">
            <div class="PagePromoModuleB-content">
                {{include "includes/PagePromoCategory.hbs" this}}

                {{include "includes/PagePromoTitle.hbs" this}}

                {{include "includes/PagePromoDescription.hbs" this}}

                {{include "includes/PagePromoButton.hbs" this}}

                {{include "includes/PagePromoByline.hbs" this}}
            </div>
        </div>
    </div>
</div>
