<div data-module data-width="full"{{include "includes/PagePromoAttributes.hbs" this}}>
    <div class="PagePromoModuleD" data-text-align="{{#if textAlign}}{{textAlign}}{{else}}center{{/if}}">
        {{include "includes/PagePromoBackgroundMedia.hbs" this imageSize="xl-24x1"}}

        <div class="PagePromoModuleD-content-wrapper" style="--overlayOpacity: {{#with overlayOpacity}}{{this}}{{else}}30{{/with}}%; {{#with backgroundColor}}background-color: {{this}};{{/with}}">
            <div class="PagePromoModuleD-content">
                {{include "includes/PagePromoCategory.hbs" this}}
                {{include "includes/PagePromoTitle.hbs" this}}
                {{include "includes/PagePromoDescription.hbs" this}}
                {{include "includes/PagePromoButton.hbs" this}}
            </div>
        </div>
    </div>
</div>
