{{#with aside}}
    <aside class="{{#if ../className}}{{../className}}{{else}}Page{{/if}}-aside">
        <div class="{{#if ../className}}{{../className}}{{else}}Page{{/if}}-aside-content">
            {{this}}
        </div>
    </aside>
{{/with}}
