<div class="PageHeading" style="{{#with headingBgColor}}background-color: {{this}};{{/with}} --color-heading-text:{{#with headingTextColor}}{{this}}{{else}}{{#or headingBgColor media}}var(--color-primary-text-inverse){{else}}var(--color-primary-text){{/or}}{{/with}};{{#each media}}{{#resize image "xl-6x1"}}background-image: url('{{src}}');{{/resize}}{{/each}}" data-text-align="{{#if headingTextAlign}}{{headingTextAlign}}{{else}}center{{/if}}" {{#or backgroundColor backgroundImage}}data-with-bg{{/or}} {{#if ../sectionNavigation}} data-with-nav{{/if}}>
    <div class="PageHeading-content-wrapper">
        <div class="PageHeading-content">
            {{#with logo}}
                {{#set imageSize="headingLogo"}}
                    <div class="PageHeading-logo">
                        {{this}}
                    </div>
                {{/set}}
            {{/with}}
            {{#if eyebrow}}
                <div class="PageHeading-eyebrow">{{include "/link/Link.hbs" this body=eyebrow href=eyebrowUrl target=eyebrowTarget}}</div>
            {{/if}}
            {{#with pageHeading}}
                <h1 class="PageHeading-title">{{this}}</h1>
            {{/with}}
            {{#with pageSubHeading}}
                <h2 class="PageHeading-subHeading">{{this}}</h2>
            {{/with}}
        </div>
    </div>
</div>
