<!DOCTYPE html>
<html class="ArticlePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}">
    {{include "/core/page/Page-head.hbs" this}}

    <body class="Page-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
        {{include "/core/page/Page-header.hbs" this}}
        {{include "/core/page/Page-above.hbs" this}}

        <div class="ArticlePage-content">
                <div class="ArticlePage-wrapper">
                <main class="ArticlePage-main">
                    <div class="ArticlePage-main-content">
                        <article class="ArticlePage-mainContent">
                            {{include "/core/page/ContentPage-breadcrumbs.hbs" this className="ArticlePage"}}
                            {{include "/core/page/CreativeWorkPage-headline.hbs" this className="ArticlePage"}}

                            <div class="ArticlePage-contentInfo">
                                <div class="ArticlePage-byline">
                                    {{#if bylineText}}
                                        <div class="ArticlePage-bylineText">
                                            <span class="ArticlePage-authorBy">{{format "/core/page/CreativeWorkPage" "authorBy"}}&nbsp;</span>{{bylineText}}
                                        </div>
                                    {{else}}
                                        {{#if authorName}}
                                            <div class="ArticlePage-authors">
                                                {{~include "/core/page/CreativeWorkPage-authorName.hbs" this className="ArticlePage"~}}
                                                {{~include "/core/page/CreativeWorkPage-contributors.hbs" this className="ArticlePage"~}}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                    {{~include "/core/page/CreativeWorkPage-datePublished.hbs" this className="ArticlePage"~}}
                                </div>

                                {{#with actions}}
                                    <div class="ArticlePage-actions">
                                        {{this}}
                                    </div>
                                {{/with}}
                            </div>
                            {{#with lead}}
                                {{#set imageSize='articleImage'}}
                                    <div class="ArticlePage-lead">{{this}}</div>
                                {{/set}}
                            {{/with}}

                            {{include "/core/page/CreativeWorkPage-subHeadline.hbs" this className="ArticlePage"}}

                            <div class="ArticlePage-articleContainer">
                                {{#if articleBody}}
                                    <div class="ArticlePage-articleBody">
                                        {{#set imageSize='articleImage'}}
                                            <div class="RichTextArticleBody">
                                                {{#with articleBody}}
                                                    <div class="RichTextArticleBody-body RichTextBody">{{this}}</div>
                                                {{/with}}
                                            </div>
                                        {{/set}}
                                    </div>
                                {{/if}}
                            </div>
                        </article>

                        {{include "/core/page/ContentPage-tags.hbs" this className="ArticlePage"}}

                        {{#with actions}}
                            <div class="ArticlePage-actions">
                                {{this}}
                            </div>
                        {{/with}}
                        {{include "/core/page/CreativeWorkPage-authorInfo.hbs" this className="ArticlePage"}}

                        {{include "/core/page/CreativeWorkPage-contentFooter.hbs" this className="ArticlePage"}}
                    </div>
                </main>

                {{#if aside}}
                    <aside class="ArticlePage-aside">
                        {{#with updatesCorrections}}
                            <div class="ArticlePage-updatesCorrections-wrapper">
                                <div class="ArticlePage-updatesCorrections RichTextBody">
                                    <div class="ArticlePage-updatesCorrections-header">{{format "/core/article/ArticlePage" "correctionsText"}}:</div>
                                    {{this}}
                                </div>
                            </div>
                        {{/with}}
                        <aside class="ArticlePage-aside-content">
                            {{aside}}
                        </aside>
                    </aside>
                {{/if}}
            </div>
        </div>

        {{include "/core/page/Page-below.hbs" this}}

        {{include "/core/page/Page-footer.hbs" this}}

        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
