<div
    class="VimeoVideoPlayer"
    data-video-player
    data-plyr-provider="vimeo"
    data-player-id="{{playerId}}"
    data-video-id="{{videoId}}"
    data-plyr-embed-id="{{videoId}}"
    data-video-title="{{videoTitle}}"
    {{~#if seekSeconds}} data-seek-seconds="{{seekSeconds}}"{{~/if~}}
    {{~#if muted}} data-muted{{/if~}}
    {{~#if autoplay}} data-autoplay{{/if~}}
    {{#if hideControls}} data-hideControls{{/if}}
    {{#if loop}}data-loop{{/if}}
>
<div id="VimeoVideoPlayer-{{playerId}}"
    data-vimeo-id="{{~videoId}}"
    {{~#with autoplay}}data-vimeo-autoplay="true"{{/with~}}
></div>
</div>
