<!DOCTYPE html>
<html ⚡ class="ArticlePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}">
    {{include "/core/page/Page-head.amp.hbs" this}}

    <body class="Page-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
        {{include "/core/page/Page-header.amp.hbs" this}}

        {{#with actions}}
            <div class="ArticlePage-actionsSticky">
                <div class="ArticlePage-actionsSticky-content">
                    {{this}}
                </div>
            </div>
        {{/with}}

        <div class="ArticlePage-content">
            {{include "/core/page/ContentPage-breadcrumbs.amp.hbs" this className="ArticlePage"}}

            {{include "/core/page/CreativeWorkPage-headline.amp.hbs" this className="ArticlePage"}}

            <div class="ArticlePage-wrapper">
                <main class="ArticlePage-main">
                    <article class="ArticlePage-mainContent">
                        {{#with lead}}
                            {{#set imageSize='articleImage'}}
                                <div class="ArticlePage-lead">{{this}}</div>
                            {{/set}}
                        {{/with}}

                        <div class="ArticlePage-byline">
                            {{#if bylineText}}
                                <div class="ArticlePage-bylineText">{{format "/core/page/CreativeWorkPage" "authorBy"}}&nbsp;{{bylineText}}</div>
                            {{else}}
                                {{#if authorName}}
                                    <div class="ArticlePage-authors">
                                        {{~include "/core/page/CreativeWorkPage-authorName.amp.hbs" this className="ArticlePage"~}}
                                        {{~include "/core/page/CreativeWorkPage-contributors.amp.hbs" this className="ArticlePage"~}}
                                    </div>
                                {{/if}}
                            {{/if}}
                            {{~include "/core/page/CreativeWorkPage-datePublished.amp.hbs" this className="ArticlePage"~}}
                        </div>

                        {{#with actions}}
                            <div class="ArticlePage-actions">
                                {{this}}
                            </div>
                        {{/with}}

                            <div class="ArticlePage-articleContainer">
                            {{#with galleryBody}}
                                <div class="ArticlePage-articleBody">
                                    <div class="RichTextArticleBody">
                                        <div class="RichTextArticleBody-body">
                                            {{this}}
                                        </div>
                                    </div>
                                </div>
                            {{/with}}

                            <amp-carousel class="ArticlePage-slides" width="840" height="740" layout="responsive" type="slides">
                                {{#each slides}}
                                    <div class="ArticlePage-slide">
                                        {{include "/core/gallery/GallerySlide.amp.hbs" this slideNumber=@index numberOfSlides=../slides.length}}
                                    </div>
                                {{/each}}
                            </amp-carousel>
                        </div>
                    </article>

                    {{include "/core/page/ContentPage-tags.amp.hbs" this className="ArticlePage"}}
                    {{include "/core/page/CreativeWorkPage-authorInfo.amp.hbs" this className="ArticlePage"}}
                    {{include "/core/page/CreativeWorkPage-contentFooter.amp.hbs" this className="ArticlePage"}}
                </main>

                {{include "/core/page/Page-aside.amp.hbs" this className="ArticlePage"}}
            </div>
        </div>

        {{include "/core/page/Page-below.amp.hbs" this}}
        {{include "/core/page/Page-footer.amp.hbs" this}}

        {{include "/core/page/Page-extraBodyItems.amp.hbs" this}}
    </body>
</html>
