<!DOCTYPE html>
<html class="CollectionPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="CollectionPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="CollectionPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="CollectionPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="CollectionPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="CollectionPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="CollectionPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="CollectionPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="CollectionPage-searchInput" name="q">
                    <button type="submit" class="CollectionPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="CollectionPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="CollectionPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="CollectionPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="CollectionPage-above">{{this}}</div>
        {{/with}}
        <section class="CollectionPage">
            <form class="CollectionPage-form">
                <input type="text" class="CollectionPage-formInput" name="q" value="{{query}}">
                <button type="submit" class="CollectionPage-formButton">{{format "/core/search/SearchResultsPage" "submitButtonLabel"}}</button>
            </form>
            {{#if results}}
                {{#with filters}}
                    <div class="CollectionPage-filters">{{this}}</div>
                {{/with}}
                <div class="CollectionPage-found" data-view="{{view}}">
                    {{#if query}}
                        <div class="CollectionPage-count">found count - {{format "/core/search/SearchResultsPage" "foundCountText" resultsCount=count searchQuery=query}}</div>
                    {{else}}
                        <div class="CollectionPage-count">{{format "/core/search/SearchResultsPage" "noQueryFoundCountText" resultsCount=count}}</div>
                    {{/if}}
                    <ul class="CollectionPage-views">
                        <li class="CollectionPage-views-list"><a href="{{viewUrl}}">{{format "/core/search/SearchResultsPage" "listViewText"}}</a></li>
                        <li class="CollectionPage-views-grid"><a href="{{viewUrl}}grid">{{format "/core/search/SearchResultsPage" "gridViewText"}}</a></li>
                    </ul>
                    {{#with sorts}}
                        <ul class="CollectionPage-sorts">
                            {{#each this}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with actions}}
                        <div class="CollectionPage-actions">
                            {{this}}
                        </div>
                    {{/with}}
                    {{#with spotlights}}
                        <ul class="CollectionPage-spotlights">
                            {{#each this}}
                                <li>
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with results}}
                        <ul class="CollectionPage-results">
                            {{#each this}}
                                <li>
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    <ul class="CollectionPage-pagination">
                        {{#with previousPage}}
                            <li class="CollectionPage-previousPage"><a href="{{this}}" rel="prev">{{format "/core/search/SearchResultsPage" "previousText"}}</a></li>
                        {{/with}}
                        <li class="CollectionPage-pageCounts">{{format "/core/search/SearchResultsPage" "pageCounts" number=pageNumber count=pageCount}}</li>
                        {{#with nextPage}}
                            <li class="CollectionPage-nextPage"><a href="{{this}}" rel="next">{{format "/core/search/SearchResultsPage" "nextText"}}</a></li>
                        {{/with}}
                    </ul>
                </div>
            {{else}}
                {{#if query}}
                    <div class="CollectionPage-noResults">{{format "/core/search/SearchResultsPage" "noResultsText" searchQuery=query}}</div>
                {{else}}
                    <div class="CollectionPage-noResults">{{format "/core/search/SearchResultsPage" "noQueryText"}}</div>
                {{/if}}
            {{/if}}
        </section>
        {{#with aside}}
            <aside class="CollectionPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="CollectionPage-below">{{this}}</div>
        {{/with}}
        <footer class="CollectionPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="CollectionPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="CollectionPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="CollectionPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="CollectionPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="CollectionPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
