<!DOCTYPE html>
<html class="ProductTaxonomyPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="ProductTaxonomyPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="ProductTaxonomyPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="ProductTaxonomyPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="ProductTaxonomyPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="ProductTaxonomyPage-navigation">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="ProductTaxonomyPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="ProductTaxonomyPage-searchInput" name="q">
                    <button type="submit" class="ProductTaxonomyPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="ProductTaxonomyPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="ProductTaxonomyPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="ProductTaxonomyPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="ProductTaxonomyPage-above">{{this}}</div>
        {{/with}}
        <main class="ProductTaxonomyPage-main">
            {{#with pageHeading}}
                <h1 class="ProductTaxonomyPage-pageHeading">{{this}}</h1>
            {{/with}}
            {{#with taxonomySynonyms}}
                <div class="ProductTaxonomyPage-taxonomySynonyms">
                    {{~#each this~}}
                        <span class="ProductTaxonomyPage-taxonomySynonyms-synonym"> {{~this~}}</span>
                        {{~#unless @last}}, {{/unless~}}
                    {{~/each~}}
                </div>
            {{/with}}
            {{#with taxonomyDefinition}}
                <p class="ProductTaxonomyPage-taxonomyDefinition">{{this}}</p>
            {{/with}}
            {{#with fullDescription}}
                <div class="ProductTaxonomyPage-fullDescription" itemprop="description" itemscope itemtype="https://schema.org/description">{{this}}</div>
            {{/with}}
            {{#with pageLead}}
                <div class="ProductTaxonomyPage-pageLead">{{this}}</div>
            {{/with}}
            {{#with taxonomyContent}}
                <section class="ProductTaxonomyPage-taxonomyContent">
                    {{#each this}}
                        {{this}}
                    {{/each}}
                </section>
            {{/with}}
            {{#with taxonomyBrands}}
                <h4 class="ProductTaxonomyPage-taxonomyBrands-title">{{format "/corporate/product/ProductPage" "brandsHeading"}}</h4>
                <div class="ProductTaxonomyPage-taxonomyBrands">
                    {{#each this}}
                        {{this}}
                    {{/each}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="ProductTaxonomyPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="ProductTaxonomyPage-below">{{this}}</div>
        {{/with}}
        <footer class="ProductTaxonomyPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="ProductTaxonomyPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="ProductTaxonomyPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="ProductTaxonomyPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="ProductTaxonomyPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
