<div class="RecipePage-meta">
    {{#with prepTime}}<div class="RecipePage-prepTime"><span>{{!format}}{{format "/recipe/RecipePage" "prepTimeText"}}</span>&nbsp;{{this}} {{!interesting project specific 'iconPath' helper}}{{include (iconPath 'timer' 'bold')}}</div>{{/with}}
    {{#with inactivePrepTime}}<div class="RecipePage-prepTime"><span>{{format "/recipe/RecipePage" "inactivePrepTimeText"}}</span>&nbsp;{{this}}  {{include (iconPath 'timer' 'bold')}}</div>{{/with}}
    {{#with cookTime}}<div class="RecipePage-cookTime"><span>{{format "/recipe/RecipePage" "cookTimeText"}}</span>&nbsp;{{this}}  {{include (iconPath 'timer' 'bold')}}</div>{{/with}}
    {{#with totalTime}}<div class="RecipePage-totalTime"><span>{{format "/recipe/RecipePage" "totalTimeText"}}</span>&nbsp;{{this}}  {{include (iconPath 'timer' 'bold')}}</div>{{/with}}
</div>