<a class="AuthorLink-item-link" href="{{~href~}}"
    {{~#with target}} target="{{this}}"{{/with~}}
    {{~#with socialService}} data-social-service="{{socialService~}}"{{/with~}}
    {{~extraAttributes~}}>
    {{~body~}}
</a>
