<!DOCTYPE html>
<html class="ArticlePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="ArticlePage-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}
        {{#if hidePromoDropShadow}} data-hide-promo-dropshadow{{/if}}
        {{#if promoModuleAlignment}} data-promo-module-alignment="{{promoModuleAlignment}}"{{/if}}
        {{#if boldMood}} data-mood-bold{{/if}}
        {{#if inlineSubheading}} data-subheading-inline="{{inlineSubheading}}"{{/if}}
        {{#if hideExternalLinkIcon}}data-hide-external-link-icon{{/if}}
        {{#if hat}}data-show-hat{{/if}}
        {{#if hideHeaderHat}}data-hide-header-hat{{/if}}
    >
    {{include "/core/page/Page-icons.hbs" this}}
    {{#with hat}}
        <div class="ArticlePage-hat">{{this}}</div>
    {{/with}}
    <header class="ArticlePage-header" data-with-toggle-menu itemscope itemtype="http://schema.org/WPHeader"
        {{#if mobileLeftAlignNavigation}}data-mobile-left-align-nav{{/if}}>
        <div class="ArticlePage-header-contentWrapper">
            {{#with logo}}
                <div class="ArticlePage-logo">
                    {{this}}
                </div>
            {{/with}}
            {{#with navigation}}
                <psd-toggler
                    class="ArticlePage-navigation-menuToggle"
                    aria-role="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    toggle-trigger="navigation">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"/></svg>
                    <svg class="close-x"><use xlink:href="#close-x"/></svg>
                </psd-toggler>
                <div class="ArticlePage-navigation" data-main-navigation data-toggle-item="navigation"{{#if ../navigationAlignment}}data-navigation-alignment="{{../navigationAlignment}}"{{/if}}>
                    {{this}}
                </div>
            {{/with}}
            {{#if searchAction}}
                <form class="Header-search" action="{{searchAction}}" novalidate="" autocomplete="off" data-header-search>
                    <input type="text" class="ArticlePage-searchInput" name="q" placeholder="{{format "/core/page/Page" "placeholderLabel"}}">
                    {{include "/core/page/Page-searchButton.hbs" this}}
                </form>
            {{/if}}
        </div>
    </header>
    <div class="ArticlePage-contentWrapper"
        data-negative-margin={{#if negativeMargin}}"{{negativeMargin}}"{{else}}default{{/if}}>
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{#with above}}
            <div class="ArticlePage-above">{{this}}</div>
        {{/with}}
        <div class="ScrollableContentContainer">
            <div class="ArticlePage-pageInfo"{{#unless lead}} data-nolead{{/unless}}{{#with background}} style="background:{{this}}"{{/with}}{{#if whiteHeading}} data-white-color{{/if}}>
                {{#if sectionNavigation}}
                    <div class="ArticlePage-sectionNavigation">
                        {{sectionNavigation}}
                    </div>
                {{/if}}
                {{#with headline}}
                    <h1 class="ArticlePage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with subHeadline}}
                    <div class="ArticlePage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                {{/with}}
                {{#if authorName}}
                    <h3 class="ArticlePage-byline"><span>{{format "/core/article/ArticlePage" "bylineText" name=authorName}},</span> <span>{{datePublished}}</span></h3>
                {{/if}}
                {{#with actions}}
                    <div class="ArticlePage-actions">
                        {{this}}
                    </div>
                {{/with}}
            </div>
            <main class="ArticlePage-main" {{#unless lead}}data-noLead{{/unless}}>
                <article class="ArticlePage-mainContent" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
                    {{#with lead}}
                        <div class="ArticlePage-lead">{{this}}</div>
                    {{/with}}
                    {{#with articleBody}}
                        <div class="ArticlePage-articleBody" itemprop="articleBody">{{this}}</div>
                    {{/with}}
                    {{#with updatesCorrections}}
                        <div class="ArticlePage-updatesCorrections" itemprop="articleBody">{{this}}</div>
                    {{/with}}
                    {{#with tags}}
                        <div class="ArticlePage-tags">
                            <div class="ArticlePage-tags-body">{{this}}</div>
                        </div>
                    {{/with}}
                    {{#if authorName}}
                        <div class="ArticlePage-aboutContributor" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            {{#with authorImage}}
                                <div class="ArticlePage-authorImage" itemprop="image">
                                    {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                                    <img alt="" src="{{src}}"
                                    {{~#with srcset}} srcset="{{this}}"{{/with~}}
                                    {{~#with width}} width="{{this}}"{{/with~}}
                                    {{~#with height}} height="{{this}}"{{/with~}}
                                >
                                {{#with ../authorUrl}}</a>{{/with}}
                            </div>
                        {{/with}}
                        <div class="ArticlePage-authorTexts">
                            <h3>{{format "/core/article/ArticlePage" "aboutContributorHeading"}}</h3>
                            {{#with authorName}}
                                <div class="ArticlePage-authorName" itemprop="name">
                                    {{this}}
                                </div>
                            {{/with}}
                            {{#with authorBiography}}
                                <hr>
                                    <div class="ArticlePage-authorBiography">{{this}}</div>
                                {{/with}}
                            </div>
                        </div>
                    {{/if}}
                </article>
                {{#with aside}}
                    <aside class="ArticlePage-aside">
                        {{#each this}}
                            {{render this [/core/list/List.hbs]="/core/list/ListSmall.hbs"}}
                        {{/each}}
                    </aside>
                {{/with}}
            </main>
            {{!-- Making sure these don't show up in places we do not want even if they sneak into the json --}}
        </div>
        {{include "/core/article/ArticlePage-breadcrumbs.hbs" this}}
        {{include "/core/article/ArticlePage-comments.hbs" this}}
        {{include "/core/article/ArticlePage-countries.hbs" this}}
        {{include "/core/article/ArticlePage-brands.hbs" this}}
        {{include "/core/article/ArticlePage-products.hbs" this}}
        {{#with below}}
            <div class="ArticlePage-below">{{this}}</div>
        {{/with}}
    </div>
    {{include "/core/page/Page-footer.hbs" this}}
    {{include "/core/page/Page-SearchOverlay.hbs" this}}
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
