{{~#block "MailToLink" extend="_SourceMailToLink.hbs"~}}
    <a class="{{blockName}}" href="mailto:{{email}}?
    {{~#with cc}}cc={{this}}&{{~/with~}}
    {{~#with bcc}}bcc={{this}}&{{~/with~}}
    {{~#with subject}}subject={{this}}&{{~/with~}}
    {{~#with emailBody}}body={{this}}&{{~/with~}}
    ">
        <svg class="mailto-icon"><use xlink:href="#icon-mailto"/></svg>
    </a>
{{~/block~}}
