<div class="TransparentButton">
    {{~#if href~}}
        <a href="{{href}}"{{#with target}} target="{{this}}"{{/with}} data-google-link-analytics="cta" data-ga-category="cta buttons" data-ga-action="click">{{body}}</a>
    {{~else~}}
        <span class="TransparentButton">{{body}}</span>
    {{~/if~}}
</div>
