{{#block "Figure"}}
    <figure class="{{blockName}}" itemscope itemtype="http://schema.org/ImageObject">
        {{#element "container" noWith=true}}
            {{#if credit}}
                <div class="{{elementName}}">
                    <img src="{{image.src}}" alt="{{alt}}"
                        {{~#with image.srcset}} srcset="{{this}}"{{/with~}}
                        {{~#with image.width}} width="{{this}}"{{/with~}}
                        {{~#with image.height}} height="{{this}}"{{/with~}} />

                    {{~#element "credit"~}}
                        <div class="{{elementName}}" itemprop="author">{{this}}</div>
                    {{~/element~}}
                </div>
            {{else}}
                <img src="{{image.src}}" alt="{{alt}}"
                    {{~#with image.srcset}} srcset="{{this}}"{{/with~}}
                    {{~#with image.width}} width="{{this}}"{{/with~}}
                    {{~#with image.height}} height="{{this}}"{{/with~}} />
            {{/if}}
        {{/element}}

        {{#element "caption"}}
            <figcaption class="{{elementName}}" itemprop="caption">{{this}}</figcaption>
        {{/element}}
    </figure>
{{/block}}
