<figure class="Figure mood-color" itemscope itemtype="http://schema.org/ImageObject">
    <img src="{{image.src}}" alt="{{alt}}"
    {{~#with image.srcset}} srcset="{{this}}"{{/with~}}
    {{~#with image.width}} width="{{this}}"{{/with~}}
    {{~#with image.height}} height="{{this}}"{{/with~}} />
    {{#with caption}}
        <figcaption class="Figure-caption" itemprop="caption">{{this}}</figcaption>
    {{/with}}
    {{#with credit}}
        <div class="Figure-credit" itemprop="author">{{format "/core/figure/Figure" "creditText" credit=this}}</div>
    {{/with}}
</figure>
