<div class="KalturaVideoPlayer">
    <div class="KalturaVideoPlayer-screen" id="KalturaVideoPlayer-screen-{{playerId}}"
        data-aspect-ratio="{{#if aspectRatio}}{{aspectRatio}}{{else}}4x3{{/if}}">
        <div id="KalturaVideoPlayer-{{playerId}}">
            <amp-kaltura-player
                data-uiconf="{{uiConfId}}"
                data-partner="{{partnerId}}"
                data-entryid="{{entryId}}"
                width="{{~#with width}}{{this}}{{else}}400{{/with~}}"
                height="{{~#with height}}{{this}}{{else}}300{{/with~}}"
                layout="fixed">
            </amp-kaltura-player>
        </div>
    </div>
</div>
