{{#block "Navigation"}}
    <nav class="{{blockName}}" itemscope itemtype="http://schema.org/SiteNavigationElement"{{extraAttributes}}>
        {{#element "label"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}

        {{#element "items"}}
            <ul class="{{elementName}}">
            {{#each this}}
              <li class="{{elementName}}-item" {{#if this.isCurrent}}data-current-nav-item{{/if}}>{{this}}</li>
            {{/each}}
            </ul>
        {{/element}}
    </nav>
{{/block}}
