<NavigationItem component="Route">
    {{#with text}}
        <title>{{this}}</title>
    {{/with}}
    {{#with iconUrl}}
        <iconUrl>{{this}}</iconUrl>
    {{/with}}
    {{#with iconFontFamily}}
        <iconFontFamily>{{this}}</iconFontFamily>
    {{/with}}
    {{#with iconFontName}}
        <iconFontName>{{this}}</iconFontName>
    {{/with}}
    {{#with href}}
        <link>
            <Link>
                <url>{{this}}</url>
            </Link>
        </link>
    {{/with}}
</NavigationItem>
