<head>
    <meta charset="{{#with charset}}{{this}}{{else}}UTF-8{{/with}}">

    {{~#with meta}}{{this}}{{/with~}}

    {{~#with languageVariantLinks}}{{this}}{{/with~}}

    <style type="text/css">{{include "/global/Colors.hbs" this}}</style>
    <style type="text/css">{{include "/global/LinkButton.hbs" this}}</style>
    <style type="text/css">{{include "/global/Typography.hbs" this}}</style>

    <link class="Webpack-css" rel="stylesheet" href="{{cdn '/styles/default/All.min.css'}}">

    {{~#with extraLinks}}{{this}}{{/with~}}
    {{~#with extraStyles}}{{this}}{{/with~}}

    <meta name="viewport" content="{{#with viewport}}{{this}}{{else}}width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5{{/with}}">

    {{~#with seoTitle}}<title>{{this}}</title>{{/with~}}
    {{~#with seoDescription}}<meta name="description" content="{{this}}">{{/with~}}
    {{~#with canonicalLink}}<link rel="canonical" href="{{this}}">{{/with~}}
    {{~#with contentId}}<meta name="brightspot.contentId" content="{{this}}">{{/with~}}

    {{~#with favicons}}{{this}}{{/with}}

    {{~#with manifestLink}}<link rel="manifest" href="{{this}}">{{/with}}

    {{~#with feedLink}}{{this}}{{/with~}}

    {{~#with jsonLinkedData}}<script type="application/ld+json">{{this}}</script>{{/with~}}

    <script src="{{cdn '/styles/default/All.min.js'}}" async></script>

    {{~#with extraScripts}}{{this}}{{/with~}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script>
        var head = document.getElementsByTagName('head')[0];
        var link = document.createElement('link');
        link.setAttribute('href', '//fonts.googleapis.com/css?family={{#with font1}}{{this}}{{else}}Roboto{{/with}}:300,400,700|{{#with font2}}{{this}}{{else}}Merriweather{{/with}}:300,400,700&display=swap');
        var relList = link.relList;

        if (relList && relList.supports('preload')) {
            link.setAttribute('as', 'style');
            link.setAttribute('rel', 'preload');
            link.setAttribute('onload', 'this.rel="stylesheet"');
            link.setAttribute('crossorigin', 'anonymous');
        } else {
            link.setAttribute('rel', 'stylesheet');
        }

        document.head.appendChild(link);
    </script>

    {{#with entitlements}}{{#set head="true"}}{{this}}{{/set}}{{/with}}
    {{#with tagManagerHead}}{{this}}{{/with}}
</head>
