<bsp-copy-link class="ActionLink" data-link="{{#if (get "deepLinkUrl")}}{{get "deepLinkUrl"}}{{else}}{{url}}{{/if}}" data-social-service="copylink">
    <svg><use xlink:href="#mono-icon-copylink"></use></svg><span>{{format "copyText"}}</span>
    <div class="ActionLink-message">{{format "copySuccessText"}}</div>
</bsp-copy-link>
