<span class="LinkEnhancement">{{~#if href~}}
<a class="{{#with className}}{{this}}{{else}}Button{{/with}}"
        {{~#with href}} href="{{this}}"{{/with~}}
        {{~#with aria-label}} aria-label="{{this}}"{{/with~}}
        {{~#with target}} target="{{this}}"{{/with~}}
        {{~#with role}} role="{{this}}"{{/with~}}
        {{~#with tabIndex}} tabIndex="{{this}}"{{/with~}}
        {{~#eq target "_blank"}} rel="noopener"{{/eq~}}
        >{{body}}</a>
{{~else~}}
    <span class="{{#with className}}{{this}}{{else}}Button{{/with}}">{{body}}</span>
{{~/if~}}</span>
