 <div class="PasswordInput">
    {{~#with errors}}
        <div class="PasswordInput-errors">
            {{~this~}}
        </div>
    {{/with~}}

    <label class="PasswordInput-label">
        <span>
            {{label}}
            {{#if required}}&nbsp;
                <span class="PasswordInput-label-required">
                    {{format "/form/Form" "requiredLabel"}}
                </span>
            {{/if}}
        </span>

        <input class="PasswordInput-input" type="password"
            {{~#with autocomplete}} autocomplete="{{this}}"{{/with}}
            {{~#with disabled}} disabled{{/with}}
            {{~#with maxlength}} maxlength="{{this}}"{{/with}}
            {{~#with minlength}} minlength="{{this}}"{{/with}}
            {{~#with inputName}} name="{{this}}"{{else}} name="passwordinput"{{/with}}
            {{~#with pattern}} pattern="{{this}}"{{/with}}
            {{~#with readonly}} readonly{{/with}}
            {{~#with required}} required{{/with}}
            {{~#with inputValue}} value="{{this}}"{{/with}}>

        {{~#with description}}
            <div class="PasswordInput-description">
                {{~this~}}
            </div>
        {{/with~}}
     </label>
</div>
