<div class="TextInput">
    {{~#with errors}}
        <div class="TextInput-errors">
            {{~this~}}
        </div>
    {{/with~}}

    <label class="TextInput-label">
        <span>
            {{label}}
            {{#if required}}&nbsp;
                <span class="TextInput-label-required">
                    {{format "/form/Form" "requiredLabel"}}
                </span>
            {{/if}}
        </span>

        <input class="TextInput-input" type="text"
            {{~#with inputName}} name="{{this}}" {{else}} name="textinput"{{/with}}
            {{~#with autocomplete}} autocomplete="{{this}}" {{/with}}
            {{~#with autofocus}} autofocus{{/with}}
            {{~#with disabled}} disabled{{/with}}
            {{~#with maxlength}} maxlength="{{this}}" {{/with}}
            {{~#with minlength}} minlength="{{this}}" {{/with}}
            {{~#with pattern}} pattern="{{this}}" {{/with}}
            {{~#with placeholder}} placeholder="{{this}}" {{/with}}
            {{~#with readonly}} readonly{{/with}}
            {{~#with required}} required{{/with}}
            {{~#with spellcheck}} spellcheck{{/with}}
            {{~#with inputValue}} value="{{this}}"{{/with}}>

        {{~#with description}}
            <div class="TextInput-description">
                {{~this~}}
            </div>
        {{/with~}}
    </label>

</div>
