<!DOCTYPE html>
<html ⚡ class="CreativeWorkPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}">
    {{include "/core/page/Page-head.amp.hbs" this}}

    <body class="CreativeWorkPage-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
        {{include "/core/page/Page-header.amp.hbs" this}}

        {{include "/core/page/Page-sectionNavigation.amp.hbs" this}}

        {{include "/core/page/Page-above.amp.hbs" this}}

        {{include "/core/page/Page-banner.amp.hbs" this}}

        {{include "/core/page/ContentPage-main.amp.hbs" this}}

        {{include "/core/page/Page-aside.amp.hbs" this}}

        {{include "/core/page/Page-below.amp.hbs" this}}

        {{include "/core/page/Page-footer.amp.hbs" this}}

        {{include "/core/page/Page-extraBodyItems.amp.hbs" this}}

        {{include "/core/page/Page-ampIntegrations.amp.hbs" this}}
        {{include "/core/page/Page-ampAnalytics.amp.hbs" this}}
    </body>

</html>
