<!DOCTYPE html>
<html class="RecipePage" {{~include "/page/Page-htmlAttributes.hbs" this}}>
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    {{include "/page/Page-bodyStart.hbs" this}}
    {{include "/page/Page-header.hbs" this}}
    <div data-moduleroot>
        {{include "/page/Page-above.hbs" this}}

        <main class="Page-content">
            <div class="Page-pageLead" data-pagelead>
                {{!include - lets recap about how this can be used to force data thru a template}}
                {{include "/page/PageHeading.hbs" this 
                    eyebrow=(concat "Difficulty: " difficulty) 
                    pageSubHeading=description
                    logo=null
                    headingBgColor="#EE0120"
                    useTextColors="inverse"}}
            </div>

            {{!if vs with - if checks if variable exists and is truthy}}
            {{#if similarRecipes}}<div class="Page-twoColumn">{{else}}<div class="Page-oneColumn">{{/if}}
                <div class="Page-main">
                    {{!with vs if - with goes inside the context of the variable and executes the markup inside. }}
                    {{#with image}}
                        <div class="RecipePage-image">
                            {{! set and get}}
                            {{#set imageSize="large-16x9"}}
                                {{this}}
                            {{/set}}
                        </div>
                    {{/with}}

                    {{include "/recipe/includes/RecipeMeta.hbs" this}}

                    {{#if ingredients}}
                        <div class="RecipePage-ingredients">
                            <h3 class="RecipePage-ingredients-title">{{!format}}{{format "/recipe/RecipePage" "ingredientsText"}}</h3>
                            <ul class="RecipePage-ingredients-items">
                            {{!each}}
                            {{#each ingredients}}
                                <li class="RecipePage-ingredients-item">{{this}}</li>
                            {{/each}}
                            </ul>
                        </div>
                    {{/if}}

                    {{#if steps}}
                        <div class="RecipePage-steps">
                            <h3 class="RecipePage-steps-title">{{!format}}{{format "/recipe/RecipePage" "stepsText"}}</h3>
                            <ol class="RecipePage-steps-items">
                            {{!each}}
                            {{#each steps}}
                                <li class="RecipePage-steps-item">{{this}}</li>
                            {{/each}}
                            </ol>
                        </div>
                    {{/if}}
                </div>
               
                {{#if similarRecipes}}
                    <aside class="Page-aside">
                        <div class="Page-aside-content" data-modulewell>
                            {{!include - Complex usage of include, which reuses 
                            another already existing component|template for rendering}}
                            {{include "/page/list/PageListRightRailB.hbs" this title=(format "/recipe/RecipePage" "SimilarRecipesText") items=similarRecipes}}
                        </div>
                    </aside>
                {{/if}}
            </div>
        </main>

        {{include "/page/Page-below.hbs" this}}
    </div>
    {{include "/page/Page-footer.hbs" this}}
    {{include "/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
