<!DOCTYPE html>
<html class="Page" {{~include "/page/Page-htmlAttributes.hbs" this}}>
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    {{include "/page/Page-bodyStart.hbs" this}}
    {{include "/page/Page-header.hbs" this}}
    <div data-moduleroot>
        {{include "/page/Page-above.hbs" this}}

        <main class="Page-content">
            {{!-- Per the excercise's ask we are to 
            reuse the PageHeading, with some specific data 
            configuring its render exactly as suggested. 

            -That is that the eyebrow will now display the difficulty.
            -That is that the features for the 'pageSubHeading' and
            'logo', will not receive data thus not printing those two items

            
            --}}
            <div class="Page-pageLead" data-pagelead>
                {{include "/page/PageHeading.hbs" this 
                    eyebrow=(concat "Difficulty: " difficulty) 
                    pageSubHeading=description
                    logo=null
                    headingBgColor="#EE0120"
                    useTextColors="inverse"}}
            </div>

            {{#with main}}
                <div class="Page-oneColumn">
                    {{#each this}}
                        {{#eq @index 0}}
                            {{#set lazyLoad=false}}
                                {{this}}
                            {{/set}}
                        {{else}}
                            {{this}}
                        {{/eq}}
                    {{/each}}
                </div>
            {{/with}}
        </main>

        {{include "/page/Page-below.hbs" this}}
    </div>
    {{include "/page/Page-footer.hbs" this}}
    {{include "/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
