<!DOCTYPE html>
<html class="RecipePage" {{~include "/page/Page-htmlAttributes.hbs" this}}>
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    {{include "/page/Page-bodyStart.hbs" this}}
    {{include "/page/Page-header.hbs" this}}
    <div data-moduleroot>
        {{include "/page/Page-above.hbs" this}}

        <main class="Page-content">
            <div class="Page-pageLead" data-pagelead>
                {{include "/page/PageHeading.hbs" this 
                    eyebrow=(concat "Difficulty: " difficulty) 
                    pageSubHeading=description
                    logo=null
                    headingBgColor="#EE0120"
                    useTextColors="inverse"}}
            </div>

            {{#if similarRecipes}}<div class="Page-twoColumn">{{else}}<div class="Page-oneColumn">{{/if}}
                <div class="Page-main">
                    {{#with image}}
                        <div class="RecipePage-image">
                            {{this}}
                        </div>
                    {{/with}}

                    {{#with prepTime}}<div class="RecipePage-prepTime"><span>{{!TODO translatable text}}PREP TIME TITLE</span>&nbsp;{{this}}</div>{{/with}}
                    {{#with inactivePrepTime}}<div class="RecipePage-prepTime"><span>{{!TODO translatable text}}INACTIVE PREP TIME TITLE</span>&nbsp;{{this}} </div>{{/with}}
                    {{#with cookTime}}<div class="RecipePage-cookTime"><span>{{!TODO translatable text}}COOK TIME TITLE</span>&nbsp;{{this}} </div>{{/with}}
                    {{#with totalTime}}<div class="RecipePage-totalTime"><span>{{!TODO translatable text}}TOTAL TIME TITLE</span>&nbsp;{{this}} </div>{{/with}}

                    {{#if ingredients}}
                        <div class="RecipePage-ingredients">
                            <h3 class="RecipePage-ingredients-title">{{!TODO translatable text}}Ingredients TITLE will go here</h3>
                            <ul class="RecipePage-ingredients-items">
                            {{ingredients}}
                            </ul>
                        </div>
                    {{/if}}

                    {{#if steps}}
                        <div class="RecipePage-steps">
                            <h3 class="RecipePage-steps-title">{{!TODO translatable text}}Steps TITLE will go here</h3>
                            <ol class="RecipePage-steps-items">
                           {{steps}}
                            </ol>
                        </div>
                    {{/if}}
                </div>
               
                {{#if similarRecipes}}
                    <aside class="Page-aside">
                        <div class="Page-aside-content" data-modulewell>
                            {{!TODO}} - RENDERING LIST OF SIMILAR recipes
                            {{similarRecipes}}
                        </div>
                    </aside>
                {{/if}}
            </div>
        </main>

        {{include "/page/Page-below.hbs" this}}
    </div>
    {{include "/page/Page-footer.hbs" this}}
    {{include "/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
