{{#if items}}
<bsp-list-loadmore class="PageListStandardG" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "/global/ModuleHeader.hbs" this}}

    {{#with items}}
        <div class="PageList-items" data-list-loadmore-items>
        {{#each this}}
            <div class="PageList-items-item">
                {{#eq this._template "/page/promo/PagePromo.hbs"}}
                        {{#set imageSize=(fallback ../../itemImageAspectRatio "small-16x9")}}
                            {{include "/page/promo/PagePromo.hbs" this description=null}}
                        {{/set}}
                {{else}}
                    {{render this}}
                {{/eq}}
            </div>
        {{/each}}
        </div>
    {{/with}}

    {{include "includes/PageList-footer.hbs" this canPaginate=true}}
</bsp-list-loadmore>
{{/if}}
