<div class="DownloadPromo">
    {{#set imageSize="medium-4x3"}}
        {{include "/page/promo/includes/PagePromoMediaWithIcon.hbs" this}}
    {{/set}}
    {{include "/page/promo/includes/PagePromoTitle.hbs" this}}

    {{include "/page/promo/includes/PagePromoDescription.hbs" this}}

    {{#if url}}
        <a class="DownloadPromo-link" href="{{url}}">
            {{include '/attachment/includes/AttachmentIcon.hbs' this}}
            {{#if ctaText}}
                <span class="DownloadPromo-link-text">{{ctaText}} {{#if fileTypeDisplayName}}{{fileTypeDisplayName}} {{/if}} {{#if fileSize}}({{fileSize}}){{/if}}</span>
            {{/if}}
        </a>
    {{/if}}
</div>
