<!DOCTYPE html>
<html class="CharacterPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}">
{{include "/core/page/Page-head.hbs" this}}
    <body class="Page-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
        {{include "/core/page/Page-header.hbs" this}}
        {{include "/core/page/Page-above.hbs" this dataClick="above"}}

        <div class="CharacterPage-content">
            <div class="CharacterPage-wrapper">
                <main class="CharacterPage-main">
                    <article class="CharacterPage-mainContent">

                        <div class="CharacterPage-intro">
                            {{#with image}}
                                {{#set imageSize='squareMedium'}}
                                    <div class="CharacterPage-image">{{this}}</div>
                                {{/set}}
                            {{/with}}

                            <div class="CharacterPage-info">
                                {{#with name}}
                                    <h1 class="CharacterPage-name">{{this}}</h1>
                                {{/with}}
                                {{#with alterEgo}}
                                    <h2 class="CharacterPage-alterEgo">{{this}}</h2>
                                {{/with}}
                                {{#with biography}}
                                    <div class="CharacterPage-biography RichTextBody">
                                        {{this}}
                                    </div>
                                {{/with}}
                            </div>
                        </div>

                        {{#with countdowns}}
                            <div class="CharacterPage-countdowns">
                                {{this}}
                            </div>
                        {{/with}}

                    </article>

                    {{#with featuredMovies}}
                        <div class="CharacterPage-contentFooter">
                            {{this}}
                        </div>
                    {{/with}}
                </main>
            </div>
        </div>

        {{include "/core/page/Page-below.hbs" this dataClick="below"}}
        {{include "/core/page/Page-footer.hbs" this}}
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
