<div class="AuthenticatedNavigationItem" {{extraAttributes}}>
    <div class="AuthenticatedNavigationItem-text">
        {{#if href}}
            <a class="AuthenticatedNavigationItem-text-link" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{extraAttributes}}>{{~text~}}</a>
        {{else}}
            {{~text~}}
        {{/if}}
    </div>
    <img class="AuthenticatedNavigationItem-avatar" src="{{avatar.src}}" alt="{{alt}}"
    {{~#with avatar.srcset}} srcset="{{this}}"{{/with~}}
    {{~#with avatar.width}} width="{{this}}"{{/with~}}
    {{~#with avatar.height}} height="{{this}}"{{/with~}} />
    {{#if items}}
        <ul class="AuthenticatedNavigationItem-items">
            {{#with items}}
                {{#each this}}
                    <li class="AuthenticatedNavigationItem-items-item" {{#if this.isCurrent}}data-active{{/if}}>{{~this~}}</li>
                {{/each}}
            {{/with}}
        </ul>
    {{/if}}
</div>
