<div class="{{#with className}}{{this}}{{else}}GallerySlide{{/with}}" data-slide-index="{{slideNumber}}">
    <div class="{{#with className}}{{this}}{{else}}GallerySlide{{/with}}-media">
        {{#with mediaContent}}
            {{#set imageSize=(fallback (get "imageSize") "xl-notfixed") lazyLoad=false}}
                {{this}}
            {{/set}}
        {{/with}}
    </div>
    <div class="{{#with className}}{{this}}{{else}}GallerySlide{{/with}}-content">
        {{#with infoTitle}}
            <div class="{{#with ../className}}{{this}}{{else}}GallerySlide{{/with}}-title">{{this}}</div>
        {{/with}}
        {{#with infoDescription}}
            <div class="{{#with ../className}}{{this}}{{else}}GallerySlide{{/with}}-description">{{this}}</div>
        {{/with}}

        {{#with infoAttribution}}
            <div class="{{#with ../className}}{{this}}{{else}}GallerySlide{{/with}}-attribution">{{this}}</div>
        {{/with}}
    </div>
</div>
