<bsp-gallery-page-carousel class="GalleryPageCarousel" tabindex="-1">
  <div class="GalleryPageCarousel-topBar">
        {{#with headline}}
        <div class="GalleryPageCarousel-title">{{this}}</div>
        {{/with}}
        <a href="#" class="GalleryPageCarousel-closeButton"><svg class="icon icon-close-x"><use xlink:href="#close-x"></use></svg></a>
  </div>
  <div class="GalleryPageCarousel-wrapper">
   <div class="GalleryPageCarousel-slides">
       {{#each slides}}
           <div class="GalleryPageCarousel-slide" id="slide-{{add @index 1}}">
               {{#set imageSize="xl-notfixed"}}
                   {{mediaContent}}
               {{/set}}
           </div>
       {{/each}}
   </div>

   <aside class="GalleryPageCarousel-aside">
       <div class="GalleryPageCarousel-aside-content">
           <div class="GalleryPageCarousel-aside-slides">
               {{#each slides}}
                   <div class="GalleryPageCarousel-aside-slide" data-slide-id="slide-{{@index}}">
                       {{#with infoTitle}}
                           <div class="GalleryPageCarousel-infoTitle">
                               {{~add @index 1}} {{format "/gallery/GalleryPageCarousel" "countOfLabel"}} {{../../slides.length~}}:&nbsp;{{this~}}
                           </div>
                       {{/with}}

                       {{#with infoDescription}}
                           <div class="GalleryPageCarousel-infoDescription">
                               {{~this~}}
                           </div>
                       {{/with}}

                       {{#with infoAttribution}}
                           <div class="GalleryPageCarousel-infoAttribution">
                               {{~this~}}
                           </div>
                       {{/with}}
                   </div>
               {{/each}}
           </div>
           <div class="GalleryPageCarousel-aside-actions">
               {{actions}}
           </div>
       </div>
   </aside>
  </div>
</bsp-gallery-page-carousel>
