<!DOCTYPE html>
<html class="AllAssetsPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="AllAssetsPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="AllAssetsPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="AllAssetsPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="AllAssetsPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="AllAssetsPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="AllAssetsPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="AllAssetsPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="AllAssetsPage-searchInput" name="q">
                    <button type="submit" class="AllAssetsPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="AllAssetsPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="AllAssetsPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="AllAssetsPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="AllAssetsPage-above">{{this}}</div>
        {{/with}}
        <section class="AllAssetsPage">
            {{#with breadcrumbs}}
                <div class="AllAssetsPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with pageHeading}}
                <h1 class="AllAssetsPage-pageHeading">{{this}}</h1>
            {{/with}}
            <form class="AllAssetsPage-form">
                <input type="text" class="AllAssetsPage-formInput" name="q" value="{{query}}">
                <button type="submit" class="AllAssetsPage-formButton">{{format "/core/search/SearchResultsPage" "submitButtonLabel"}}</button>
            </form>
            {{#if results}}
                {{#with filters}}
                    <div class="AllAssetsPage-filters">{{this}}</div>
                {{/with}}
                <div class="AllAssetsPage-found" data-view="{{view}}">
                    {{#if query}}
                        <div class="AllAssetsPage-count">found count - {{format "/core/search/SearchResultsPage" "foundCountText" resultsCount=count searchQuery=query}}</div>
                    {{else}}
                        <div class="AllAssetsPage-count">{{format "/core/search/SearchResultsPage" "noQueryFoundCountText" resultsCount=count}}</div>
                    {{/if}}
                    <ul class="AllAssetsPage-views">
                        <li class="AllAssetsPage-views-list"><a href="{{viewUrl}}">{{format "/core/search/SearchResultsPage" "listViewText"}}</a></li>
                        <li class="AllAssetsPage-views-grid"><a href="{{viewUrl}}grid">{{format "/core/search/SearchResultsPage" "gridViewText"}}</a></li>
                    </ul>
                    {{#with sorts}}
                        <ul class="AllAssetsPage-sorts">
                            {{#each this}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with actions}}
                        <div class="AllAssetsPage-actions">
                            {{this}}
                        </div>
                    {{/with}}
                    {{#with spotlights}}
                        <ul class="AllAssetsPage-spotlights">
                            {{#each this}}
                                <li>
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with results}}
                        <ul class="AllAssetsPage-results">
                            {{#each this}}
                                <li>
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    <ul class="AllAssetsPage-pagination">
                        {{#with previousPage}}
                            <li class="AllAssetsPage-previousPage"><a href="{{this}}" rel="prev">{{format "/core/search/SearchResultsPage" "previousText"}}</a></li>
                        {{/with}}
                        <li class="AllAssetsPage-pageCounts">{{format "/core/search/SearchResultsPage" "pageCounts" number=pageNumber count=pageCount}}</li>
                        {{#with nextPage}}
                            <li class="AllAssetsPage-nextPage"><a href="{{this}}" rel="next">{{format "/core/search/SearchResultsPage" "nextText"}}</a></li>
                        {{/with}}
                    </ul>
                </div>
            {{/if}}
        </section>
        {{#with aside}}
            <aside class="AllAssetsPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="AllAssetsPage-below">{{this}}</div>
        {{/with}}
        <footer class="AllAssetsPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="AllAssetsPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="AllAssetsPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="AllAssetsPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="AllAssetsPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="AllAssetsPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
