{{#or previousPage nextPage}}
<div class="Pagination">
<!-- Previous -->
    <div class="Pagination-previousPage">
    {{#with previousPage}}
        <a href="{{this}}" rel="nofollow">
            <svg class="chevron"><use xlink:href="#chevron"></use></svg>
            <span class="sr-only">{{format "previousText"}}</span>
        </a>
        {{else}}
        <svg class="chevron" data-inactive><use xlink:href="#chevron"></use></svg>
    {{/with}}
    </div>

    <div class="Pagination-pageCounts">{{format "pageCounts" number=pageNumber count=pageCount}}</div>

    <!-- Next -->
    <div class="Pagination-nextPage">
    {{#with nextPage}}
    <a href="{{this}}" rel="nofollow">
        <svg class="chevron"><use xlink:href="#chevron"></use></svg>
        <span class="sr-only">{{format "nextText"}}</span>
    </a>
    {{else}}
        <svg class="chevron" data-inactive><use xlink:href="#chevron"></use></svg>
    {{/with}}
    </div>
</div>
{{/or}}