<div class="AuthenticationForm">
    {{#with title}}
        <div class="AuthenticationForm-title">
            {{~this~}}
        </div>
    {{/with}}
    {{#with message}}
        <div class="AuthenticationForm-message">
            {{~this~}}
        </div>
    {{/with}}
    {{#if displayForm}}
        <form {{#with formActionUrl}}action="{{this}}"{{else}}action="/authenticate/login"{{/with}}
            {{~#with method}}method="{{this}}"{{else}}method="post"{{/with}}>
            {{#with errors}}
                <div class="AuthenticationForm-errors">
                    {{~this~}}
                </div>
            {{/with}}
            {{include "/auth/form/AuthenticationForm-inputs.hbs" this}}
            {{#with socialLoginLinks}}
                <div class="AuthenticationForm-socialLoginLinks">
                    {{~this~}}
                </div>
            {{/with}}
            {{#with helpLinks}}
                <div class="AuthenticationForm-helpLinks">
                    {{~this~}}
                </div>
            {{/with}}
            <button class="AuthenticationForm-submit" type="submit">
                Submit
            </button>
        </form>
    {{/if}}
</div>
