<div class="ForgotPasswordForm">
    {{#with title}}
        <div class="ForgotPasswordForm-title">
            {{~this~}}
        </div>
    {{/with}}
    {{#with message}}
        <div class="ForgotPasswordForm-message">
            {{~this~}}
        </div>
    {{/with}}
    {{#if displayForm}}
        <form {{#with formActionUrl}}action="{{this}}"{{else}}action="/authenticate/forgot-password"{{/with}}
            {{~#with method}}method="{{this}}"{{else}}method="post"{{/with}}>
            {{#with errors}}
                <div class="ForgotPasswordForm-errors">
                    {{~this~}}
                </div>
            {{/with}}
            {{include "../../core/form/input/EmailInput.hbs" inputName="email" placeholder=(format "/auth/form/ForgotPasswordForm" "emailPlaceholderText")}}
            <button class="ForgotPasswordForm-submit" type="submit">
                {{format "/auth/form/ForgotPasswordForm" "submitButtonLabel"}}
            </button>
        </form>
    {{/if}}
</div>
