<div class="RegistrationForm">
    {{#with title}}
        <div class="RegistrationForm-title">
            {{~this~}}
        </div>
    {{/with}}
    {{#with message}}
        <div class="RegistrationForm-message">
            {{~this~}}
        </div>
    {{/with}}
    {{#if displayForm}}
        <form {{#with formActionUrl}}action="{{this}}"{{else}}action="/authenticate/register"{{/with}}
            {{~#with method}}method="{{this}}"{{else}}method="post"{{/with}}>
            {{#with errors}}
                <div class="RegistrationForm-errors">
                    {{~this~}}
                </div>
            {{/with}}
            {{include "../../core/form/input/Input.hbs" inputName="name" placeholder=(format "/auth/form/RegistrationForm" "namePlaceholderText")}}
            {{include "../../core/form/input/Input.hbs" inputName="firstName" placeholder=(format "/auth/form/RegistrationForm" "firstNamePlaceholderText")}}
            {{include "../../core/form/input/Input.hbs" inputName="lastName" placeholder=(format "/auth/form/RegistrationForm" "lastNamePlaceholderText")}}
            {{include "../../core/form/input/EmailInput.hbs" inputName="email" placeholder=(format "/auth/form/RegistrationForm" "emailPlaceholderText")}}
            {{include "../../core/form/input/PasswordInput.hbs" inputName="password" placeholder=(format "/auth/form/RegistrationForm" "passwordPlaceholderText")}}
            {{#with redirectUrl}}
                {{include "../../core/form/input/HiddenInput.hbs" inputName="redirectUrl" inputValue=this}}
            {{/with}}
            {{#with socialLoginLinks}}
                <div class="RegistrationForm-socialLoginLinks">
                    {{~this~}}
                </div>
            {{/with}}
            {{#with helpLinks}}
                <div class="RegistrationForm-helpLinks">
                    {{~this~}}
                </div>
            {{/with}}
            {{#with termsAndConditions}}
                <div class="RegistrationForm-termsAndConditions">
                    {{~this~}}
                </div>
            {{/with}}
            <button class="RegistrationForm-submit" type="submit">
                {{format "/auth/form/RegistrationForm" "submitButtonLabel"}}
            </button>
        </form>
    {{/if}}
</div>
