<div class="ResetPasswordForm">
    {{#with title}}
        <div class="ResetPasswordForm-title">
            {{~this~}}
        </div>
    {{/with}}
    {{#with message}}
        <div class="ResetPasswordForm-message">
            {{~this~}}
        </div>
    {{/with}}
    {{#if displayForm}}
        <form {{#with formActionUrl}}action="{{this}}"{{else}}action="/authenticate/reset-password"{{/with}}
            {{~#with method}}method="{{this}}"{{else}}method="post"{{/with}}>
            {{#with errors}}
                <div class="ResetPasswordForm-errors">
                    {{~this~}}
                </div>
            {{/with}}
            {{include "../../core/form/input/PasswordInput.hbs" inputName="password" placeholder=(format "/auth/form/ResetPasswordForm" "passwordPlaceholderText")}}
            {{#with token}}
                {{include "../../core/form/input/HiddenInput.hbs" inputName="token" inputValue=this}}
            {{/with}}
            <button class="ResetPasswordForm-submit" type="submit">
                {{format "/auth/form/ResetPasswordForm" "submitButtonLabel"}}
            </button>
        </form>
    {{/if}}
</div>
