<!DOCTYPE html>
<html class="UserProfilePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="UserProfilePage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="UserProfilePage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="UserProfilePage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="UserProfilePage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="UserProfilePage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="UserProfilePage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="UserProfilePage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="UserProfilePage-searchInput" name="q">
                    <button type="submit" class="UserProfilePage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="UserProfilePage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="UserProfilePage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="UserProfilePage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="UserProfilePage-above">{{this}}</div>
        {{/with}}
        <main class="UserProfilePage-main">
            {{#with dataForm}}
                <div class="UserProfilePage-dataForm">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="UserProfilePage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="UserProfilePage-below">{{this}}</div>
        {{/with}}
        <footer class="UserProfilePage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="UserProfilePage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="UserProfilePage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="UserProfilePage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="UserProfilePage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="UserProfilePage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
