<div class="NavigationItem {{#if items}} has-menu{{/if}}" {{extraAttributes}}>
    <div class="NavigationItem-text">
        {{#if href}}
            <a {{#if showAsButton}}class="Button" data-style="pill"{{/if}} href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{extraAttributes}}>{{~text~}}</a>
        {{else}}
            <span>{{~text~}}</span>
        {{/if}}
        {{#if items}}
            <div class="NavigationItem-more">
                <button aria-label="{{format "/navigation/Navigation" "subNavText"}}"><svg class="chevron"><use xlink:href="#chevron-down"></use></svg></button>
            </div>
        {{/if}}
    </div>

    {{#if items}}
        <ul class="NavigationItem-items" {{#with navColumns}}data-columns="{{this}}"{{/with}}>
            {{#with items}}
                {{#each this}}
                    <li class="NavigationItem-items-item">{{~this~}}</li>
                {{/each}}
            {{/with}}
        </ul>
    {{/if}}
</div>
