<a class="NavigationLink" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{extraAttributes}}><span class="NavigationLink-text">{{~text~}}</span>{{#with description}}<span class="NavigationLink-description">{{~this~}}</span>{{/with}}</a>
