{{#if items}}
<amp-accordion class="NavigationItem" {{extraAttributes}}>
    <section>
{{else}}
<div class="NavigationItem" {{extraAttributes}}>
{{/if}}
        <header class="NavigationItem-text">
            {{#if href}}
                <a class="NavigationItem-text-link" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{extraAttributes}}>{{~text~}}</a>
            {{else}}
                <span>{{~text~}}</span>
            {{/if}}
            {{#if items}}
                <div class="NavigationItem-more">
                    <svg class="chevron"><use xlink:href="#chevron"></use></svg>
                </div>
            {{/if}}
        </header>

        {{#if items}}
            <ul class="NavigationItem-items">
                {{#with items}}
                    {{#each this}}
                        <li class="NavigationItem-items-item" {{#if this.isCurrent}}data-active{{/if}}>{{~this~}}</li>
                    {{/each}}
                {{/with}}
            </ul>
        {{/if}}
{{#if items}}
    </section>
</amp-accordion>
{{else}}
</div>
{{/if}}
