{{#block "YouTubeVideoPlayer" extend="_SourceYouTubeVideoPlayer.hbs"}}
    <div class="{{blockName}}" data-video-player
    data-player-id="{{playerId}}"
    data-video-title="{{videoTitle}}"
    {{~#if muted}} data-muted{{/if~}}
    {{~#if autoplay}} data-autoplay{{/if~}}
    data-video-id="{{videoId}}" data-plyr-provider="youtube" data-plyr-embed-id="{{videoId}}">
    </div>
{{/block}}
