<div class="PagePromoModuleA" data-module {{include "includes/PagePromoAttributes.hbs" this}}{{#if animateOnScroll}} data-animate="fromBottom"{{/if}}>
    {{include "/link/AnchorLink.hbs" this}}

    {{#set imageSize=(fallback imageAspectRatio "xl-16x9")}}
        {{include "includes/PagePromoMediaWithIcon.hbs" this}}
    {{/set}}

    <div class="PagePromoModuleA-content">
        {{include "includes/PagePromoCategory.hbs" this}}

        {{include "includes/PagePromoTitle.hbs" this}}

        {{include "includes/PagePromoDescription.hbs" this}}

        {{include "includes/PagePromoByline.hbs" this}}

        {{include "includes/PagePromoButton.hbs" this}}
    </div>
</div>
