<!DOCTYPE html>
<html class="SearchResultsPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="SearchResultsPage-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}
        {{#if hidePromoDropShadow}} data-hide-promo-dropshadow{{/if}}
        {{#if promoModuleAlignment}} data-promo-module-alignment="{{promoModuleAlignment}}"{{/if}}
        {{#if boldMood}} data-mood-bold{{/if}}
        {{#if inlineSubheading}} data-subheading-inline="{{inlineSubheading}}"{{/if}}
        {{#if hideExternalLinkIcon}}data-hide-external-link-icon{{/if}}
        {{#if hat}}data-show-hat{{/if}}
        {{#if hideHeaderHat}}data-hide-header-hat{{/if}}
    >
    {{include "/core/page/Page-icons.hbs" this}}
    {{#with hat}}
        <div class="SearchResultsPage-hat">{{this}}</div>
    {{/with}}
    <header class="SearchResultsPage-header" data-with-toggle-menu itemscope itemtype="http://schema.org/WPHeader"
        {{#if mobileLeftAlignNavigation}}data-mobile-left-align-nav{{/if}}>
        <div class="SearchResultsPage-header-contentWrapper">
            {{#with logo}}
                <div class="SearchResultsPage-logo">
                    {{this}}
                </div>
            {{/with}}
            {{#with navigation}}
                <psd-toggler
                    class="SearchResultsPage-navigation-menuToggle"
                    aria-role="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    toggle-trigger="navigation">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"/></svg>
                    <svg class="close-x"><use xlink:href="#close-x"/></svg>
                </psd-toggler>
                <div class="SearchResultsPage-navigation" data-main-navigation data-toggle-item="navigation"{{#if ../navigationAlignment}}data-navigation-alignment="{{../navigationAlignment}}"{{/if}}>
                    {{this}}
                </div>
            {{/with}}
            {{#if searchAction}}
                <form class="Header-search" action="{{searchAction}}" novalidate="" autocomplete="off" data-header-search>
                    <input type="text" class="SearchResultsPage-searchInput" name="q" placeholder="{{format "/core/page/Page" "placeholderLabel"}}">
                    {{include "/core/page/Page-searchButton.hbs" this}}
                </form>
            {{/if}}
        </div>
    </header>
    <div class="SearchResultsPage-contentWrapper"
        data-negative-margin={{#if negativeMargin}}"{{negativeMargin}}"{{else}}default{{/if}}>
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{#with above}}
            <div class="SearchResultsPage-above">{{this}}</div>
        {{/with}}
        <section class="SearchResultsPage-lead">
            {{#with pageHeading}}
                <h1 class="SearchResultsPage-pageHeading">{{this}}</h1>
            {{/with}}
            <form class="SearchResultsPage-form">
                <input type="text" class="SearchResultsPage-formInput" name="q" value="{{query}}">
                <button type="submit" class="SearchResultsPage-formButton">
                    <svg class="search-icon"><use xlink:href="#search-icon"/></svg>
                </button>
            </form>
        </section>
        <main class="SearchResultsPage-main"{{#unless results}} data-no-results{{/unless}}>
            <section class="SearchResultsPage-content">
                {{#if results}}
                    <div class="SearchResultsPage-results-heading">
                        {{#if query}}
                            <div class="SearchResultsPage-count">found count - {{format "/core/search/SearchResultsPage" "foundCountText" resultsCount=count searchQuery=query}}</div>
                        {{else}}
                            <div class="SearchResultsPage-count">{{format "/core/search/SearchResultsPage" "noQueryFoundCountText" resultsCount=count}}</div>
                        {{/if}}
                        {{#with sorts}}
                            <div class="SearchControl-sorts">
                                <span class="SearchControl-sorts-heading">{{format "/core/search/SearchResultsPage" "SortByLabel"}}</span>
                                {{#each this}}
                                    {{#if selected}}
                                        <psd-toggler
                                            class="SearchControl-sorts-first"
                                            aria-role="button"
                                            aria-label="{{format "/core/search/SearchResultsPage" "SortByLabel"}}"
                                            toggle-trigger="searchSort">{{this.label}}&nbsp;&nbsp;<svg><use xlink:href="#icon-greater-than"/></svg>
                                        </psd-toggler>
                                    {{/if}}
                                {{/each}}
                                <div class="SearchControl-sorts-items" data-toggle-item="searchSort">
                                    {{#each this}}
                                        {{#unless selected}}
                                            {{this}}
                                        {{/unless}}
                                    {{/each}}
                                </div>
                            </div>
                        {{/with}}
                    </div>
                    {{#with spotlights}}
                        <ul class="SearchResultsPage-spotlights">
                            {{#each this}}
                                <li>
                                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoSpotlight.hbs"}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                    {{#with results}}
                        <ul class="SearchResultsPage-results">
                            {{#each this}}
                                <li>
                                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoContent.hbs"}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/with}}
                {{else}}
                    {{#if query}}
                        <div class="SearchResultsPage-noResults">{{format "/core/search/SearchResultsPage" "noResultsText" searchQuery=query}}</div>
                    {{else}}
                        <div class="SearchResultsPage-noResults">{{format "/core/search/SearchResultsPage" "noQueryText"}}</div>
                    {{/if}}
                {{/if}}
                {{#if results}}
                    <ul class="SearchResultsPage-pagination">
                        {{#with previousPage}}
                            <li class="SearchResultsPage-previousPage"><a href="{{this}}" rel="prev"><svg class="SearchResultsPage-previousPage-icon"><use xlink:href="#icon-greater-than"/></svg> Previous</a></li>
                        {{/with}}
                        {{#with nextPage}}
                            <li class="SearchResultsPage-nextPage"><a href="{{this}}" rel="next">Next <svg class="SearchResultsPage-nextPage-icon"><use xlink:href="#icon-greater-than"/></svg></a></li>
                        {{/with}}
                    </ul>
                {{/if}}
            </section>
            {{#if results}}
                <aside class="SearchResultsPage-aside">
                    <div class="SearchResultsPage-filters-heading">
                        {{format "/core/search/SearchResultsPage" "FiltersHeading"}}
                        <hr />
                    </div>
                    {{#with filters}}
                        <div class="SearchResultsPage-filters">{{this}}</div>
                    {{/with}}
                </aside>
            {{/if}}
        </main>
        {{#with below}}
            <div class="SearchResultsPage-below">{{this}}</div>
        {{/with}}
    </div>
    {{include "/core/page/Page-footer.hbs" this}}
    {{include "/core/page/Page-SearchOverlay.hbs" this}}
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
