{{#block "GalleryPage" override="../page/ContentPage.amp.hbs"}}
    {{#element "mainContent" noWith="true"}}
        <section class="{{elementName}}"
            itemscope itemtype="https://schema.org/ImageGallery"
            {{#with id}} id="{{this}}" {{/with}}
            {{#with singleton}} data-singleton="{{this}}" {{/with}}
            {{#with introBackgroundImageSrc}} data-bsp-gallery-options='{"introBackgroundImage":"{{this}}"}'{{/with}}>

            <div class="Gallery">
                <amp-carousel
                        width="{{#with image.width}}{{this}}{{else}}300{{/with}}"
                        height="{{#with image.height}}{{this}}{{else}}200{{/with}}"
                        layout="fixed"
                        {{#if controls}}controls{{/if}}
                        type="slides">
                    {{#element "slides" noWith=true}}
                        {{#each slides}}{{this}}{{/each}}
                    {{/element}}
                </amp-carousel>
            </div>
        </section>
    {{/element}}
{{/block}}
