<!DOCTYPE html>
<html class="GalleryPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="GalleryPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="GalleryPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="GalleryPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="GalleryPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="GalleryPage-searchInput" name="q">
                    <button type="submit" class="GalleryPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="GalleryPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="GalleryPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="GalleryPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="GalleryPage-above">{{this}}</div>
        {{/with}}
        <main class="GalleryPage-main">
            {{#with breadcrumbs}}
                <div class="GalleryPage-breadcrumbs">{{this}}</div>
            {{/with}}
            <section class="GalleryPage-mainContent" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="GalleryPage-intro">
                    {{#with headline}}
                        <h1 class="GalleryPage-headline" itemprop="headline">{{this}}</h1>
                    {{/with}}
                    {{#with subHeadline}}
                        <div class="GalleryPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                    {{/with}}
                    <div class="GalleryPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        {{#with authorImage}}
                            <div class="GalleryPage-authorImage" itemprop="image">
                                {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                                <img alt="" src="{{src}}"
                                {{~#with srcset}} srcset="{{this}}"{{/with~}}
                                {{~#with width}} width="{{this}}"{{/with~}}
                                {{~#with height}} height="{{this}}"{{/with~}}
                            >
                            {{#with ../authorUrl}}</a>{{/with}}
                        </div>
                    {{/with}}
                    <div class="GalleryPage-authorTexts">
                        {{#with authorName}}
                            <div class="GalleryPage-authorName" itemprop="name">
                                {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                                {{this}}
                                {{#with ../authorUrl}}</a>{{/with}}
                            </div>
                        {{/with}}
                        {{#with authorBiography}}
                            <div class="GalleryPage-authorBiography">{{this}}</div>
                        {{/with}}
                    </div>
                </div>
                {{#with contributors}}
                    <div class="GalleryPage-contributors">
                        <h2 class="GalleryPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                        <div class="GalleryPage-contributors-body">
                            {{~#each this~}}
                                {{~this~}}
                                {{~#unless @last}}, {{/unless~}}
                            {{~/each~}}
                        </div>
                    </div>
                {{/with}}
                {{#with dateExpired}}
                    <div class="GalleryPage-dateExpired">{{dateExpired}}</div>
                    {{#with dateExpiredISO}}
                        <meta itemprop="expires" content="{{this}}">
                    {{/with}}
                {{/with}}
                <div class="GalleryPage-datePublished">{{datePublished}}</div>
                {{#with datePublishedISO}}
                    <meta itemprop="datePublished" content="{{this}}">
                {{/with}}
                <div class="GalleryPage-dateModified">{{dateModified}}</div>
                {{#with dateModifiedISO}}
                    <meta itemprop="dateModified" content="{{this}}">
                {{/with}}
            </div>
            {{#with galleryBody}}
                <div class="GalleryPage-galleryBody">{{this}}</div>
            {{/with}}
            {{#with slides}}
                <ul class="GalleryPage-slides">
                    {{~#each this~}}
                        <li class="GalleryPage-slides-slide">{{~this~}}</li>
                    {{~/each~}}
                </ul>
            {{/with}}
            <!--{{#with endCard}}
            <div class="GalleryPage-endCard">
                {{~this~}}
            </div>
        {{/with}}-->
        <div class="GalleryPage-pagination">
            {{#each pagination}}
                {{~this~}}
            {{/each}}
        </div>
    </section>
    {{#with tags}}
        <div class="GalleryPage-tags">
            <h2 class="GalleryPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
            <div class="GalleryPage-tags-body">{{this}}</div>
        </div>
    {{/with}}
    {{#with countries}}
        <div class="GalleryPage-countries">
            <h2 class="GalleryPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
            <div class="GalleryPage-countries-body">{{this}}</div>
        </div>
    {{/with}}
    {{#with brands}}
        <div class="GalleryPage-brands">
            <h2 class="GalleryPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
            <div class="GalleryPage-brands-body">{{this}}</div>
        </div>
    {{/with}}
    {{#with products}}
        <div class="GalleryPage-products">
            <h2 class="GalleryPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
            <div class="GalleryPage-products-body">{{this}}</div>
        </div>
    {{/with}}
    {{#with topics}}
        <div class="GalleryPage-topics">
            <h2 class="GalleryPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
            <div class="GalleryPage-topics-body">{{this}}</div>
        </div>
    {{/with}}
    {{#with actions}}
        <div class="GalleryPage-actions">
            <h2 class="GalleryPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
            <div class="GalleryPage-actions-body">{{this}}</div>
        </div>
    {{/with}}
    {{#with comments}}
        <div class="GalleryPage-comments">
            {{this}}
        </div>
    {{/with}}
</main>
{{#with aside}}
    <aside class="GalleryPage-aside">{{this}}</aside>
{{/with}}
{{#with below}}
    <div class="GalleryPage-below">{{this}}</div>
{{/with}}
<footer class="GalleryPage-footer" itemscope itemtype="https://schema.org/WPFooter">
    {{#with footerLogo}}
        <div class="GalleryPage-footerLogo">{{this}}</div>
    {{/with}}
    {{#with footerNavigation}}
        <div class="GalleryPage-footerNavigation">{{this}}</div>
    {{/with}}
    {{#with footerContent}}
        <div class="GalleryPage-footerContent">{{this}}</div>
    {{/with}}
    {{include "/core/page/Page-social.hbs" this}}
    {{#with disclaimer}}
        <div class="GalleryPage-disclaimer">{{this}}</div>
    {{/with}}
</footer>
{{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
