<div class="GallerySlide" itemprop="image" itemtype="http://schema.org/ImageObject" {{extraAttributes}}>
    <div class="GallerySlide-media">
        <div class="GallerySlide-mediaContainer">
            {{#with mediaContent}}
                <div class="GallerySlide-mediaContent">{{this}}</div>
            {{/with}}
        </div>
    </div>
    <div class="GallerySlide-info">
        <div class="GallerySlide-infoTitle" {{#with infoTitleShort}}data-shorttext="{{this}}"{{/with}} itemprop="name">
            <span>{{infoTitle}}</span>
        </div>
        <div class="GallerySlide-infoDescription" {{#with infoDescriptionShort}}data-shorttext="{{this}}"{{/with}} itemprop="description">
            <span>{{infoDescription}}</span>
        </div>
        {{#with infoAttribution}}
            <div class="GallerySlide-infoAttribution">{{this}}</div>
        {{/with}}
    </div>
</div>
