<div class="GallerySlide" itemprop="image" itemtype="http://schema.org/ImageObject" {{extraAttributes}}>
    <div class="GallerySlide-media">
        {{#with mediaContent}}
            <div class="GallerySlide-mediaContent">{{this}}</div>
        {{/with}}
    </div>
    <div class="GallerySlide-info">
        {{#with infoTitle}}
            <div class="GallerySlide-infoTitle" itemprop="name">
                {{~this~}}
            </div>
        {{/with}}
        {{#with infoDescription}}
            <div class="GallerySlide-infoDescription" itemprop="description">
                {{~this~}}
            </div>
        {{/with}}
        {{#with infoAttribution}}
            <div class="GallerySlide-infoAttribution">{{this}}</div>
        {{/with}}
    </div>
</div>
