{{#block "GalleryPage" override="../page/NativeScreen.native.hbs"}}
    {{#element "data" noWith=true}}
        <Gallery>
            {{#element "contentId"}}
                <nativeId>{{this}}</nativeId>
            {{/element}}
            {{#element "introTitle"}}
                <title>{{this}}</title>
            {{/element}}
            {{#element "tags"}}
                <tags>{{this}}</tags>
            {{/element}}
            {{#element "introDescription"}}
                <subTitle>{{this}}</subTitle>
            {{/element}}
            {{#element "actions"}}
                <share>
                    <Share>
                        <shareUrl>{{this.[0].nativeShareUrl}}</shareUrl>
                        <title>{{this.[0].nativeShareTitle}}</title>
                        <description>{{this.[0].nativeShareDescription}}</description>
                        <image>
                            <Image>
                                <landscapeUrl>{{this.[0].nativeShareImage.[0].image.src}}</landscapeUrl>
                            </Image>
                        </image>
                    </Share>
                </share>
                <actionBar>{{this}}</actionBar>
            {{/element}}
            {{#element "slides"}}
                <items>{{this}}</items>
            {{/element}}
            {{#element "canonicalLink"}}
                <selfUrl>{{this}}</selfUrl>
            {{/element}}
        </Gallery>
    {{/element}}
{{/block}}
