<Gallery>
    {{#with contentId}}
        <nativeId>{{this}}</nativeId>
    {{/with}}
    {{#with introTitle}}
        <title>{{this}}</title>
    {{/with}}
    {{#with tags}}
        <tags>{{this}}</tags>
    {{/with}}
    {{#with introDescription}}
        <subTitle>{{this}}</subTitle>
    {{/with}}
    {{#with actions}}
        <share>
            <Share>
                <shareUrl>{{this.[0].nativeShareUrl}}</shareUrl>
                <title>{{this.[0].nativeShareTitle}}</title>
                <description>{{this.[0].nativeShareDescription}}</description>
                <image>
                    <Image>
                        <landscapeUrl>{{this.[0].nativeShareImage.[0].image.src}}</landscapeUrl>
                    </Image>
                </image>
            </Share>
        </share>
        <actionBar>{{this}}</actionBar>
    {{/with}}
    {{#with slides}}
        <items>{{this}}</items>
    {{/with}}
    {{#with canonicalLink}}
        <selfUrl>{{this}}</selfUrl>
    {{/with}}
</Gallery>
