{{#block "GalleryVideoSlide"}}
    <div class="{{blockName}}">
        {{#element "imagePlaceholder"}}
            <div class="{{elementName}}">
                <div class="{{elementName}}-icon">
                    <span class="{{elementName}}-video-icon">
                        <span class="Icon .icon-play {{elementName}}-play"></span>
                    </span>
                </div>
                {{this}}
            </div>
        {{/element}}
        {{#element "videoContent"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
    </div>
{{/block}}
