<bsp-list-loadmore class="PodcastListC" data-module {{include "/page/list/includes/PageList-attributes.hbs" this}}>
    {{include "/global/ModuleHeader.hbs" this}}

    {{#with items}}
        <ul class="PageList-items" data-list-loadmore-items>
            {{#each this}}
                <li class="PageList-items-item">
                    {{#eq this._template "/podcast/promo/PodcastPromo.hbs"}}
                        {{include "/podcast/promo/PodcastPromoC.hbs" this}}
                    {{else}}
                        {{render this}}
                    {{/eq}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
    {{include "/page/list/includes/PageList-footer.hbs" this canPaginate=true}}
</bsp-list-loadmore>
