<!DOCTYPE html>
<html class="MoviePage" lang="{{#with language}}{{this}}{{else}}en{{/with}}">
{{include "/core/page/Page-head.hbs" this}}
    <body class="Page-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
        {{include "/core/page/Page-header.hbs" this}}
        {{include "/core/page/Page-above.hbs" this dataClick="above"}}

        <div class="MoviePage-topContainer">
                <div class="MoviePage-headingWrapper">
                    {{#with pageHeading}}
                        <div class="MoviePage-heading">
                            <h1 class="MoviePage-pageHeading">{{this}}</h1>
                        </div>
                    {{/with}}
                </div>
            </div>

        <main class="MoviePage-main">

        </main>

        {{include "/core/page/Page-below.hbs" this dataClick="below"}}
        {{include "/core/page/Page-footer.hbs" this}}
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
