<!DOCTYPE html>
<html class="BlogPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="BlogPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="BlogPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="BlogPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="BlogPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="BlogPage-searchInput" name="q">
                    <button type="submit" class="BlogPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="BlogPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="BlogPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="BlogPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="BlogPage-above">{{this}}</div>
        {{/with}}
        <main class="BlogPage-main">
            {{#with breadcrumbs}}
                <div class="BlogPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with blogNavigation}}
                <div class="BlogPage-BlogPage-blogNavigation">{{this}}</div>
            {{/with}}
            {{#with pageHeading}}
                <h1 class="BlogPage-pageHeading">{{this}}</h1>
            {{/with}}
            <article class="BlogPage">
                {{#with blogLead}}
                    <div class="BlogPage-blogLead">{{this}}</div>
                {{/with}}
                {{#with posts}}
                    <section class="BlogPage-posts">
                        {{~#each this~}}
                            {{this}}
                        {{~/each~}}
                    </section>
                {{/with}}
                <nav>
                    <ul class="BlogPage-pagination">
                        {{#with previousPage}}
                            <li class="BlogPage-previousPage"><a href="{{this}}" rel="prev">{{format "/blog/BlogPage" "previousPage"}}</a></li>
                        {{/with}}
                        <li class="BlogPage-pageCounts">{{format "/blog/BlogPage" "pageCounts" number=pageNumber count=pageCount}}</li>
                        {{#with nextPage}}
                            <li class="BlogPage-nextPage"><a href="{{this}}" rel="next">{{format "/blog/BlogPage" "nextPage"}}</a></li>
                        {{/with}}
                    </ul>
                </nav>
            </article>
            {{#with tags}}
                <div class="BlogPage-tags">
                    <h2 class="BlogPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="BlogPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="BlogPage-countries">
                    <h2 class="BlogPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="BlogPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="BlogPage-brands">
                    <h2 class="BlogPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="BlogPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="BlogPage-products">
                    <h2 class="BlogPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="BlogPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="BlogPage-topics">
                    <h2 class="BlogPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="BlogPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="BlogPage-actions">
                    <h2 class="BlogPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="BlogPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="BlogPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="BlogPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="BlogPage-below">{{this}}</div>
        {{/with}}
        <footer class="BlogPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="BlogPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="BlogPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="BlogPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="BlogPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
