<div class="CompanionContentItem" data-media-type="{{type}}" data-ajax-url="{{url}}" data-timestamp-seconds="{{timeStamp}}">
    {{#with media}}
        <div class="CompanionContentItem-media">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    <div class="CompanionContentItem-info">
        {{#with title}}
            <div class="CompanionContentItem-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}
        {{#with duration}}
            <div class="CompanionContentItem-duration">{{this}}</div>
        {{/with}}
    </div>
</div>
