<div
    class="HTML5VideoPlayer"
    data-video-player
    data-video-id="{{videoId}}"
    data-video-title="{{videoTitle}}"
    {{~#if muted}} data-muted{{/if~}}
    {{~#if autoplay}} data-autoplay{{/if~}}
    {{~#each extraAttributes}} {{this}}{{~/each~}}
>
{{#blockBody}}
    <div class="HTML5VideoPlayer-screen" data-aspect-ratio="{{#if aspectRatio}}{{aspectRatio}}{{else}}4x3{{/if}}">
        <video id="HTML5VideoPlayer-{{playerId}}" class="HTML5VideoPlayer-video"
            {{!--
            this puts a transparent pixel in place for the placeholder attr and then uses a background image
            technique: https://iandevlin.com/html5/poster/
            --}}
            {{#with poster}}poster="{{this.src}}" {{/with}}
            preload="{{#if preloadNone}}none{{/if}}{{#if preloadMetaData}}metadata{{/if}}"
            {{#if autoplay}}autoplay {{/if}}
            controls
            {{#if loop}}loop{{/if}}
            {{#if muted}}muted{{/if}}
            {{#if height}}height="{{height}}" {{/if}}
            {{#if width}}width="{{width}}" {{/if}}
            {{extraAttributes}}>
            {{#with sources}}
                {{#each this}}
                    {{this}}
                {{/each}}
            {{/with}}
        </video>
        {{#with card}}
            <div class="HTML5VideoPlayer-card" data-card>{{this}}</div>
        {{/with}}
    </div>
{{/blockBody}}
</div>
