<div class="PlaylistItem" data-ajax-url="{{url}}" {{#unless media}}data-noMedia{{/unless}} {{#if type}}data-type={{type}}{{/if}}>
    <div class="PlaylistItem-lead">
        {{#with media}}
            <div class="PlaylistItem-media">
                {{this}}
                {{#if "../type"}}
                    <span class="PlaylistItem-type" data-type={{../type}}></span>
                {{/if}}
                {{#if "../status"}}
                    <span class="PlaylistItem-status">{{../status}}</span>
                {{/if}}
            </div>
        {{/with}}
        <div class="PlaylistItem-info">
            {{#with title}}
                <div class="PlaylistItem-title">
                    {{include "../link/Link.hbs" href=../url target=../target body=this}}
                </div>
            {{/with}}
            {{#with duration}}
                <div class="PlaylistItem-duration">{{this}}</div>
            {{/with}}
        </div>
    </div>
    {{#with companions}}
        <h4 class="PlaylistItem-companions-heading">Companion Content</h4>
        <div class="PlaylistItem-companions">{{this}}</div>
    {{/with}}
</div>
