{{#block "VideoModule" extend="_SourceVideoModule.hbs"}}
    <div class="{{blockName}}">
        {{element "title"}}

        <div class="{{blockName}}-body">
            {{element "player"}}

            {{element "playlist"}}
        </div>

        {{element "cta"}}
    </div>
{{/block}}
