<!DOCTYPE html>
<html class="VideoPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="VideoPage-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}
        {{#if hidePromoDropShadow}} data-hide-promo-dropshadow{{/if}}
        {{#if promoModuleAlignment}} data-promo-module-alignment="{{promoModuleAlignment}}"{{/if}}
        {{#if boldMood}} data-mood-bold{{/if}}
        {{#if inlineSubheading}} data-subheading-inline="{{inlineSubheading}}"{{/if}}
        {{#if hideExternalLinkIcon}}data-hide-external-link-icon{{/if}}
        {{#if hat}}data-show-hat{{/if}}
        {{#if hideHeaderHat}}data-hide-header-hat{{/if}}
    >
    {{include "/core/page/Page-icons.hbs" this}}
    {{#with hat}}
        <div class="VideoPage-hat">{{this}}</div>
    {{/with}}
    <header class="VideoPage-header" data-with-toggle-menu itemscope itemtype="http://schema.org/WPHeader"
        {{#if mobileLeftAlignNavigation}}data-mobile-left-align-nav{{/if}}>
        <div class="VideoPage-header-contentWrapper">
            {{#with logo}}
                <div class="VideoPage-logo">
                    {{this}}
                </div>
            {{/with}}
            {{#with navigation}}
                <psd-toggler
                    class="VideoPage-navigation-menuToggle"
                    aria-role="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    toggle-trigger="navigation">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"/></svg>
                    <svg class="close-x"><use xlink:href="#close-x"/></svg>
                </psd-toggler>
                <div class="VideoPage-navigation" data-main-navigation data-toggle-item="navigation"{{#if ../navigationAlignment}}data-navigation-alignment="{{../navigationAlignment}}"{{/if}}>
                    {{this}}
                </div>
            {{/with}}
            {{#if searchAction}}
                <form class="Header-search" action="{{searchAction}}" novalidate="" autocomplete="off" data-header-search>
                    <input type="text" class="VideoPage-searchInput" name="q" placeholder="{{format "/core/page/Page" "placeholderLabel"}}">
                    {{include "/core/page/Page-searchButton.hbs" this}}
                </form>
            {{/if}}
        </div>
    </header>
    <div class="VideoPage-contentWrapper"
        data-negative-margin={{#if negativeMargin}}"{{negativeMargin}}"{{else}}default{{/if}}>
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{#with above}}
            <div class="VideoPage-above">{{this}}</div>
        {{/with}}
        <div class="CompanionScreen">
            <div class="CompanionScreen-controls">
                <div class="CompanionScreen-controls-expandButton"><svg class="left-arrow"><use xlink:href="#left-arrow"/></svg><span>EXPAND</span></div>
                <div class="CompanionScreen-controls-closeButton"><span>CLOSE</span><svg class="close-x"><use xlink:href="#close-x"/></svg></div>
            </div>
            <section class="CompanionScreen-content"></section>
        </div>
        <div class="CompanionToaster">
            <div class="CompanionToaster-titlebar">{{format "/core/page/ContentPage" "companionToasterTitle"}} <i class="CompanionToaster-close"></i></div>
            <div class="CompanionToaster-progress"></div>
            <div class="CompanionToaster-content"></div>
        </div>
        <div class="VideoPage" {{#if playlist}}data-playlist-open{{/if}}
            {{#if videoPlayerHighlight}}data-player-highlight{{/if}}>
            <div class="ScrollableContentContainer">
                <article id="VideoMain-{{contentId}}" class="VideoPage-main Test class" itemprop="mainEntity" itemscope
                    {{#if permalink}}data-permalink="{{permalink}}"{{/if}}
                    data-embeddedvideo-container
                    {{extraAttributes}}>
                    {{#if videoPlayerHighlight}}
                        {{#with player}}
                            <div class="VideoPage-player">{{this}}</div>
                        {{/with}}
                        <section class="VideoPage-content" data-is-visible>
                            {{#if sectionNavigation}}
                                <div class="VideoPage-sectionNavigation">
                                    {{sectionNavigation}}
                                </div>
                            {{/if}}
                            {{#with headline}}
                                <h1 class="VideoPage-headline" itemprop="headline">{{this}}</h1>
                            {{/with}}
                            {{#if actions}}
                                <div class="VideoPage-actions">
                                    {{actions}}
                                </div>
                            {{/if}}
                        {{else}}
                            <section class="VideoPage-content" data-is-visible>
                                {{#if sectionNavigation}}
                                    <div class="VideoPage-sectionNavigation">
                                        {{sectionNavigation}}
                                    </div>
                                {{/if}}
                                {{#with headline}}
                                    <h1 class="VideoPage-headline" itemprop="headline">{{this}}</h1>
                                {{/with}}
                                {{#if actions}}
                                    <div class="VideoPage-actions">
                                        {{actions}}
                                    </div>
                                {{/if}}
                                {{#with player}}
                                    <div class="VideoPage-player">{{this}}</div>
                                {{/with}}
                            {{/if}}
                            {{#with subHeadline}}
                                <div class="VideoPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                            {{/with}}
                            {{#with tags}}
                                <div class="VideoPage-tags">
                                    <div class="VideoPage-tags-body">{{this}}</div>
                                </div>
                            {{/with}}
                        </section>
                        {{#if below}}
                            <div class="VideoPage-below">
                                {{#each below}}
                                    {{render this [/core/list/List.hbs]="/core/list/VideoPromoList.hbs"}}
                                {{/each}}
                            </div>
                        {{/if}}
                    </article>
                </div>
            </div>
            {{#with playlist}}
                <div class="Playlist" data-is-open>
                    <div class="Playlist-content">
                        <div class="Playlist-title" data-active="">{{format "/core/video/VideoPage" "playlistTitle"}}</div>
                        <div class="Playlist-body">
                            {{#each this}}
                                {{this}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/with}}
            {{#with below}}{{/with}}
        </div>
        {{include "/core/page/Page-footer.hbs" this}}
        {{include "/core/page/Page-SearchOverlay.hbs" this}}
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
