<div class="VideoLead" data-embeddedvideo-container>
    {{~#if videoPoster~}}
        <div class="VideoLead-poster">
            <div class="VideoLead-poster-content">
                <div class="VideoLead-poster-image">
                    {{~#if videoPosterMobile~}}
                        <picture>
                            <source width="{{videoPoster.image.width}}" height="{{videoPoster.image.height}}" media="(min-width: 768px)" srcset="{{videoPoster.image.srcset}}">
                            <source width="{{videoPosterMobile.image.width}}" height="{{videoPosterMobile.image.height}}" srcset="{{videoPosterMobile.image.srcset}}">
                            <img width="{{videoPoster.image.width}}" height="{{videoPoster.image.height}}" class="Image" src="{{videoPoster.image.src}}">
                        </picture>
                    {{~else~}}
                        {{videoPoster}}
                    {{/if}}
                </div>
                <div class="VideoLead-poster-info">
                    {{#with headline}}
                        <div class="VideoLead-headline">{{this}}</div>
                    {{/with}}
                    {{#with subHeadline}}
                        <div class="VideoLead-subHeadline">{{this}}</div>
                    {{/with}}
                    <button class="VideoLead-play"><span>Play Video</span></button>
                </div>
            </div>
            {{#with player}}
                <div class="VideoLead-player">{{this}}</div>
            {{/with}}
        </div>
    {{~else~}}
        {{#with player}}
            <div class="VideoLead-player">{{this}}</div>
        {{/with}}
    {{~/if~}}
</div>
