<div class="List"{{extraAttributes}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}>
    {{#with title}}
        <div class="List-title">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="List-description">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="List-items">
            {{#each this}}
                <li class="List-items-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
    {{#if ctaUrl}}
        <div class="List-cta">
            {{#if ctaText}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=ctaText}}
            {{else}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=(format "/core/list/List" "ctaText")}}
            {{/if}}
        </div>
    {{/if}}
    <div class="List-pagination">
        {{~#each pagination~}}
            {{this}}
        {{~/each~}}
    </div>
</div>
