<div class="ListFiveColumn" data-column-count="5"
    {{#if fullWidth}}data-full-width{{/if}}
    {{extraAttributes}}
    {{#if background}}style="background-image: url({{background.image.src}})"{{/if}}
    {{#if backgroundColor}}style="background-color:var(--{{backgroundColor}})"{{/if}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}
    {{#if partialGradient}}data-gradient="partial"{{/if}}>
    {{#with title}}
        <div class="ListFiveColumn-title">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="ListFiveColumn-description">{{this}}</div>
    {{/with}}
    {{#with items}}
        <div class="ListFiveColumn-items">
            {{#partition this size=5}}
                {{#each this}}
                    <div class="ListFiveColumn-items-item">
                        {{render this [/core/promo/Promo.hbs]="/core/promo/PromoImageOnTop.hbs"}}
                    </div>
                {{/each}}
            {{/partition}}
        </div>
    {{/with}}
    {{#if ctaUrl}}
        <div class="ListFiveColumn-cta">
            {{#if ctaText}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=ctaText}}
            {{else}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=(format "/core/list/List" "ctaText")}}
            {{/if}}
        </div>
    {{/if}}
    <div class="ListFiveColumn-pagination">
        {{~#each pagination~}}
            {{this}}
        {{~/each~}}
    </div>
</div>
