<div class="ListDescriptionColumn"
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}
    {{#if hideDuration}} data-hide-duration {{/if}}
    {{#if hideAuthor}} data-hide-author {{/if}}
    {{#if hideDescription}}data-hide-description {{/if}}
    {{#if leftAlignTitle}}data-left-align-title{{/if}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}>
    <div class="ListDescriptionColumn-content">
        {{#with title}}
            <div class="ListDescriptionColumn-title">{{this}}</div>
        {{/with}}
        <div class="ListDescriptionColumn-info">
            {{#with description}}
                <div class="ListDescriptionColumn-description">{{this}}</div>
            {{/with}}
            {{#with items}}
                <div class="ListDescriptionColumn-items">
                    {{#each this}}
                        <div class="ListDescriptionColumn-items-item">
                            {{#if ../../promoType}}
                                {{render this [/core/promo/Promo.hbs]=../../promoType}}
                            {{else}}
                                {{render this [/core/promo/Promo.hbs]="/core/promo/PromoImageOnTop-2x1.hbs"}}
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    </div>
</div>
