<div class="ListOrdered"{{extraAttributes}}>
    {{#with title}}
        <header class="ListOrdered-title mood-color">{{this}}</header>
    {{/with}}
    {{#with items}}
        <ol class="ListOrdered-items">
            {{#each this}}
                <li class="ListOrdered-items-item">
                    <span class="number mood-color"></span>
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoTextItem.hbs"}}
                </li>
            {{/each}}
        </ol>
    {{/with}}
    {{#if ctaUrl}}
        <div class="ListOrdered-cta">
            {{#if ctaText}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=ctaText}}
            {{else}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=(format "/core/list/List" "ctaText")}}
            {{/if}}
        </div>
    {{/if}}
</div>
