<div class="ListLeadHero"{{extraAttributes}}
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}>
    {{#with items}}
        {{#each this}}
            {{render this [/core/list/List.hbs]="/core/list/ListLeadCarousel.hbs" [/core/container/Container.hbs]="/core/container/ContainerLeadHero.hbs"}}
        {{/each}}
    {{/with}}
    {{#if ctaUrl}}
        <div class="ListLeadHero-cta">
            {{#if ctaText}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=ctaText}}
            {{else}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=(format "/core/list/List" "ctaText")}}
            {{/if}}
        </div>
    {{/if}}
</div>
