{{#block "ListChevron" extend="/core/list/List.hbs"}}
    <div class="{{blockName}}"{{extraAttributes}}>
        {{#element "media"}}
            <div class="{{elementName}}">
                {{this}}
            </div>
        {{/element}}

        {{element "title"}}
        {{element "description"}}

        {{#element "items"}}
            <ul class="{{elementName}}">
                {{#each this}}
                    <li class="{{elementName}}-item">
                        {{render this
                            [/core/promo/Promo.hbs]="/core/promo/PromoTextItem.hbs"
                        }}
                    </li>
                {{/each}}
            </ul>
        {{/element}}
    </div>
{{/block}}
