<div class="ListColumnGridStack"{{extraAttributes}}
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}
    {{#if hideDuration}} data-hide-duration {{/if}}
    {{#if hideAuthor}} data-hide-author {{/if}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}>
    <div class="ListColumnGridStack-content">
        {{#with title}}
            <h3 class="ListColumnGridStack-title">{{this}}</h3>
        {{/with}}
        {{#with description}}
            <div class="ListColumnGridStack-description">{{this}}</div>
        {{/with}}
        {{#with items}}
            <div class="ListColumnGridStack-items">
                <div class="ListColumnGridStack-items-small">
                    {{#each this}}
                        {{#if @first}}
                            {{#if ../../promoType}}
                                {{render this [/core/promo/Promo.hbs]=../../promoType}}
                            {{else}}
                                {{render this [/core/promo/Promo.hbs]="/core/promo/PromoImageOnTop-2x1.hbs"}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="ListColumnGridStack-items-large">
                    {{#each this}}
                        {{#unless @first}}
                            <div class="ListColumnGridStack-items-item">
                                {{render this [/core/promo/Promo.hbs]="/core/promo/PromoCategoryTitle.hbs"}}
                            </div>
                        {{/unless}}
                    {{/each}}
                </div>
            </div>
        {{/with}}
        {{#if ctaUrl}}
            <div class="ListColumnGridStack-cta">
                {{#if ctaText}}
                    {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=ctaText}}
                {{else}}
                    {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=(format "/core/list/List" "ctaText")}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
