<div class="ListChevron"{{extraAttributes}}>
    {{#with media}}
        <div class="ListChevron-media">
            {{this}}
        </div>
    {{/with}}
    {{#with title}}
        <div class="ListChevron-title">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="ListChevron-description">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="ListChevron-items">
            {{#each this}}
                <li class="ListChevron-items-item">
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoTextItem.hbs"}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
</div>
