<div class="ListBulleted"{{extraAttributes}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}>
    {{#with title}}
        <div class="ListBulleted-title">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="ListBulleted-description">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="ListBulleted-items">
            {{#each this}}
                <li class="ListBulleted-items-item">
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoTextItem.hbs"}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
    {{#if ctaUrl}}
        <div class="ListBulleted-cta">
            {{#if ctaText}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=ctaText}}
            {{else}}
                {{include "/core/link/SolidButton.hbs" href=ctaUrl target=ctaTarget body=(format "/core/list/List" "ctaText")}}
            {{/if}}
        </div>
    {{/if}}
    <div class="ListBulleted-pagination">
        {{~#each pagination~}}
            {{this}}
        {{~/each~}}
    </div>
</div>
