<!DOCTYPE html>
<html class="ContentPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="ContentPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="ContentPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="ContentPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="ContentPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="ContentPage-searchInput" name="q">
                    <button type="submit" class="ContentPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="ContentPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="ContentPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="ContentPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="ContentPage-above">{{this}}</div>
        {{/with}}
        <main class="ContentPage-main">
            {{#with breadcrumbs}}
                <div class="ContentPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with mainContent}}
                <div class="ContentPage-mainContent">{{this}}</div>
            {{/with}}
            {{#with tags}}
                <div class="ContentPage-tags">
                    <h2 class="ContentPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="ContentPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="ContentPage-countries">
                    <h2 class="ContentPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="ContentPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="ContentPage-brands">
                    <h2 class="ContentPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="ContentPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="ContentPage-products">
                    <h2 class="ContentPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="ContentPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="ContentPage-topics">
                    <h2 class="ContentPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="ContentPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="ContentPage-actions">
                    <h2 class="ContentPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="ContentPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="ContentPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="ContentPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="ContentPage-below">{{this}}</div>
        {{/with}}
        <footer class="ContentPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="ContentPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="ContentPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="ContentPage-footerContent">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#with disclaimer}}
                <div class="ContentPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
