{{#block "ContentPage" override="Page.hbs"}}
    {{#element "main" noWith=true}}
        <main class="{{elementName}}">
            {{#element "breadcrumbs"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "mainContent"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "tags"}}
                <div class="{{elementName}}">
                    <h2 class="{{elementName}}-heading">Tags</h2>
                    <div class="{{elementName}}-body">{{this}}</div>
                </div>
            {{/element}}

            {{#element "countries"}}
                <div class="{{elementName}}">
                    <h2 class="{{elementName}}-heading">Countries</h2>
                    <div class="{{elementName}}-body">{{this}}</div>
                </div>
            {{/element}}

            {{#element "brands"}}
                <div class="{{elementName}}">
                    <h2 class="{{elementName}}-heading">Brands</h2>
                    <div class="{{elementName}}-body">{{this}}</div>
                </div>
            {{/element}}

            {{#element "products"}}
                <div class="{{elementName}}">
                    <h2 class="{{elementName}}-heading">Products</h2>
                    <div class="{{elementName}}-body">{{this}}</div>
                </div>
            {{/element}}

            {{#element "topics"}}
                <div class="{{elementName}}">
                    <h2 class="{{elementName}}-heading">Topics</h2>
                    <div class="{{elementName}}-body">{{this}}</div>
                </div>
            {{/element}}

            {{#element "actions"}}
                <div class="{{elementName}}">
                    <h2 class="{{elementName}}-heading">Actions</h2>
                    <div class="{{elementName}}-body">{{this}}</div>
                </div>
            {{/element}}

            {{#element "comments"}}
                <div class="{{elementName}}">
                    {{this}}
                </div>
            {{/element}}
        </main>
    {{/element}}
{{/block}}
