<!DOCTYPE html>
<html class="CreativeWorkPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="CreativeWorkPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="CreativeWorkPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="CreativeWorkPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="CreativeWorkPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="CreativeWorkPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="CreativeWorkPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="CreativeWorkPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="CreativeWorkPage-searchInput" name="q">
                    <button type="submit" class="CreativeWorkPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="CreativeWorkPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="CreativeWorkPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="CreativeWorkPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="CreativeWorkPage-above">{{this}}</div>
        {{/with}}
        <main class="CreativeWorkPage-main">
            {{#with breadcrumbs}}
                <div class="CreativeWorkPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with mainContent}}
                <div class="CreativeWorkPage-mainContent">{{this}}</div>
            {{/with}}
            {{#with tags}}
                <div class="CreativeWorkPage-tags">
                    <h2 class="CreativeWorkPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                    <div class="CreativeWorkPage-tags-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with countries}}
                <div class="CreativeWorkPage-countries">
                    <h2 class="CreativeWorkPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                    <div class="CreativeWorkPage-countries-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with brands}}
                <div class="CreativeWorkPage-brands">
                    <h2 class="CreativeWorkPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                    <div class="CreativeWorkPage-brands-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with products}}
                <div class="CreativeWorkPage-products">
                    <h2 class="CreativeWorkPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                    <div class="CreativeWorkPage-products-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with topics}}
                <div class="CreativeWorkPage-topics">
                    <h2 class="CreativeWorkPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                    <div class="CreativeWorkPage-topics-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with actions}}
                <div class="CreativeWorkPage-actions">
                    <h2 class="CreativeWorkPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                    <div class="CreativeWorkPage-actions-body">{{this}}</div>
                </div>
            {{/with}}
            {{#with comments}}
                <div class="CreativeWorkPage-comments">
                    {{this}}
                </div>
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="CreativeWorkPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="CreativeWorkPage-below">{{this}}</div>
        {{/with}}
        <footer class="CreativeWorkPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="CreativeWorkPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="CreativeWorkPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="CreativeWorkPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="CreativeWorkPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="CreativeWorkPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
