<Stack>
    <main>
        <Page component="{{component}}">
            <title>{{title}}</title>
            <lead>{{pageLead}}</lead>
            <main>{{main}}</main>
            <below>{{below}}</below>
        </Page>
    </main>
</Stack>
