<body class="Page-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
    {{include "/core/page/Page-header.hbs" this}}
    {{include "/core/page/Page-banner.hbs" this}}
    {{include "/core/page/Page-sectionNavigation.hbs" this}}
    {{include "/core/page/Page-packageNavigation.hbs" this}}
    {{include "/core/page/Page-above.hbs" this}}
    <main class="Page-main">
        {{#with pageHeading}}
            <h1 class="Page-pageHeading">{{this}}</h1>
        {{/with}}
        {{#with pageSubHeading}}
            <div class="Page-pageSubHeading">{{this}}</div>
        {{/with}}
        {{#with pageLead}}
            <div class="Page-pageLead">{{this}}</div>
        {{/with}}
        {{#with main}}{{this}}{{/with}}
        {{#with actions}}
            <div class="Page-actions">
                <h2 class="Page-actions-heading">{{format "/core/page/Page" "actionsHeading"}}</h2>
                <div class="Page-actions-body">{{this}}</div>
            </div>
        {{/with}}
    </main>
    {{include "/core/page/Page-aside.hbs" this}}
    {{include "/core/page/Page-below.hbs" this}}
    <footer class="Page-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="Page-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="Page-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="Page-footerContent">{{this}}</div>
        {{/with}}
        {{include "/core/page/Page-social.hbs" this}}
        {{include "/core/page/Page-disclaimer.hbs" this}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
