{{#if items}}
<div class="PageListQ" data-module{{include "includes/PageList-attributes.hbs" this}}>
    <div class="PageListQ-items">
        <div class="PageListQ-items-row">
            <div class="PageListQ-items-item">
                {{#with items.[0]}}
                    {{#eq this._template "/page/promo/PagePromo.hbs"}}
                        {{include "/page/promo/PagePromoModuleA.hbs" this imagePositionVertical="bottom"}}
                    {{else}}
                        {{render this}}
                    {{/eq}}
                {{/with}}
            </div>
        </div>
        <div class="PageListQ-items-row">
            {{#each items}}
                {{#if (gt @index 0)}}
                    <div class="PageListQ-items-item">
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top" description=null}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
