{{#if items}}
<bsp-list-loadmore class="PageListH" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    {{#with items}}
        <div class="PageListH-items" data-with-borders data-list-loadmore-items>
            {{#each this}}
            <div class="PageListH-items-item">
                {{#eq this._template "/page/promo/PagePromo.hbs"}}
                    {{include "/page/promo/PagePromoB.hbs" this}}
                {{else}}
                    {{render this}}
                {{/eq}}
            </div>
            {{/each}}
        </div>
    {{/with}}

    {{include "includes/PageList-footer.hbs" this canPaginate=true}}
</bsp-list-loadmore>
{{/if}}
