{{#if items}}
<div class="PageListK" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

        <div class="PageListK-items">
            <div class="PageListK-items-row">
                <div class="PageListK-items-column">
                    <div class="PageListK-items-item">
                        {{#with items.[0]}}
                            {{#set imageSize="xl"}}
                                {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                    {{include "/link/Link.hbs" this href=url body=media}}
                                {{else}}
                                    {{render this}}
                                {{/eq}}
                            {{/set}}
                        {{/with}}
                    </div>
                </div>
                <div class="PageListK-items-column" data-with-borders>
                    <div class="PageListK-items-item">
                        {{#with items.[0]}}
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoB.hbs" this media=null}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        {{/with}}
                        <div class="PageListK-items-title">
                            {{#if subTitle}}
                                {{subTitle}}
                            {{else}}
                                {{format "/page/list/PageList" "itemsTitle"}}
                            {{/if}}
                        </div>
                    </div>
                    {{#each items}}
                        {{#if (gt @index 0)}}
                        <div class="PageListK-items-item">
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/link/Link.hbs" this href=url body=title}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
