{{#if items}}
<div class="PageListR" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    <div class="PageListR-items">
        <div class="PageListR-items-row">
            <div class="PageListR-items-item">
                {{#with items.[0]}}
                    {{#set imageSize="xxl"}}
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/page/promo/PagePromoC.hbs" this }}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    {{/set}}
                {{/with}}
            </div>
        </div>
        <div class="PageListR-items-row">
            {{#each items}}
                {{#if (gt @index 0)}}
                    <div class="PageListR-items-item">
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top" description=null}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
