{{#if items}}
<div class="PageListP" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    <div class="PageListP-items">
        <div class="PageListP-items-row">
            <div class="PageListP-items-column">
                <div class="PageListP-items-item">
                    {{#with items.[0]}}
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/page/promo/PagePromoC.hbs" this}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    {{/with}}
                </div>
            </div>
            <div class="PageListP-items-column">
                {{#each items}}
                    {{#if (gt @index 0)}}
                        {{#if (lt @index 5)}}
                            <div class="PageListP-items-item">
                                {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                    {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top" description=null}}
                                {{else}}
                                    {{render this}}
                                {{/eq}}
                            </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
