{{#if items}}
<bsp-listcarousel class="PageListF" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    {{#with items}}
        <div class="PageListF-items">
            {{#each this}}
                <div class="PageListF-items-item">
                    {{#set lazyLoad=false}}
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                             {{include "/page/promo/PagePromoA.hbs" this category=null authorName=null date=null description=null}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    {{/set}}
                </div>
            {{/each}}
        </div>
    {{/with}}
    {{include "includes/PageList-footer.hbs" this}}
</bsp-listcarousel>
{{/if}}
