{{#if items}}
<div class="PageListA" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    <div class="PageListA-items">
        <div class="PageListA-items-row">
            <div class="PageListA-items-column">
                <div class="PageListA-items-item">
                    {{#with items.[0]}}
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/page/promo/PagePromoC.hbs" this}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    {{/with}}
                </div>
            </div>
            <div class="PageListA-items-column" data-with-borders>
                {{#each items}}
                    {{#if (gt @index 0)}}
                        {{#if (lt @index 5)}}
                            <div class="PageListA-items-item">
                                {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                    {{include "/page/promo/PagePromoB.hbs" this media=null authorName=null description=null}}
                                {{else}}
                                    {{render this}}
                                {{/eq}}
                            </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="PageListA-items-row">
            {{#each items}}
                {{#if (gt @index 4)}}
                    {{#if (lt @index 9)}}
                        <div class="PageListA-items-item">
                            {{#eq _template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoB.hbs" this description=null imagePositionVertical="top"}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        </div>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
