{{#if items}}
<bsp-list-auto-rotate class="PageListM" data-module{{include "includes/PageList-attributes.hbs" this}}
    {{~#with (fallback carouselSpeed '5000')}} data-carousel-speed="{{this}}"{{/with~}}
    {{~#with carouselAutoPlay}} data-carousel-auto-play{{/with~}}
    {{~#with imagePositionHorizontal}} data-image-position="{{this}}"{{/with~}}>
    {{include "includes/PageList-header.hbs" this}}

    <div class="PageListM-items">
        <div class="PageListM-slides" data-slides>
            {{#each items}}
            <div class="PageListM-slides-item" data-slide {{~#if @first}} data-active{{/if}}>
                {{#set imageSize="xl"}}
                     {{#eq this._template "/page/promo/PagePromo.hbs"}}
                        {{include "/link/Link.hbs" this href=url body=media}}
                    {{else}}
                        {{render this}}
                    {{/eq}}
                {{/set}}
            </div>
            {{/each}}
        </div>
        <div class="PageListM-navigation">
            {{#each items}}
                <div class="PageListM-navigation-item" data-navigation-item>
                    <div class="PageListM-progress" data-progress></div>
                    {{#eq this._template "/page/promo/PagePromo.hbs"}}
                         {{include "/page/promo/PagePromoC.hbs" this category=null publishDate=null authorName=null media=null}}
                    {{else}}
                        {{render this}}
                    {{/eq}}
                </div>
            {{/each}}
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</bsp-list-auto-rotate>
{{/if}}
