{{#if items}}
<bsp-list-loadmore class="PageListI" data-module data-column-count={{#if listColumns234}}{{listColumns234}}{{else}}3{{/if}}{{include "includes/PageList-attributes.hbs" this}}>
    <bsp-listcarousel data-mobile-carousel="{{#if mobileCarousel}}true{{else}}false{{/if}}">
        {{include "includes/PageList-header.hbs" this}}

        {{#with items}}
            <div class="PageListI-items" data-list-loadmore-items>
                {{#each this}}
                    <div class="PageListI-items-item">
                        {{#eq ../../listColumns234 "2"}}
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoC.hbs" this media=null}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        {{else}}
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoB.hbs" this media=null}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        {{/eq}}
                    </div>
                {{/each}}
            </div>
        {{/with}}

        {{include "includes/PageList-footer.hbs" this canPaginate=true}}
    </bsp-listcarousel>
</bsp-list-loadmore>
{{/if}}
