{{#if items}}
<div class="PageListU" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    <div class="PageListU-items">
        <div class="PageListU-items-column">
            <div class="PageListU-items-item">
                {{#with items.[0]}}
                    {{#eq this._template "/page/promo/PagePromo.hbs"}}
                        {{include "/page/promo/PagePromoC.hbs" this imagePositionVertical="top"}}
                    {{else}}
                        {{render this}}
                    {{/eq}}
                {{/with}}
            </div>
        </div>
        <div class="PageListU-items-column">
            {{#each items}}
                {{#if (gt @index 0)}}
                    {{#if (lt @index 3)}}
                        <div class="PageListU-items-item">
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top" description=null}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        </div>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        <div class="PageListU-items-column" data-with-borders>
            {{#each items}}
                {{#if (gt @index 3)}}
                    {{#if (lt @index 8)}}
                        <div class="PageListU-items-item">
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoA.hbs" this media=null description=null}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        </div>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
