{{#if items}}
<div class="PageListO" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{#if title}}
        {{include "includes/PageList-header.hbs" this}}
    {{/if}}

    <div class="PageListO-items">
        <div class="PageListO-items-row">
            <div class="PageListO-items-column" data-with-borders>
                {{#each items}}
                    <div class="PageListO-items-item">
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/link/Link.hbs" this href=url body=title}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
