{{#if items}}
<div class="PageListG" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    {{#if items}}
        <div class="PageListG-items">
            <div class="PageListG-items-row">
                <div class="PageListG-items-column">
                    <div class="PageListG-items-item">
                        {{#with items.[0]}}
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoC.hbs" this}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        {{/with}}
                    </div>
                </div>
                <div class="PageListG-items-column">
                    {{#each items}}
                        {{#if (gt @index 0)}}
                            {{#if (lt @index 3)}}
                                <div class="PageListG-items-item">
                                    {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                        {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top" description=null}}
                                    {{else}}
                                        {{render this}}
                                    {{/eq}}
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
