{{#if items}}
<bsp-list-loadmore data-module class="PageListD"{{include "includes/PageList-attributes.hbs" this}}>
    <bsp-listcarousel data-column-count={{#if listColumns234}}{{listColumns234}}{{else}}3{{/if}}
    data-mobile-carousel="{{#if mobileCarousel}}true{{else}}false{{/if}}">
        {{include "includes/PageList-header.hbs" this}}

    {{#with items}}
        <div class="PageListD-items" data-list-loadmore-items>
            {{#each this}}
                <div class="PageListD-items-item">
                    {{#eq ../../listColumns234 "2"}}
                        {{#eq this._template "/page/promo/PagePromo.hbs"}}
                            {{include "/page/promo/PagePromoC.hbs" this imagePositionVertical="top"}}
                        {{else}}
                            {{render this}}
                        {{/eq}}
                    {{else}}
                        {{#eq ../../listColumns234 "4"}}
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top" description=null}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        {{else}}
                            {{#eq this._template "/page/promo/PagePromo.hbs"}}
                                {{include "/page/promo/PagePromoB.hbs" this imagePositionVertical="top"}}
                            {{else}}
                                {{render this}}
                            {{/eq}}
                        {{/eq}}
                    {{/eq}}
                </div>
            {{/each}}
        </div>
    {{/with}}
    {{include "includes/PageList-footer.hbs" this canPaginate=true}}
    </bsp-listcarousel>
</bsp-list-loadmore>
{{/if}}
