{{#block "TwoColumnContainer"}}
    <div class="{{blockName}}">
        {{#element "columnOne"}}
            <div class="{{elementName}}">
                {{this}}
            </div>
        {{/element}}
        {{#element "columnTwo"}}
            <div class="{{elementName}}">
                {{this}}
            </div>
        {{/element}}
    </div>
{{/block}}
