<div class="PromoTextOverlayLarge-Contact{{#with aesthetic}} {{this}}{{/with}}" {{#unless media}}data-no-background{{/unless}}
    data-info-color="{{#if infoColor}}{{infoColor}}{{else}}default{{/if}}">
    {{#with media}}
        <div class="PromoTextOverlayLarge-Contact-media">
            {{~#if ../mobileMedia~}}
                <picture>
                    <source width="{{this.[0].image.width}}" height="{{this.[0].image.height}}" media="(min-width: 768px)" srcset="{{this.[0].image.srcset}}">
                    <source width="{{../mobileMedia.image.width}}" height="{{../mobileMedia.image.height}}" srcset="{{../mobileMedia.image.srcset}}">
                    <img width="{{this.[0].image.width}}" height="{{this.[0].image.height}}" class="Image lazyload" src="{{this.[0].image.src}}">
                </picture>
            {{~else~}}
                <img class="Image" alt="{{alt}}" src="{{this.[0].image.src}}"
                {{~#with this.[0].image.srcset}} srcset="{{this}}"{{/with~}}
                {{~#with this.[0].image.width}} width="{{this}}"{{/with~}}
                {{~#with this.[0].image.height}} height="{{this}}"{{/with~}} />
            {{~/if~}}
        </div>
    {{/with}}
    <div class="PromoTextOverlayLarge-Contact-info"
        data-horizontal-align="{{#if horizontalAlignment}}{{horizontalAlignment}}{{else}}left{{/if}}">
        <div class="PromoTextOverlayLarge-Contact-info-content">
            {{#with description}}
                <div class="PromoTextOverlayLarge-Contact-description">{{this}}</div>
            {{/with}}
            {{#with title}}
                <div class="PromoTextOverlayLarge-Contact-title">
                    <a href="tel:+{{this}}">{{this}}</a>
                </div>
            {{/with}}
            {{#if url}}
                <div class="PromoTextOverlayLarge-Contact-info-button">
                    {{#if buttonText}}
                        {{include "/core/link/SolidButton.hbs" href=url target=target body=buttonText contentId=linkId}}
                    {{else}}
                        {{include "/core/link/SolidButton.hbs" href=url target=target body="learn more" contentId=linkId}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
