{{#block "PromoBlog" extend="Promo.hbs"}}
<div class="{{blockName}}"{{extraAttributes}}>
      {{#element "media"}}
          <div class="{{elementName}}">
              {{include "../link/Link.hbs" href=../url target=../target body=this}}
          </div>
      {{/element}}

        {{#element "info" noWith=true}}
            <div class="{{elementName}}">
                {{element "title"}}

                <div class="{{blockName}}-byline">
                    {{#element "authorName"}}
                        <div class="{{blockName}}-author">
                            {{~format "AuthorBy"~}}&nbsp;
                            {{~#if ../authorUrl~}}
                                {{~include "../link/Link.hbs" href=../authorUrl target=../target body=this~}}
                            {{else}}
                                {{~this~}}
                            {{~/if~}}
                            &nbsp;&nbsp;|&nbsp;&nbsp;{{~#with ../date~}}{{~this~}}{{~/with~}}
                        </div>
                    {{/element}}
                    {{#if category}}&nbsp;&nbsp;|&nbsp;&nbsp;{{/if}}
                    {{element "category"}}
                </div>


                {{element "description"}}

                {{#if url}}
                    <div class="{{elementName}}-button">
                        {{#if buttonText}}
                            {{include "/core/link/Link.hbs" href=url target=target body=buttonText contentId=linkId}}
                        {{else}}
                            {{include "/core/link/Link.hbs" href=url target=target body="Read Full Story" contentId=linkId}}
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/element}}
    </div>
{{/block}}