<div class="PromoIconOnSide{{#with aesthetic}} {{this}}{{/with}}"{{extraAttributes}}>
    {{#with media}}
        <div class="PromoIconOnSide-media">
            {{~#if ../url~}}
                <a class="Link" href="{{../url}}"{{#with ../target}} target="{{this}}"{{/with}}>
                {{~/if~}}
                {{~#if ../mobileMedia~}}
                    <picture>
                        <source width="{{this.[0].image.width}}" height="{{this.[0].image.height}}" media="(min-width: 768px)" srcset="{{this.[0].image.srcset}}">
                        <source width="{{../mobileMedia.image.width}}" height="{{../mobileMedia.image.height}}" srcset="{{../mobileMedia.image.srcset}}">
                        <img class="Image" src="{{this.[0].image.src}}">
                    </picture>
                {{~else~}}
                    <img class="Image" alt="{{alt}}" src="{{this.[0].image.src}}"
                    {{~#with this.[0].image.width}} width="{{this}}"{{/with~}}
                    {{~#with this.[0].image.height}} height="{{this}}"{{/with~}}
                    {{~#with this.[0].image.srcset}} srcset="{{this}}"{{/with~}}
                >
            {{~/if~}}
            {{~#if ../url~}}
            </a>
        {{~/if~}}
    </div>
{{/with}}
<div class="PromoIconOnSide-info">
    {{#with title}}
        <div class="PromoIconOnSide-title">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with description}}
        <div class="PromoIconOnSide-description">{{this}}</div>
    {{/with}}
</div>
</div>
