{{#block "PromoImageOnTop-circular" extend="Promo.hbs"}}
    <div class="{{blockName}}">
        {{element "media"}}

        {{#element "info" noWith=true}}
            <div class="{{elementName}}">
                {{element "title"}}
                {{element "description"}}
            </div>
        {{/element}}
    </div>
{{/block}}