{{#block "PromoTextOverlay" extend="Promo.hbs"}}
    <div class="{{blockName}}{{#with aesthetic}} {{this}}{{/with}}" {{#unless media}}data-no-background{{/unless}}>

        {{#element "background"}}
            <div class="{{elementName}}">
                {{this}}
            </div>
        {{/element}}

        {{#element "info" noWith=true}}
            <div class="{{elementName}}"
                {{#if horizontalAlignment}}data-horizontal-align="{{horizontalAlignment}}" {{/if}}
                {{#if verticalAlignment}}data-vertical-align="{{verticalAlignment}}"{{/if}}>

                {{#element "media"}}
                    <div class="{{elementName}}">
                        {{#if ../url}}<a href="{{../url}}" target="{{../target}}">{{/if}}
                        <img class="Image lazyload" alt="{{alt}}" src="{{this.[0].image.src}}"
                            {{~#with this.[0].image.srcset}} srcset="{{this}}"{{/with~}}
                            {{~#with this.[0].image.width}} width="{{this}}"{{/with~}}
                            {{~#with this.[0].image.height}} height="{{this}}"{{/with~}} />
                        {{#if ../url}}</a>{{/if}}
                    </div>
                {{/element}}

                {{#element "title"}}
                    <div class="{{elementName}}" {{#if ../textColor}}style="color:{{../textColor}}"{{/if}}>
                        {{include "/core/link/Link.hbs" href=../url target=../target body=this}}
                    </div>
                {{/element}}

                {{#element "description"}}
                    <div class="{{elementName}}" {{#if ../textColor}}style="color:{{../textColor}}"{{/if}}>{{this}}</div>
                {{/element}}

                {{#if url}}
                    <div class="{{elementName}}-button">
                        {{#if buttonText}}
                            {{include "/core/link/SolidButton.hbs" href=url target=target body=buttonText contentId=linkId}}
                        {{else}}
                            {{include "/core/link/SolidButton.hbs" href=url target=target body="learn more" contentId=linkId}}
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/element}}
    </div>
{{/block}}
