<div class="PromoImageFlip" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <img class="invisible-image" width="{{this.media.[0].image.width}}" height="{{this.media.[0].image.height}}"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <div class="PromoImageFlip-front {{#if dogEar}}dog-ear{{/if}}">
            {{#with media}}
                <div class="PromoImageFlip-media">
                    {{this}}
                </div>
            {{/with}}
        </div>
        <div class="PromoImageFlip-back">
            <div class="PromoImageFlip-info">
                {{#with title}}
                    <div class="PromoImageFlip-title">
                        {{include "../link/Link.hbs" href=../url target=../target body=this}}
                    </div>
                {{/with}}
                <hr>
                    {{#with description}}
                        <div class="PromoImageFlip-description">{{this}}</div>
                    {{/with}}
                    <div class="PromoImageFlip-info-button">
                        {{#if buttonText}}
                            {{include "/core/link/SolidButton.hbs" href=url target=target body=buttonText contentId=linkId}}
                        {{else}}
                            {{include "/core/link/SolidButton.hbs" href=url target=target body="learn more" contentId=linkId}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
