<div class="PromoFullWidth"{{extraAttributes}}
    {{#if partialGradient}} data-partial-gradient="true"{{/if}}
    {{#if outlineInfo}}data-outline-info{{/if}}
    {{#with horizontalAlignment}} data-horizontal-alignment="{{this}}"{{/with}}
    {{#if titleSize}}data-title-size="{{titleSize}}"{{/if}}
    {{#if hideButton}}data-hide-button{{/if}}
    {{#if alternateStyle}}data-alternate-style{{/if}}>
    <div class="PromoFullWidth-overlay"></div>
    {{#with media}}
        <div class="PromoFullWidth-media">
            {{~#if ../mobileMedia~}}
                <picture>
                    <source width="{{this.[0].image.width}}" height="{{this.[0].image.height}}" media="(min-width: 768px)" srcset="{{this.[0].image.srcset}}">
                    <source width="{{../mobileMedia.image.width}}" height="{{../mobileMedia.image.height}}" srcset="{{../mobileMedia.image.srcset}}">
                    <img width="{{this.[0].image.width}}" height="{{this.[0].image.height}}" class="Image" src="{{this.[0].image.src}}">
                </picture>
            {{~else~}}
                {{this}}
            {{/if}}
        </div>
    {{/with}}
    <div class="PromoFullWidth-info">
        {{#with title}}
            <div class="PromoFullWidth-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}
        {{#with description}}
            <div class="PromoFullWidth-description">{{this}}</div>
        {{/with}}
        {{#if url}}
            <div class="PromoFullWidth-button">
                {{#if buttonText}}
                    {{include "/core/link/Link.hbs" href=url target=target body=buttonText}}
                {{else}}
                    {{include "/core/link/Link.hbs" href=url target=target body=(format "/core/promo/PromoFullWidth" "PromoFullWidthButton")}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
