<div class="PromoImageFlip-small" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <img class="invisible-image" width="{{this.media.[0].image.width}}" height="{{this.media.[0].image.height}}"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <div class="PromoImageFlip-small-front {{#if dogEar}}dog-ear{{/if}}">
            <div class="PromoImageFlip-small-info">
                {{#with title}}
                    <div class="PromoImageFlip-small-title">
                        {{include "../link/Link.hbs" href=../url target=../target body=this}}
                    </div>
                {{/with}}
                {{#with description}}
                    <div class="PromoImageFlip-small-description">{{this}}</div>
                {{/with}}
                {{#with media}}
                    <img class="Image" alt="{{alt}}" src="{{this.[0].image.src}}"
                    {{~#with this.[0].image.width}} width="{{this}}"{{/with~}}
                    {{~#with this.[0].image.height}} height="{{this}}"{{/with~}}
                    {{~#with this.[0].image.srcset}} srcset="{{this}}"{{/with~}}
                >
            {{/with}}
        </div>
    </div>
    <div class="PromoImageFlip-small-back">
        <div class="PromoImageFlip-small-info">
            {{#if backText}}
                <div class="PromoImageFlip-small-backText">
                    {{backText}}
                </div>
            {{/if}}
            <div class="PromoImageFlip-small-button">
                {{#if buttonText}}
                    {{include "/core/link/SolidButton.hbs" href=url target=target body=buttonText contentId=linkId}}
                {{else}}
                    {{include "/core/link/SolidButton.hbs" href=url target=target body="learn more" contentId=linkId}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
</div>
