<div class="PromoImageOnTop-large{{#with aesthetic}} {{this}}{{/with}}"{{extraAttributes}}
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}
    {{#if hideDescription}}data-hide-description{{/if}}
    {{#if hideDate}}data-hide-date{{/if}}
    {{#if hideAuthor}}data-hide-author{{/if}}
    {{#if hideCategory}}data-hide-category{{/if}}
    {{#with horizontalAlignment}} data-horizontal-align="{{this}}"{{/with}}>
    {{#with media}}
        <div class="PromoImageOnTop-large-media">{{include "/core/link/Link.hbs" href=../url target=../target body=this}}
            {{#if "../type"}}
                <span class="PromoImageOnTop-large-type" data-type={{../type}}></span>
            {{/if}}
        </div>
    {{/with}}
    <div class="PromoImageOnTop-large-info">
        {{#with category}}
            <div class="PromoImageOnTop-large-category">
                {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this contentId=../categoryId}}
            </div>
        {{/with}}
        {{#with title}}
            <div class="PromoImageOnTop-large-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}
        {{#if authorName}}
            <div class="PromoImageOnTop-large-authorContent">
                {{#with authorImage}}
                    <div class="PromoImageOnTop-large-authorImage">
                        {{include "../link/Link.hbs" href=../authorUrl target=../target body=this}}
                    </div>
                {{/with}}
                <div class="PromoImageOnTop-large-authorInfo">
                    {{#with authorName}}
                        <div class="PromoImageOnTop-large-authorName">
                            {{format "/core/promo/PromoImageOnTop-large" "AuthorBy"}}&nbsp;{{include "../link/Link.hbs" href=../authorUrl target=../target body=this}}
                        </div>
                    {{/with}}
                    {{#if date}}
                        <div class="PromoImageOnTop-large-date">{{date}}</div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        {{#with description}}
            <div class="PromoImageOnTop-large-description">{{this}}</div>
        {{/with}}
        {{#if duration}}
            <span class="PromoImageOnTop-large-duration" data-type={{type}}>{{duration}}</span>
        {{/if}}
    </div>
</div>
