<div class="PromoStory"{{extraAttributes}}
    {{#if hideDate}}data-hide-date{{/if}}
    data-info-color={{#if infoColor}}{{infoColor}}{{else}}white{{/if}}
    {{#if backgroundImageAndColor}}style="background:{{backgroundImageAndColor.cssValue}}"{{/if}}
    {{#if hideButton}}data-hide-button{{/if}}>
    {{#with category}}
        <div class="PromoStory-category">
            {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this contentId=../categoryId}}
        </div>
    {{/with}}
    {{#with title}}
        <div class="PromoStory-title">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with description}}
        <div class="PromoStory-description">{{this}}</div>
    {{/with}}
    {{#with date}}
        <div class="PromoStory-date">{{this}}</div>
    {{/with}}
    <div class="PromoStory-button">
        {{#if buttonText}}
            {{include "/core/link/SolidButton.hbs" href=url target=target body=buttonText}}
        {{else}}
            {{include "/core/link/SolidButton.hbs" href=url target=target body=(format "/core/promo/PromoStory" "buttonText")}}
        {{/if}}
    </div>
</div>
