<div class="VideoPromo{{#with aesthetic}} {{this}}{{/with}}"{{extraAttributes}}>
    {{#with media}}
        <div class="VideoPromo-media">{{include "/core/link/Link.hbs" href=../url target=../target body=this}}
            {{#if "../type"}}
                <span class="VideoPromo-type" data-type={{../type}}>{{include "/core/link/Link.hbs" href=../url target=../target body=""}}</span>
            {{/if}}
        </div>
    {{/with}}
    <div class="VideoPromo-info">
        {{#with category}}
            <div class="VideoPromo-category">
                {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this contentId=../categoryId}}
            </div>
        {{/with}}
        {{#with title}}
            <div class="VideoPromo-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}
        {{#if duration}}
            <span class="VideoPromo-duration" data-type={{type}}>{{duration}}</span>
        {{/if}}
    </div>
</div>
