{{#block "VideoPromo" extend="/core/promo/Promo.hbs"}}
    <div class="{{blockName}}{{#with aesthetic}} {{this}}{{/with}}"{{extraAttributes}}>
        {{#element "media"}}
            <div class="{{elementName}}">{{include "/core/link/Link.hbs" href=../url target=../target body=this}}
            {{#if "../type"}}
                <span class="{{blockName}}-type" data-type={{../type}}>{{include "/core/link/Link.hbs" href=../url target=../target body=""}}</span>
            {{/if}}
            </div>
        {{/element}}

        {{#element "info" noWith=true}}
            <div class="{{elementName}}">
                {{element "category"}}

                {{element "title"}}

                {{#if duration}}
                    <span class="{{blockName}}-duration" data-type={{type}}>{{duration}}</span>
                {{/if}}

            </div>
        {{/element}}
    </div>
{{/block}}
