<Page>
    <title>{{headline}}</title>
    <main>
        <Article component="{{component}}">
            <lead>{{lead}}</lead>
            <preHeadline>{{breadcrumbs.[0].body}}</preHeadline>
            <creativeWorkHeadline>{{headline}}</creativeWorkHeadline>
            <creativeWorkSubHeadline>{{subHeadline}}</creativeWorkSubHeadline>
            <authorName>{{authorName}}</authorName>
            {{#if authorUrl}}
                <authorUrl>
                    <Link>
                        <url>{{authorUrl}}</url>
                    </Link>
                </authorUrl>
            {{/if}}
            <contributors>{{contributors}}</contributors>
            <datePublished>{{datePublished}}</datePublished>
            <body>{{articleBody}}</body>
            <revisions>{{updatesCorrections}}</revisions>
            <tags>{{tags}}</tags>
            {{#with people}}
                <people>
                    <List>
                        <items>
                            {{#each people}}
                                {{render this [/core/promo/Promo.native.hbs]="/core/promo/AuthorPromo.native.hbs"}}
                            {{/each}}
                        </items>
                    </List>
                </people>
            {{/with}}
        </Article>
    </main>
    <below>{{below}}</below>
</Page>
