{{#block "ListArticleBodyItem"}}
    <div class="{{blockName}}">
        {{#element "headline"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}

        {{#element "body"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
    </div>
{{/block}}
