<div class="Promo"{{extraAttributes}}>
    {{#with media}}
        <div class="Promo-media">
            {{include "../link/Link.amp.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with category}}
        <div class="Promo-category">
            {{include "../link/Link.amp.hbs" href=../categoryUrl target=../target body=this}}
        </div>
    {{/with}}
    {{#with type}}
        <div class="Promo-type">{{this}}</div>
    {{/with}}
    {{#with duration}}
        <div class="Promo-duration">{{this}}</div>
    {{/with}}
    {{#with date}}
        <div class="Promo-date">{{this}}</div>
    {{/with}}
    {{#with title}}
        <div class="Promo-title">
            {{include "../link/Link.amp.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with description}}
        <div class="Promo-description">{{this}}</div>
    {{/with}}
    {{#with button}}
        <div class="Promo-button">
            {{include "../link/Link.amp.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with actions}}
        <div class="Promo-actions">
            {{this}}
        </div>
    {{/with}}
</div>
