{{#if items}}
    <div class="PaginatedTable">
        <table>
            {{include "/dam/table/PaginatedTable-head.hbs" this}}
            {{include "/dam/table/PaginatedTable-items.hbs" this}}
        </table>
    </div>
    <div class="PaginatedTable-pagination">
        {{#if pageCount}}
            <span class="PaginatedTable-pagination-pageCount">{{pageNumber}} of {{pageCount}}</span>
        {{/if}}
        <a {{#if previousPage}}href="{{previousPage}}"{{else}}data-disabled{{/if}} rel="prev" class="PaginatedTable-pagination-previous" title="Previous"></a>
        <a {{#if nextPage}}href="{{nextPage}}"{{else}}data-disabled{{/if}} rel="next" class="PaginatedTable-pagination-next" title="Next"></a>
    </div>
{{else}}
    <h3 class="PaginatedTable-noResults">
        There are no items to show.
    </h3>
{{/if}}
