<div class="HTML5VideoPlayer-wrapper">
    <bsp-html5player data-video-player class="HTML5VideoPlayer"
        data-video-id="{{videoId}}"
        data-video-title="{{videoTitle}}"
        {{~#if muted}} data-muted="true"{{/if~}}
        {{~#if autoplay}} data-muted="true" data-autoplay="true"{{/if~}}>

        <div class="HTML5VideoPlayer-screen" data-aspect-ratio="{{#if aspectRatio}}{{aspectRatio}}{{else}}4x3{{/if}}">
            <video id="HTML5VideoPlayer-{{playerId}}" class="HTML5VideoPlayer-video"
                {{#if poster}}{{#resize poster "large-16x9"}} poster="{{src}}" {{/resize}}{{/if}} preload="{{#if preloadNone}}none{{/if}}{{#if preloadMetaData}}metadata{{/if}}"
                {{#if autoplay}} autoplay muted{{/if}} {{#if loop}} loop{{/if}} {{#if muted}} muted{{/if}}
                {{#if height}} height="{{height}}" {{/if}} {{#if width}} width="{{width}}" {{/if}} {{extraAttributes}}>
                {{#with sources}}
                {{#each this}}
                {{this}}
                {{/each}}
                {{/with}}
            </video>
            <span class="HTML5VideoPlayer-playIcon" data-type="video">
                <svg>
                    <use xlink:href="#play-icon"></use>
                </svg>
            </span>
        </div>
    </bsp-html5player>
    {{#if videoTitle}}
        <div class="HTML5VideoPlayer-content">
            {{#with videoTitle}}
                <div class="HTML5VideoPlayer-content-title">
                    {{this}}
                </div>
            {{/with}}
        </div>
    {{/if}}
</div>
