<div
    class="YouTubeVideoPlayer"
    data-video-player
    data-player-id="{{playerId}}"
    data-video-id="{{videoId}}"
    data-video-title="{{videoTitle}}"
    {{~#if muted}} data-muted{{/if~}}
    {{~#if autoplay}} data-autoplay{{/if~}}
>
<iframe id="YouTubeVideoPlayer-{{playerId}}" allowfullscreen src="https://www.youtube.com/embed/
    {{~videoId}}?enablejsapi=1
    {{~#with autoplay}}&amp;autoplay=1{{/with~}}
    {{~#with seekSeconds}}&amp;start={{this}}{{/with~}}
    "></iframe>
</div>
