<div class="Callout" {{include '/global/ModuleAttributes.hbs' this}}
    {{~#with type}} data-type="{{this}}"{{/with~}}
    >
    {{include "/link/AnchorLink.hbs" this}}

    {{#or type title}}
    <div class="Callout-header">
        {{#with type}}
        <span class="Callout-icon">
            {{#eq this 'important'}}{{include (iconPath 'star' 'fill')}}{{/eq}}
            {{#eq this 'tip'}}{{include (iconPath 'magic-wand' 'fill')}}{{/eq}}
            {{#eq this 'note'}}{{include (iconPath 'note' 'fill')}}{{/eq}}
            {{#eq this 'warning'}}{{include (iconPath 'warning' 'fill')}}{{/eq}}
        </span>
        {{/with}}
        <div class="Callout-title">
            {{#with title}}
                {{this}}
            {{/with}}
            {{#unless title}}
                {{#eq type 'important'}}{{format 'importantTitle'}}{{/eq}}
                {{#eq type 'tip'}}{{format 'tipTitle'}}{{/eq}}
                {{#eq type 'note'}}{{format 'noteTitle'}}{{/eq}}
                {{#eq type 'warning'}}{{format 'warningTitle'}}{{/eq}}
            {{/unless}}
        </div>
    </div>
    {{/or}}

    {{#with body}}
        <div class="Callout-body RichTextBody">
            {{this}}
        </div>
    {{/with}}
</div>