<tr>
    <td class="SharesTableRow-date">{{date}}</td>
    <td class="SharesTableRow-title">{{title}}</td>
    <td class="SharesTableRow-emails">{{emails}}</td>
    <td class="SharesTableRow-description">{{description}}</td>
    <td class="SharesTableRow-button">
        <a class="ShareAgainLink" href="{{url}}">{{button}}</a>
    </td>
</tr>
