<!DOCTYPE html>
<html class="SharesPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="SharesPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="SharesPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="SharesPage-hat">{{this}}</div>
            {{/with}}
            {{#with logo}}
                <div class="SharesPage-logo">{{this}}</div>
            {{/with}}
            {{#with navigation}}
                <div class="SharesPage-navigation">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="SharesPage-social">{{this}}</div>
            {{/with}}
            {{#if searchAction}}
                <form class="SharesPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="SharesPage-searchInput" name="q">
                    <button type="submit" class="SharesPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="SharesPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="SharesPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="SharesPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="SharesPage-above">{{this}}</div>
        {{/with}}
        <header class="SharesPage-main">
            {{#with breadcrumbs}}
                <div class="SharesPage-breadcrumbs">{{this}}</div>
            {{/with}}
            {{#with pageHeading}}
                <h1 class="SharesPage-pageHeading">{{this}}</h1>
            {{/with}}
            {{#with totalCount}}
                <span class="SharesPage-totalCount">{{this}}</span>
            {{/with}}
        </header>
        <main class="SharesPage-main">
            {{#with main}}
                {{#each this}}
                    {{this}}
                {{/each}}
            {{/with}}
        </main>
        {{#with aside}}
            <aside class="SharesPage-aside">{{this}}</aside>
        {{/with}}
        {{#with below}}
            <div class="SharesPage-below">{{this}}</div>
        {{/with}}
        <footer class="SharesPage-footer" itemscope itemtype="https://schema.org/WPFooter">
            {{#with footerLogo}}
                <div class="SharesPage-footerLogo">{{this}}</div>
            {{/with}}
            {{#with footerNavigation}}
                <div class="SharesPage-footerNavigation">{{this}}</div>
            {{/with}}
            {{#with footerContent}}
                <div class="SharesPage-footerContent">{{this}}</div>
            {{/with}}
            {{#with social}}
                <div class="SharesPage-social">{{this}}</div>
            {{/with}}
            {{#with disclaimer}}
                <div class="SharesPage-disclaimer">{{this}}</div>
            {{/with}}
        </footer>
        {{include "/core/page/Page-extraBodyItems.hbs" this}}
    </body>
</html>
