{{#if items}}
<div class="PageListStandardM" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}

    {{#set enableZoomImage=true imageSize="xl-16x9"}}
    <div class="PageList-items">
        <div class="PageList-items-item">
            {{#with items.[0]}}
                {{#eq this._template "/page/promo/PagePromo.hbs"}}
                    {{include "/page/promo/PagePromo.hbs" this}}
                {{else}}
                    {{render this}}
                {{/eq}}
            {{/with}}
        </div>
        {{#each items}}
            {{#if (gt @index 0)}}
                <div class="PageList-items-item">
                    {{#eq this._template "/page/promo/PagePromo.hbs"}}
                        {{include "/page/promo/PagePromo.hbs" this}}
                    {{else}}
                        {{render this}}
                    {{/eq}}
                </div>
            {{/if}}
        {{/each}}
    </div>
    {{/set}}

    {{include "includes/PageList-footer.hbs" this}}
</div>
{{/if}}
