{{#if items}}
    <div class="PageList-Amp" {{extraAttributes}} data-module data-column-count={{#if listColumns234}}{{listColumns234}}{{else}}3{{/if}}>
        <div class="PageList-header" {{#unless title}}data-no-title{{/unless}}>
            {{#if title}}
                  <div class="PageList-Amp-header-title">{{#if titleUrl}}<a href="{{titleUrl}}">{{title}}</a>{{else}}{{title}}{{/if}}</div>
            {{/if}}
       </div>

        {{#with description}}
            <div class="PageList-Amp-description">{{this}}</div>
        {{/with}}

        {{#with items}}
            <ul class="PageList-Amp-items amp">
                {{#each this}}
                <li class="PageList-Amp-items-item">
                          {{include "/page/promo/PagePromo.amp.hbs" this}}
                </li>
                {{/each}}
            </ul>
        {{/with}}

        {{#and ctaUrl ctaButtonText}}
            <div class="PageList-Amp-cta">
                  <a class="Button-loadMore" href="{{ctaUrl}}">{{ctaButtonText}}</a>
            </div>
        {{/and}}
    </div>
{{else}}{{~noResultsModule~}}{{/if}}
