<div class="PromoB"{{include "Promo-options.hbs" this}}>
    <div class="PromoB-content">
        {{#if (ne imageAlignment "bottom")}}
            {{#if media}}
                <div class="PromoB-media">
                    {{#set imageSize='promoMedium'}}
                        {{#set lazyLoad='true'}}
                            {{include "../link/Link.hbs" aria-label=title href=url target=target body=media}}
                        {{/set}}
                    {{/set}}
                </div>
            {{/if}}
        {{/if}}

        {{#with category}}
            <div class="PromoB-category">
                {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this}}
            </div>
        {{/with}}

        {{#with title}}
            <div class="PromoB-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}

        {{#with description}}
            <div class="PromoB-description">{{this}}</div>
        {{/with}}

        {{#with date}}
            <div class="PromoB-date">{{this}}</div>
        {{/with}}

        {{#if (eq imageAlignment "bottom")}}
            {{#if media}}
                <div class="PromoB-media">
                    {{#set imageSize='promoMedium'}}
                        {{#set lazyLoad='true'}}
                            {{include "../link/Link.hbs" aria-label=title href=url target=target body=media}}
                        {{/set}}
                    {{/set}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
