<div class="CompanionContentItem"{{extraAttributes}}>
    {{#with media}}
        <div class="CompanionContentItem-media">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with category}}
        <div class="CompanionContentItem-category">
            {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this}}
        </div>
    {{/with}}
    {{#with type}}
        <div class="CompanionContentItem-type">{{this}}</div>
    {{/with}}
    {{#with duration}}
        <div class="CompanionContentItem-duration">{{this}}</div>
    {{/with}}
    {{#with date}}
        <div class="CompanionContentItem-date">{{this}}</div>
    {{/with}}
    {{#with title}}
        <div class="CompanionContentItem-title">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with timeStamp}}
        <div class="CompanionContentItem-timeStamp">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="CompanionContentItem-description">{{this}}</div>
    {{/with}}
    {{#with status}}
        <div class="CompanionContentItem-status">{{this}}</div>
    {{/with}}
    <div class="CompanionContentItem-author">
        {{#with authorImage}}
            <div class="CompanionContentItem-authorImage">
                {{include "../link/Link.hbs" href=../authorUrl target=../target body=this}}
            </div>
        {{/with}}
        {{#with authorName}}
            <div class="CompanionContentItem-authorName">
                {{include "../link/Link.hbs" href=../authorUrl target=../target body=this}}
            </div>
        {{/with}}
    </div>
    {{#with button}}
        <div class="CompanionContentItem-button">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with actions}}
        <div class="CompanionContentItem-actions">
            {{this}}
        </div>
    {{/with}}
    {{#with social}}
        <div class="CompanionContentItem-social">{{this}}</div>
    {{/with}}
</div>
