<VideoPlayer component="{{component}}">
    <title>{{videoTitle}}</title>
    <sources>{{sources}}</sources>
    <poster>{{poster.src}}</poster>
    <muted>{{muted}}</muted>
    <autoplay>{{autoplay}}</autoplay>
</VideoPlayer>
