<div class="PlaylistItem"{{extraAttributes}}>
    {{#with media}}
        <div class="PlaylistItem-media">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with category}}
        <div class="PlaylistItem-category">
            {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this}}
        </div>
    {{/with}}
    {{#with type}}
        <div class="PlaylistItem-type">{{this}}</div>
    {{/with}}
    {{#with duration}}
        <div class="PlaylistItem-duration">{{this}}</div>
    {{/with}}
    {{#with date}}
        <div class="PlaylistItem-date">{{this}}</div>
    {{/with}}
    {{#with title}}
        <div class="PlaylistItem-title">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with description}}
        <div class="PlaylistItem-description">{{this}}</div>
    {{/with}}
    {{#with companions}}
        <h4 class="PlaylistItem-companions-heading">Companion Content</h4>
        <div class="PlaylistItem-companions">{{this}}</div>
    {{/with}}
    {{#with status}}
        <div class="PlaylistItem-status">{{this}}</div>
    {{/with}}
    <div class="PlaylistItem-author">
        {{#with authorImage}}
            <div class="PlaylistItem-authorImage">
                {{include "../link/Link.hbs" href=../authorUrl target=../target body=this}}
            </div>
        {{/with}}
        {{#with authorName}}
            <div class="PlaylistItem-authorName">
                {{include "../link/Link.hbs" href=../authorUrl target=../target body=this}}
            </div>
        {{/with}}
    </div>
    {{#with button}}
        <div class="PlaylistItem-button">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
    {{#with actions}}
        <div class="PlaylistItem-actions">
            {{this}}
        </div>
    {{/with}}
    {{#with social}}
        <div class="PlaylistItem-social">{{this}}</div>
    {{/with}}
</div>
