<Page>
    <title>{{headline}}</title>
    <lead>
        <Video component="{{component}}">
            <title>{{headline}}</title>
            <description>{{subHeadline}}</description>
            <tags>{{tags}}</tags>
            <media>{{media}}</media>
            <provider>{{player}}</provider>
            <aspectRatio>{{player.[0].aspectRatio}}</aspectRatio>
            <duration>{{duration}}</duration>
        </Video>
    </lead>
    <main>
        <AnchorTabs>
            <tabs>
                <AnchorTab>
                    <tab>Info</tab>
                </AnchorTab>
                <AnchorTab>
                    <tab>Companion</tab>
                </AnchorTab>
                <AnchorTab>
                    <tab>Comments</tab>
                </AnchorTab>
                <AnchorTab>
                    <tab>More</tab>
                </AnchorTab>
            </tabs>
            <targets>
                <AnchorTarget>
                    <heading></heading>
                    <content>
                        <CreativeWork>
                            <preHeadline>{{breadcrumbs.[0].body}}</preHeadline>
                            <creativeWorkHeadline>{{headline}}</creativeWorkHeadline>
                            <creativeWorkSubHeadline>{{subHeadline}}</creativeWorkSubHeadline>
                            <tags>{{tags}}</tags>
                        </CreativeWork>
                    </content>
                </AnchorTarget>
                <AnchorTarget>
                    <content>{{collections}}</content>
                </AnchorTarget>
                <AnchorTarget>
                    <content>{{comments}}</content>
                </AnchorTarget>
                <AnchorTarget>
                    <content>{{below}}</content>
                </AnchorTarget>
            </targets>
        </AnchorTabs>
    </main>
</Page>
