<div class="VideoModule">
    {{#with title}}
        <div class="VideoModule-title">{{this}}</div>
    {{/with}}
    {{#with actions}}
        <div class="VideoModule-actions">{{this}}</div>
    {{/with}}
    {{#with player}}
        <div class="VideoModule-player">{{this}}</div>
    {{/with}}
    {{#with playlist}}
        <div class="VideoModule-playlist">{{this}}</div>
    {{/with}}
    {{#if ctaUrl}}
        <div class="VideoModule-cta">
            {{include "../link/Link.hbs" href=ctaUrl target=ctaTarget body=(format "/core/video/VideoModule" "ctaText")}}
        </div>
    {{/if}}
</div>
