<!DOCTYPE html>
<html class="VideoPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="VideoPage-body"{{~#each extraBodyAttributes}} {{this}}{{~/each~}}>
        <header class="VideoPage-header" itemscope itemtype="http://schema.org/WPHeader">
            {{#with hat}}
                <div class="VideoPage-hat">{{this}}</div>
            {{/with}}
            {{include "/core/page/Page-logo.amp.hbs" this}}
            {{include "/core/page/Page-navigation.amp.hbs" this}}
            {{include "/core/page/Page-social.hbs" this}}
            {{#if searchAction}}
                <form class="VideoPage-search" action="{{searchAction}}" novalidate="" autocomplete="off">
                    <input type="text" class="VideoPage-searchInput" name="q">
                    <button type="submit" class="VideoPage-searchButton">{{format "/core/page/Page" "searchButtonLabel"}}</button>
                </form>
            {{/if}}
        </header>
        {{#with banner}}
            <div class="VideoPage-banner">{{~this~}}</div>
        {{/with}}
        {{#with sectionNavigation}}
            <div class="VideoPage-sectionNavigation">{{this}}</div>
        {{/with}}
        {{#with packageNavigation}}
            <div class="VideoPage-packageNavigation">{{this}}</div>
        {{/with}}
        {{#with above}}
            <div class="VideoPage-above">{{this}}</div>
        {{/with}}
        <main class="VideoPage-main">
            {{include "/core/page/ContentPage-breadcrumbs.hbs" this}}
            <article class="VideoPage-mainContent" itemprop="mainEntity" itemscope itemtype="https://schema.org/VideoObject">
                {{#with headline}}
                    <h1 class="VideoPage-headline" itemprop="headline">{{this}}</h1>
                {{/with}}
                {{#with subHeadline}}
                    <div class="VideoPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                {{/with}}
                {{include "/core/page/ContentPage-breadcrumbs.hbs" this}}
                <div class="VideoPage-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
                    {{#with authorImage}}
                        <div class="VideoPage-authorImage" itemprop="image">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            <img alt="" src="{{src}}"
                            {{~#with srcset}} srcset="{{this}}"{{/with~}}
                            {{~#with width}} width="{{this}}"{{/with~}}
                            {{~#with height}} height="{{this}}"{{/with~}}
                        >
                        {{#with ../authorUrl}}</a>{{/with}}
                    </div>
                {{/with}}
                <div class="VideoPage-authorTexts">
                    {{#with authorName}}
                        <div class="VideoPage-authorName" itemprop="name">
                            {{#with ../authorUrl}}<a href="{{this}}">{{/with}}
                            {{this}}
                            {{#with ../authorUrl}}</a>{{/with}}
                        </div>
                    {{/with}}
                    {{#with authorBiography}}
                        <div class="VideoPage-authorBiography">{{this}}</div>
                    {{/with}}
                </div>
            </div>
            {{#with contributors}}
                <div class="VideoPage-contributors">
                    <h2 class="VideoPage-contributors-heading">{{format "/core/page/CreativeWorkPage" "contributorsHeading"}}</h2>
                    <div class="VideoPage-contributors-body">
                        {{~#each this~}}
                            {{~this~}}
                            {{~#unless @last}}, {{/unless~}}
                        {{~/each~}}
                    </div>
                </div>
            {{/with}}
            {{#with dateExpired}}
                <div class="VideoPage-dateExpired">{{dateExpired}}</div>
                {{#with dateExpiredISO}}
                    <meta itemprop="expires" content="{{this}}">
                {{/with}}
            {{/with}}
            <div class="VideoPage-datePublished">{{datePublished}}</div>
            {{#with datePublishedISO}}
                <meta itemprop="datePublished" content="{{this}}">
            {{/with}}
            <div class="VideoPage-dateModified">{{dateModified}}</div>
            {{#with dateModifiedISO}}
                <meta itemprop="dateModified" content="{{this}}">
            {{/with}}
            {{#with player}}
                <div class="VideoPage-player">{{this}}</div>
            {{/with}}
            <aside class="VideoPage-mediaProperties">
                {{#with bitrate}}
                    <div class="VideoPage-bitrate">
                        <h4 class="VideoPage-bitrate-heading">{{format "/core/page/MediaObjectPage" "bitrateHeading"}}</h4>
                        <div class="VideoPage-bitrate-body" itemprop="bitrate">{{this}}</div>
                    </div>
                {{/with}}
                {{#with caption}}
                    <div class="VideoPage-caption">
                        <h4 class="VideoPage-caption-heading">{{format "/core/video/VideoPage" "captionHeading"}}</h4>
                        <div class="VideoPage-caption-body" itemprop="caption">{{this}}</div>
                    </div>
                {{/with}}
                <div class="VideoPage-dimensions">
                    <h4 class="VideoPage-dimensions-heading">{{format "/core/page/MediaObjectPage" "dimensionsHeading"}}</h4>
                    <div class="VideoPage-dimensions-body">
                        {{~#with width}}
                            <span class="VideoPage-width-width" itemprop="width">{{this}}</span>
                        {{/with~}}
                        x
                        {{~#with height}}
                            <span class="VideoPage-height-height" itemprop="height">{{this}}</span>
                        {{/with~}}
                    </div>
                </div>
                {{#with duration}}
                    <div class="VideoPage-duration">
                        <h4 class="VideoPage-duration-heading">{{format "/core/page/MediaObjectPage" "durationHeading"}}</h4>
                        <div class="VideoPage-duration-body" itemprop="duration">{{this}}</div>
                    </div>
                {{/with}}
                {{#with embedUrl}}
                    <div class="VideoPage-embedUrl">
                        <h4 class="VideoPage-embedUrl-heading">{{format "/core/page/MediaObjectPage" "embedUrlHeading"}}</h4>
                        <div class="VideoPage-embedUrl-body" itemprop="embedUrl">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileFormat}}
                    <div class="VideoPage-fileFormat">
                        <h4 class="VideoPage-fileFormat-heading">{{format "/core/page/MediaObjectPage" "fileformatHeading"}}</h4>
                        <div class="VideoPage-fileFormat-body" itemprop="encodingFormat">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileSize}}
                    <div class="VideoPage-fileSize">
                        <h4 class="VideoPage-fileSize-heading">{{format "/core/page/MediaObjectPage" "fileSizeHeading"}}</h4>
                        <div class="VideoPage-fileSize-body" itemprop="contentSize">{{this}}</div>
                    </div>
                {{/with}}
                {{#with fileUrl}}
                    <div class="VideoPage-fileUrl">
                        <h4 class="VideoPage-fileUrl-heading">{{format "/core/page/MediaObjectPage" "fileUrlHeading"}}</h4>
                        <div class="VideoPage-fileUrl-body" itemprop="contentUrl">{{this}}</div>
                    </div>
                {{/with}}
                {{#with playerType}}
                    <div class="VideoPage-playerType">
                        <h4 class="VideoPage-playerType-heading">{{format "/core/page/MediaObjectPage" "playerTypeHeading"}}</h4>
                        <div class="VideoPage-playerType-body" itemprop="playerType">{{this}}</div>
                    </div>
                {{/with}}
                {{#with source}}
                    <div class="VideoPage-source">
                        <h4 class="VideoPage-source-heading">{{format "/core/page/CreativeWorkPage" "sourceHeading"}}</h4>
                        <div class="VideoPage-source-body" itemprop="sourceOrganization">{{this}}</div>
                    </div>
                {{/with}}
                {{#with status}}
                    <div class="VideoPage-status">{{this}}</div>
                {{/with}}
            </aside>
            {{#with playlist}}
                <aside class="VideoPage-playlist">
                    <h2 class="VideoPage-playlistTitle">{{format "/core/video/VideoPage" "playlistHeading"}}</h2>
                    <div class="VideoPage-playlistBody">{{this}}</div>
                </aside>
            {{/with}}
            <div class="VideoPage-pagination">
                {{#each pagination}}
                    {{~this~}}
                {{/each}}
            </div>
        </article>
        {{#with tags}}
            <div class="VideoPage-tags">
                <h2 class="VideoPage-tags-heading">{{format "/core/page/ContentPage" "tagsHeading"}}</h2>
                <div class="VideoPage-tags-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with countries}}
            <div class="VideoPage-countries">
                <h2 class="VideoPage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
                <div class="VideoPage-countries-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with brands}}
            <div class="VideoPage-brands">
                <h2 class="VideoPage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
                <div class="VideoPage-brands-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with products}}
            <div class="VideoPage-products">
                <h2 class="VideoPage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
                <div class="VideoPage-products-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with topics}}
            <div class="VideoPage-topics">
                <h2 class="VideoPage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
                <div class="VideoPage-topics-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with actions}}
            <div class="VideoPage-actions">
                <h2 class="VideoPage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
                <div class="VideoPage-actions-body">{{this}}</div>
            </div>
        {{/with}}
        {{#with comments}}
            <div class="VideoPage-comments">
                {{this}}
            </div>
        {{/with}}
    </main>
    {{#with aside}}
        <aside class="VideoPage-aside">{{this}}</aside>
    {{/with}}
    {{#with below}}
        <div class="VideoPage-below">{{this}}</div>
    {{/with}}
    <footer class="VideoPage-footer" itemscope itemtype="https://schema.org/WPFooter">
        {{#with footerLogo}}
            <div class="VideoPage-footerLogo">{{this}}</div>
        {{/with}}
        {{#with footerNavigation}}
            <div class="VideoPage-footerNavigation">{{this}}</div>
        {{/with}}
        {{#with footerContent}}
            <div class="VideoPage-footerContent">{{this}}</div>
        {{/with}}
        {{include "/core/page/Page-social.hbs" this}}
        {{#with disclaimer}}
            <div class="VideoPage-disclaimer">{{this}}</div>
        {{/with}}
    </footer>
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
