<div class="VideoLead">
    {{#with category}}
        <div class="VideoLead-category">
            {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this}}
        </div>
    {{/with}}
    {{#with duration}}
        <div class="VideoLead-duration">{{this}}</div>
    {{/with}}
    {{#with headline}}
        <div class="VideoLead-headline">{{this}}</div>
    {{/with}}
    {{#with subHeadline}}
        <div class="VideoLead-subHeadline">{{this}}</div>
    {{/with}}
    {{#with player}}
        <div class="VideoLead-player">{{this}}</div>
    {{/with}}
</div>
