{{#block "VideoEnhancement"}}
    <span class="{{blockName}}" data-video-disable-history>
        {{#element "title"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
        {{#element "actions"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
        {{#element "player"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
        {{#element "playlist"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
    </span>
{{/block}}