<!DOCTYPE html>
<html class="GalleryPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
    {{include "/core/page/Page-head.hbs" this}}
    <body class="GalleryPage-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}
        {{#if hidePromoDropShadow}} data-hide-promo-dropshadow{{/if}}
        {{#if promoModuleAlignment}} data-promo-module-alignment="{{promoModuleAlignment}}"{{/if}}
        {{#if boldMood}} data-mood-bold{{/if}}
        {{#if inlineSubheading}} data-subheading-inline="{{inlineSubheading}}"{{/if}}
        {{#if hideExternalLinkIcon}}data-hide-external-link-icon{{/if}}
        {{#if hat}}data-show-hat{{/if}}
        {{#if hideHeaderHat}}data-hide-header-hat{{/if}}
    >
    {{include "/core/page/Page-icons.hbs" this}}
    {{#with hat}}
        <div class="GalleryPage-hat">{{this}}</div>
    {{/with}}
    <header class="GalleryPage-header" data-with-toggle-menu itemscope itemtype="http://schema.org/WPHeader"
        {{#if mobileLeftAlignNavigation}}data-mobile-left-align-nav{{/if}}>
        <div class="GalleryPage-header-contentWrapper">
            {{#with logo}}
                <div class="GalleryPage-logo">
                    {{this}}
                </div>
            {{/with}}
            {{#with navigation}}
                <psd-toggler
                    class="GalleryPage-navigation-menuToggle"
                    aria-role="button"
                    aria-label="Menu"
                    aria-controls="navigation"
                    toggle-trigger="navigation">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"/></svg>
                    <svg class="close-x"><use xlink:href="#close-x"/></svg>
                </psd-toggler>
                <div class="GalleryPage-navigation" data-main-navigation data-toggle-item="navigation"{{#if ../navigationAlignment}}data-navigation-alignment="{{../navigationAlignment}}"{{/if}}>
                    {{this}}
                </div>
            {{/with}}
            {{#if searchAction}}
                <form class="Header-search" action="{{searchAction}}" novalidate="" autocomplete="off" data-header-search>
                    <input type="text" class="GalleryPage-searchInput" name="q" placeholder="{{format "/core/page/Page" "placeholderLabel"}}">
                    {{include "/core/page/Page-searchButton.hbs" this}}
                </form>
            {{/if}}
        </div>
    </header>
    <div class="GalleryPage-contentWrapper"
        data-negative-margin={{#if negativeMargin}}"{{negativeMargin}}"{{else}}default{{/if}}>
        {{include "/core/page/Page-sectionNavigation.hbs" this}}
        {{#with above}}
            <div class="GalleryPage-above">{{this}}</div>
        {{/with}}
        <div class="ScrollableContentContainer">
            <main class="GalleryPage-main">
                {{#if sectionNavigation}}
                    <div class="GalleryPage-sectionNavigation">
                        {{sectionNavigation}}
                    </div>
                {{/if}}
                <article class="GalleryPage-mainContent" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
                    {{#with headline}}
                        <h1 class="GalleryPage-headline" itemprop="headline">{{this}}</h1>
                    {{/with}}
                    {{#with subHeadline}}
                        <div class="GalleryPage-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
                    {{/with}}
                    {{#with galleryBody}}
                        <div class="GalleryPage-galleryBody">{{this}}</div>
                    {{/with}}
                    {{#with actions}}
                        <div class = GalleryPage-actions>
                            {{this}}
                        </div>
                    {{/with}}
                    {{#with slides}}
                        <div class="GalleryPage-slides">
                            {{include "/core/list/ListMasonry.hbs" items=this}}
                        </div>
                    {{/with}}
                </article>
            </main>
            {{!-- Making sure these don't show up in places we do not want even if they sneak into the json --}}
            {{include "/core/article/ArticlePage-breadcrumbs.hbs" this}}
            {{include "/core/article/ArticlePage-comments.hbs" this}}
            {{include "/core/article/ArticlePage-countries.hbs" this}}
            {{include "/core/article/ArticlePage-brands.hbs" this}}
            {{include "/core/article/ArticlePage-products.hbs" this}}
        </div>
        {{#with below}}
            <div class="GalleryPage-below">{{this}}</div>
        {{/with}}
    </div>
    {{include "/core/page/Page-footer.hbs" this}}
    {{include "/core/page/Page-SearchOverlay.hbs" this}}
    {{include "/core/page/Page-extraBodyItems.hbs" this}}
</body>
</html>
