<div class="SectionNavigationItem" {{extraAttributes}}>
    <div class="SectionNavigationItem-text">
        {{#if href}}
            <a class="SectionNavigationItem-text-link" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{extraAttributes}}>{{~text~}}</a>
        {{else}}
            {{~text~}}
        {{/if}}
    </div>
</div>
