{{#block "TabItem"}}
    <div class="{{blockName}}">
        {{#element "title"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}

        {{#element "content"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
    </div>
{{/block}}
