<div class="Tabs" data-widget="Tabs">
    {{#with title}}
        <h3 class="Tabs-title">{{this}}</h3>
    {{/with}}
    {{#with description}}
        <div class="Tabs-description">{{this}}</div>
    {{/with}}
    <!-- This creates the row of tabs for navigation -->
    {{#with tabs}}
        <ul class="Tabs-tabs">
            {{#each this}}
                <li>
                    <a class="Tabs-tab" href="#{{id}}" data-tab>{{label}}</a>
                </li>
            {{/each}}
        </ul>
    {{/with}}
    <div class="Tabs-content">
        {{#each tabs}}
            <div class="Tabs-panel" id="{{id}}" data-tab-panel>
                {{#with title}}
                    <div class="Tabs-title">{{this}}</div>
                {{/with}}
                {{this}}
            </div>
        {{/each}}
    </div>
</div>
