<div class="NavigationItem" {{extraAttributes}}
    {{#if displaySubNavigationHorizontally}} data-subnav-inline{{/if}}
    {{#if buttonStyle}} data-button-style="{{buttonStyle}}"{{/if}}
    {{#if items}} data-dropdown-icon{{/if}}
    {{#if mobileOnly}} data-mobile-only{{/if}}
>
<div class="NavigationItem-text">
    {{#if href}}
        <a class="NavigationItem-text-link" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}{{extraAttributes}}{{#if mobileText}} data-mobile-text="{{mobileText}}"{{/if}}>{{~text~}}</a>
    {{else}}
        {{~text~}}
    {{/if}}
    {{#if items}}<svg class="icon-dropdown"><use xlink:href="#icon-dropdown"/></svg>{{/if}}
</div>
{{#if items}}
    <ul class="NavigationItem-items" data-toggle-item="navItem">
        {{#with items}}
            {{#each this}}
                <li class="NavigationItem-items-item" {{#if this.isCurrent}}data-active{{/if}}>{{~this~}}</li>
            {{/each}}
        {{/with}}
    </ul>
{{/if}}
</div>
