<bsp-video-playlist-module data-module class="VideoPlaylistModule"
    {{~#with playlistLayout}} data-playlist-layout="{{this}}"{{/with~}}
    {{~#with playlistPlayerLayout}} data-playlist-player-layout="{{this}}"{{/with~}}
    {{~#with videoTitleSize}} data-video-title-size="{{this}}"{{/with~}}
    {{~#with videoDescriptionSize}} data-video-description-size="{{this}}"{{/with~}}
    {{~include "/global/ModuleAttributes.hbs" this~}}
    >
    {{include "/global/ModuleHeader.hbs" this}}

    <div class="VideoPlaylistModule-body">
        {{#with playlist.[0]}}
            <div class="VideoPlaylistModule-currentItem" data-player-container>
                {{include '/video/includes/VideoPlaylistPlayer.hbs' this}}
            </div>
        {{/with}}
        {{#with playlist}}
            <div class="VideoPlaylistModule-playlist">
                <div class="VideoPlaylistModule-playlist-items" data-playlist-items>
                    {{#each this}}
                        <div class="VideoPlaylistModule-playlist-items-item">
                            {{include "/video/VideoPlaylistItem.hbs" this isCurrent=(eq @index 0)}}
                        </div>
                    {{/each}}
                </div>
                <div class="VideoPlaylistModule-playlistNavigation">
                    <button data-scroll-backward>
                        {{include (iconPath 'caret-down')}}
                    </button>
                    <button data-scroll-forward>
                        {{include (iconPath 'caret-down')}}
                    </button>
                </div>
            </div>
        {{/with}}
    </div>

    {{include "/page/list/includes/PageList-footer.hbs" this}}
</bsp-video-playlist-module>
