{{#block "Quote" extend="_SourceQuote.hbs"}}
    <div class="{{blockName}}" {{extraAttributes}}>
        <blockquote {{#if textColor}}style="color:{{textColor}}"{{/if}}>
            {{~#element "quote" noWith=true~}}
                {{~quote~}}
            {{~/element~}}
        </blockquote>
        {{#element "attribution"}}
            <div class="{{elementName}}" {{#if ../textColor}}style="color:{{../textColor}}"{{/if}}>{{this}}</div>
        {{/element}}
    </div>
{{/block}}
