<div class="CarouselSlide" {{extraAttributes}}>
    <div class="CarouselSlide-media">
        {{#each mediaContent}}
            {{#set imageSize="large"}}
                {{#set lazyLoad=false}}
                    {{include "/image/Image.hbs" this}}
                {{/set}}
            {{/set}}
        {{/each}}
    </div>
    <div class="CarouselSlide-info">
        <span class="CarouselSlide-currentSlide">{{add slideNumber 1}}</span>/<span class="CarouselSlide-slidesLength">{{numberOfSlides}}{{#if infoTitle}}:&nbsp;{{/if}}</span>{{~#with infoTitle~}}<span class="CarouselSlide-infoTitle">{{~this~}}&nbsp;<span class="CarouselSlide-infoAttribution">({{../infoAttribution}})</span>{{~/with~}}
    </div>
</div>
