<div class="RichTextHeading">
    <{{tag}}>
        {{~#if anchorId~}}
        <a class="RichTextHeading-anchorLink" id="{{anchorId}}" href="#{{anchorId}}" name="{{anchorId}}">
    {{~/if~}}
        {{~text~}}
    {{~#if anchorId~}}
        </a>
    {{~/if~}}
    </{{tag}}>


</div>

